<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="29f1997a-421e-40c1-a58f-ea95a949899d" Alias="tabPage" Level="3">
  <Info>
    <Name>Tab Page</Name>
    <Icon>icon-shape-rectangle-horizontal color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Models</Folder>
    <Compositions>
      <Composition Key="6053592f-6744-4eb8-9f43-e7094ca424ce">tabPageHeader</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b517b5d8-cc9b-40e2-8fc9-1df9baee5523</Key>
      <Name>Tab Page Content</Name>
      <Alias>tabPageContent</Alias>
      <Definition>3aecbb01-f571-4d13-b175-9b4e8e4507c2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="tabContent">Tab Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c49f90af-c22e-4821-b8ba-09caf18aba82</Key>
      <Caption>Tab Content</Caption>
      <Alias>tabContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>