################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs
/src/ABP.Web.Core/bin/Release/net9.0/ABP.Web.Core.dll
/src/ABP.Web.Core/bin/Release/net9.0/ABP.Web.Core.pdb
/src/ABP.Web.Core/bin/Release/net9.0/ABP.Web.Models.dll
/src/ABP.Web.Core/bin/Release/net9.0/ABP.Web.Models.pdb
/src/ABP.Web.Core/obj/Debug/net9.0/ABP.Web.Core.AssemblyInfo.cs
/src/ABP.Web.Core/obj/Debug/net9.0/ABP.Web.Core.AssemblyInfoInputs.cache
/src/ABP.Web.Core/obj/Debug/net9.0/ABP.Web.Core.csproj.AssemblyReference.cache
/src/ABP.Web.Core/obj/Release/net9.0/ref/ABP.Web.Core.dll
/src/ABP.Web.Core/obj/Release/net9.0/refint/ABP.Web.Core.dll
/src/ABP.Web.Core/obj/Release/net9.0/ABP.Web.Core.AssemblyInfo.cs
/src/ABP.Web.Core/obj/Release/net9.0/ABP.Web.Core.AssemblyInfoInputs.cache
/src/ABP.Web.Core/obj/Release/net9.0/ABP.Web.Core.csproj.AssemblyReference.cache
/src/ABP.Web.Core/obj/Release/net9.0/ABP.Web.Core.dll
/src/ABP.Web.Core/obj/Release/net9.0/ABP.Web.Core.pdb
/src/ABP.Web.Core/obj/Release/net9.0/ABP.Web.Core.sourcelink.json
/src/ABP.Web.Models/bin/Release/net9.0/ABP.Web.Models.dll
/src/ABP.Web.Models/bin/Release/net9.0/ABP.Web.Models.pdb
/src/ABP.Web.Models/obj/Debug/net9.0/ABP.Web.Models.AssemblyInfo.cs
/src/ABP.Web.Models/obj/Debug/net9.0/ABP.Web.Models.AssemblyInfoInputs.cache
/src/ABP.Web.Models/obj/Release/net9.0/ref/ABP.Web.Models.dll
/src/ABP.Web.Models/obj/Release/net9.0/refint/ABP.Web.Models.dll
/src/ABP.Web.Models/obj/Release/net9.0/ABP.Web.Models.AssemblyInfo.cs
/src/ABP.Web.Models/obj/Release/net9.0/ABP.Web.Models.AssemblyInfoInputs.cache
/src/ABP.Web.Models/obj/Release/net9.0/ABP.Web.Models.csproj.CoreCompileInputs.cache
/src/ABP.Web.Models/obj/Release/net9.0/ABP.Web.Models.dll
/src/ABP.Web.Models/obj/Release/net9.0/ABP.Web.Models.pdb
/src/ABP.Web.Models/obj/Release/net9.0/ABP.Web.Models.sourcelink.json
