<?xml version="1.0" encoding="utf-8"?>
<DataType Key="55e0b1d9-8022-4210-b7c4-5b7090130eb8" Alias="Accordian - Accordian Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Accordian - Accordian Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e75e533f-04e9-4279-b8c0-afa844810fbd",
      "label": "Accordian list"
    }
  ]
}]]></Config>
</DataType>