<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d560d67-c12b-4097-b35b-4656d38f8dab" Alias="Article - Region - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Article - Region - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "deb67c7e-7f21-4f4c-ae21-53ed6792835b",
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>