<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5922818-d8d8-43df-88ed-4582a24c0fa6" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e9eaee4e-c9d6-4456-b6fd-e71a1ad073d9",
      "label": "${title}"
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {
    "min": null,
    "max": null
  }
}]]></Config>
</DataType>