<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6a6dbbd-6926-4f33-a901-a79622f67ce2" Alias="Board Of Directors - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Board Of Directors - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "966e1886-990f-4a08-b760-d26d65e74c90",
      "label": "${directorName}",
      "settingsElementTypeKey": "02180d87-1eea-45d9-93a6-1e38f2ee0165",
      "thumbnail": "/wwwroot/thumps/director.png"
    }
  ]
}]]></Config>
</DataType>