<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3fbfe212-5fad-4d60-8581-1737a921d2e8" Alias="Cards With Image And Title - Cards - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Cards With Image And Title - Cards - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "95e9d253-da00-42d4-869d-63e1afbcfc99",
      "label": "${title}",
      "thumbnail": "/wwwroot/thumps/card-with-image-title.png"
    }
  ]
}]]></Config>
</DataType>