<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91182b35-0fcf-4c87-bc7e-9be87e03a8ed" Alias="Cards with Below Title - Title Cards - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Cards with Below Title - Title Cards - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
      "label": "Title With Image And CTA"
    }
  ]
}]]></Config>
</DataType>