<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b433818-129c-4bb8-a62e-4817317746e8" Alias="Carousel Tabs Block" Level="1">
  <Info>
    <Name>Carousel Tabs Block</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5ca4ea63-5182-4a96-8d27-00c658f09cd9",
      "label": "Carousel-{{carouselItemName}}"
    }
  ]
}]]></Config>
</DataType>