<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6712298a-f3f7-473d-8343-30094e2f9aaf" Alias="Director Profile Picker - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Director Profile Picker - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "681511ae-1669-4247-a92b-52d81807b11a",
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>