<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01cd640a-bf01-4a51-9095-562125549e12" Alias="Footer Contact - Footer Social Links - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Footer Contact - Footer Social Links - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9b06d37e-a063-4412-8e29-a317ab45b58b",
      "label": "${socialLink[0].name}"
    }
  ]
}]]></Config>
</DataType>