<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b7878a8-09ff-40b2-9547-7ebb30f66df5" Alias="Header Bottom Image CTA - Image - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Header Bottom Image CTA - Image - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>