<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce19882f-30a1-4426-a324-20aca32dd8c9" Alias="Home - Hover Logo - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Home - Hover Logo - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>