<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee37fe0c-744e-4997-89cf-5e34f9d0e64a" Alias="Home - Header Top - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home - Header Top - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>