<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65a012f9-a3ca-4587-aef3-8e48698f91f8" Alias="Icon List - Icons - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Icon List - Icons - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "17db13ba-bbd9-4a44-b28f-986301156754",
      "label": "Icon Link Row"
    }
  ]
}]]></Config>
</DataType>