<?xml version="1.0" encoding="utf-8"?>
<DataType Key="916022b3-c286-45eb-9461-ab7b27cbcd6e" Alias="Map Info Item - Icons - Checkbox List Property Editor UI" Level="1">
  <Info>
    <Name>Map Info Item - Icons - Checkbox List Property Editor UI</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.CheckBoxList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "agribulk",
    "alternativeEnergy",
    "bulkEnergy",
    "car",
    "ccus",
    "container",
    "cruise",
    "drops",
    "dryBulks",
    "girder",
    "hardHat",
    "hydrogenEnergy",
    "energy",
    "projectCargo",
    "roro",
    "shorePower",
    "train",
    "tree",
    "yacht",
    "deep-water",
    "dry-port",
    "electric-car",
    "electric-fl",
    "electric-rtg",
    "energy-storage",
    "lng",
    "mhc",
    "pilot-boat",
    "port-manifecturing",
    "renewables",
    "solar",
    "stevedoring",
    "wind"
  ]
}]]></Config>
</DataType>