<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d860070d-6186-4a46-b931-fb951b2f047a" Alias="Map Info Item - Info Items - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>Map Info Item - Info Items - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0
}]]></Config>
</DataType>