<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61b3c731-9ad6-4017-9fae-ebc7d6d5c78c" Alias="Map Primary - Info Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Map Primary - Info Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "49d1027d-0349-4b2d-a03b-44630d4c3136",
      "label": "${title}",
      "thumbnail": "/wwwroot/thumps/port info.png"
    }
  ]
}]]></Config>
</DataType>