<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c53feed-ba4b-4c1b-9f5f-3f6fb26281e3" Alias="Markdown Editor Property Editor UI" Level="1">
  <Info>
    <Name>Markdown Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "preview": true
}]]></Config>
</DataType>