<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6052ea2b-d32f-4a3c-9e1e-a224b6eacc22" Alias="Non Executive Directors - Directors - Content Picker Property Editor UI" Level="1">
  <Info>
    <Name>Non Executive Directors - Directors - Content Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "681511ae-1669-4247-a92b-52d81807b11a",
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>