<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8dbc2983-1ab9-4803-ae64-638dfeabf56c" Alias="Oski TextArea - Generate Text" Level="1">
  <Info>
    <Name>Oski TextArea - Generate Text</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.OskiTexArea</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>