<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bd585e04-bf2f-4180-85e6-3e28ea9ece8c" Alias="PageNavigation" Level="1">
  <Info>
    <Name>PageNavigation</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d264805e-d3a8-4583-aadf-fd152b755f39",
      "label": "Navigation"
    }
  ]
}]]></Config>
</DataType>