<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d272dfc7-bec6-4d4e-9761-7a75eb3634f4" Alias="Rich Text With Image - Image - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Rich Text With Image - Image - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>