<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0906c1d1-96d5-4cc0-b298-89289970fbab" Alias="Stats - Information - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Stats - Information - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b0987db9-f7bf-41cc-be40-707ee524f176",
      "label": "Stats Info"
    }
  ]
}]]></Config>
</DataType>