<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83f19b26-be22-4412-989b-b7b26380f997" Alias="Sub Navigation Links - Link Columns - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Sub Navigation Links - Link Columns - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bb837ace-b9e1-4aa9-b35e-51e6d5937a79",
      "label": "Column Name"
    }
  ]
}]]></Config>
</DataType>