<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44061276-e569-4251-aab8-eb7f4cac56f7" Alias="Sub Navigation Blocks" Level="1">
  <Info>
    <Name>Sub Navigation Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9b657f3a-d36e-4c3f-99e8-25e86c90e477",
      "label": "Sub Navigation List"
    }
  ]
}]]></Config>
</DataType>