<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f4e2a34-b257-4b39-a725-d2e77a80ca49" Alias="Table With Head Layout - Table Editor - Markdown Editor Property Editor UI" Level="1">
  <Info>
    <Name>Table With Head Layout - Table Editor - Markdown Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "preview": true
}]]></Config>
</DataType>