<?xml version="1.0" encoding="utf-8"?>
<DataType Key="876e5b47-e003-4321-aaaf-f9a8e4d082b8" Alias="Table with Head Layouts - Table Editor - Markdown Editor Property Editor UI" Level="1">
  <Info>
    <Name>Table with Head Layouts - Table Editor - Markdown Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.MarkdownEditor</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MarkdownEditor</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "preview": true
}]]></Config>
</DataType>