<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4f042e2-8973-4097-acd1-410b1ee266b6" Alias="Tab Page Header - Tab Active - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Tab Page Header - Tab Active - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>