<?xml version="1.0" encoding="utf-8"?>
<DataType Key="12b0b626-4cde-4e53-bb74-fb5f4fdda996" Alias="Text With Multiple Cards - Cards - " Level="1">
  <Info>
    <Name>Text With Multiple Cards - Cards - </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3e804d19-999a-4804-971c-38dac9d4d3fe",
      "label": "Cards"
    }
  ]
}]]></Config>
</DataType>