<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f62b249-6fc2-4ed5-b2f8-df6276d33d05" Alias="Top Header Mega Menu Item - Is External Link - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Top Header Mega Menu Item - Is External Link - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": true,
  "labelOff": "Internal Link",
  "labelOn": "External Link",
  "showLabels": true
}]]></Config>
</DataType>