<?xml version="1.0" encoding="utf-8"?>
<Content Key="e36f6885-03a9-461f-819b-853c3b4f895a" Alias="2016 Annual Review" Level="5">
  <Info>
    <Parent Key="c1f78004-b38e-432a-8357-a0cab0cf636c">2016</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//AnnualReview</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:15:16</CreateDate>
    <NodeName Default="2016 Annual Review" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2016-07-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "df89d566-d580-452b-bb3b-be64780e4bdb",
    "mediaKey": "6c61949a-f6b3-4802-8437-872fd5536d1a"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[2016 Annual Review]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>