<?xml version="1.0" encoding="utf-8"?>
<Content Key="81e914e8-9821-4118-84e9-a4f84ae5929a" Alias="2017 Report Magazine Issue 4" Level="5">
  <Info>
    <Parent Key="027cb90c-3f99-4c04-a1ed-5f3ea70f15ad">2017</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ReportMagazineIssue4</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:14:10</CreateDate>
    <NodeName Default="2017 Report Magazine Issue 4" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2017-11-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "7ec7f948-1563-4cc6-a419-2713d020d174",
    "mediaKey": "f0c9ecd8-f553-4235-8ad3-0c79061e3cf3"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[2017 Report Magazine Issue 4]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>