<?xml version="1.0" encoding="utf-8"?>
<Content Key="4599ac5a-74e3-4df4-9f31-fdd5e5bda6ac" Alias="2017 Annual Review" Level="5">
  <Info>
    <Parent Key="027cb90c-3f99-4c04-a1ed-5f3ea70f15ad">2017</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//AnnualReview</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:14:29</CreateDate>
    <NodeName Default="2017 Annual Review" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2017-07-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "44409bdd-f7e6-447d-a659-f94f6e975ccf",
    "mediaKey": "6541bab5-62fc-4e71-a3f4-765a82a6aea7"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[2017 Annual Review]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>