<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ddf82c2-5c78-46d8-ab02-6e38682607d0" Alias="2018 Report Magazine Issue 7" Level="5">
  <Info>
    <Parent Key="ff782bad-c165-41eb-a3de-4d7541efcd82">2018</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ReportMagazineIssue7</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:13:05</CreateDate>
    <NodeName Default="2018 Report Magazine Issue 7" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2018-09-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "d83d216c-2d3e-49d5-9a27-2f9cffffd06b",
    "mediaKey": "b3e73c48-750b-49b8-9f4d-6a497ec9233f"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[2018 Report Magazine Issue 7]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>