<?xml version="1.0" encoding="utf-8"?>
<Content Key="5fb4700e-0315-4865-9109-498cc5f3842e" Alias="2018 Report Magazine Issue 8" Level="5">
  <Info>
    <Parent Key="ff782bad-c165-41eb-a3de-4d7541efcd82">2018</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ReportMagazineIssue8</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:13:00</CreateDate>
    <NodeName Default="2018 Report Magazine Issue 8" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2018-11-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "2e230d3c-91b5-4b9b-babe-c5f9152c8e6d",
    "mediaKey": "c238a6a7-72ad-4710-94f1-12d91d8fecfe"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[2018 Report Magazine Issue 8]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>