<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9b393c1-d119-45df-ac40-e9ba5a3b6b15" Alias="2019" Level="4">
  <Info>
    <Parent Key="03a2d4d3-000b-4608-b903-64332553d45b">Publications Download</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload/</Path>
    <Trashed>false</Trashed>
    <ContentType>repository</ContentType>
    <CreateDate>2025-11-18T15:11:45</CreateDate>
    <NodeName Default="2019" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>