<?xml version="1.0" encoding="utf-8"?>
<Content Key="003f0640-2b22-43cf-aaf4-42aa9f6870db" Alias="2020 Report Magazine Issue 13" Level="5">
  <Info>
    <Parent Key="cd5f5d4e-075c-4f49-97e4-6206c4a113ec">2020</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ReportMagazineIssue13</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:11:08</CreateDate>
    <NodeName Default="2020 Report Magazine Issue 13" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2020-08-18T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "8eef2812-a5da-4240-b160-2030beaabff8",
    "mediaKey": "773c6228-1cf1-44f1-b0e6-2595aa590ee1"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[2020 Report Magazine Issue 13]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>