<?xml version="1.0" encoding="utf-8"?>
<Content Key="db1bf1ab-5e57-4e06-a824-fcd99b3d2b0c" Alias="2020 Report Magazine Issue 14" Level="5">
  <Info>
    <Parent Key="cd5f5d4e-075c-4f49-97e4-6206c4a113ec">2020</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ReportMagazineIssue14</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:11:01</CreateDate>
    <NodeName Default="2020 Report Magazine Issue 14" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2020-12-15T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "089382c0-7eea-4dc9-9fd0-d4fb9de80731",
    "mediaKey": "49141b24-7705-4e34-ad8d-1e99d3d882e1"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[2020 Report Magazine Issue 14]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>