<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9a35945-1c3a-44ac-bbc1-5cf71097b32c" Alias="2023" Level="4">
  <Info>
    <Parent Key="a119e157-e7db-4780-978f-c6ba7c1f7c14">Articles And Blog</Parent>
    <Path>/Abports/NewsAndMedia/ArticlesAndBlog/</Path>
    <Trashed>false</Trashed>
    <ContentType>repository</ContentType>
    <CreateDate>2025-11-11T10:05:50</CreateDate>
    <NodeName Default="2023" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>