<?xml version="1.0" encoding="utf-8"?>
<Content Key="74a30a73-5e72-4778-a6e2-51c6df041a2a" Alias="2025" Level="4">
  <Info>
    <Parent Key="a119e157-e7db-4780-978f-c6ba7c1f7c14">Articles And Blog</Parent>
    <Path>/Abports/NewsAndMedia/ArticlesAndBlog/</Path>
    <Trashed>false</Trashed>
    <ContentType>repository</ContentType>
    <CreateDate>2025-11-10T12:57:22</CreateDate>
    <NodeName Default="2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>