<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf8debbc-0f52-4d55-944f-07932a0d8fb3" Alias="2025" Level="4">
  <Info>
    <Parent Key="dc00e917-3bb4-4775-9501-cbb912d84589">Latest News</Parent>
    <Path>/Home/NewsAndMedia/LatestNews/</Path>
    <Trashed>false</Trashed>
    <ContentType>repository</ContentType>
    <CreateDate>2025-10-31T20:54:25</CreateDate>
    <NodeName Default="2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>