<?xml version="1.0" encoding="utf-8"?>
<Content Key="29bc52a4-4b2e-4e90-979b-d40d342c0c6a" Alias="404" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2025-09-24T09:50:15</CreateDate>
    <NodeName Default="404" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d3032a7c-0f1e-43bc-835c-5af61aa3b6c0">errorPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Revisit Hompage and Try Again ]]></Value>
    </description>
    <title>
      <Value><![CDATA[The Page is not available opps]]></Value>
    </title>
  </Properties>
</Content>