<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e54a341-315a-4200-bab1-63d58d059c30" Alias="ABP Gender Pay Gap Report 2019" Level="5">
  <Info>
    <Parent Key="cd5f5d4e-075c-4f49-97e4-6206c4a113ec">2020</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ABPGenderPayGapReport2019</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:11:28</CreateDate>
    <NodeName Default="ABP Gender Pay Gap Report 2019" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2020-03-27T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "aa812702-4794-44e3-bf1c-b634393fcb7c",
    "mediaKey": "8bbe3960-0ef1-4a6f-b804-4d0e30c4cf23"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[ABP Gender Pay Gap Report 2019]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>