<?xml version="1.0" encoding="utf-8"?>
<Content Key="1683c375-d51b-4d96-8d93-0112e3eeae9f" Alias="ABP Gender Pay Gap Report 2018" Level="5">
  <Info>
    <Parent Key="ff782bad-c165-41eb-a3de-4d7541efcd82">2018</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ABPGenderPayGapReport2018</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:13:18</CreateDate>
    <NodeName Default="ABP Gender Pay Gap Report 2018" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2018-06-10T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "e8ddd5e5-1058-4a86-93db-1578a6eb9047",
    "mediaKey": "1c83c660-1a36-4136-9fe3-a133415c3c89"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[ABP Gender Pay Gap Report 2018]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>