<?xml version="1.0" encoding="utf-8"?>
<Content Key="089654df-899e-4081-a60d-0f880e3b26f7" Alias="ABP Graduate Brochure 2025" Level="5">
  <Info>
    <Parent Key="fe6a80c6-200e-43fe-8799-6ba03b71b75e">2024</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ABPGraduateBrochure2025</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:07:43</CreateDate>
    <NodeName Default="ABP Graduate Brochure 2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-10-22T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "2c6c2018-439d-48c4-9438-3bc07b604f68",
    "mediaKey": "8bc42a74-3db5-4de1-937f-da539368d105"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[ABP Graduate Brochure 2025]]></Value>
    </title>
    <type>
      <Value><![CDATA[umb://document/b84794fe734f4c6cafc40de21a778f28]]></Value>
    </type>
  </Properties>
</Content>