<?xml version="1.0" encoding="utf-8"?>
<Content Key="1afb7848-bf70-4009-a1b6-809a094c53ca" Alias="ABP holds Clean Power 2030 Parliamentary Reception (22)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ABPHoldsCleanPower2030ParliamentaryReception</Path>
    <Trashed Parent="74a30a73-5e72-4778-a6e2-51c6df041a2a">true</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-11-11T01:47:45</CreateDate>
    <NodeName Default="ABP holds Clean Power 2030 Parliamentary Reception (22)" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-03-09T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/b40d1e0bdee541378285a52915015c1a, umb://document/1279fdc8332d4109bb120abf45c5983a]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "afb177eb-b90f-4b50-b6d2-cb71d8a04a7c",
      "udi": "umb://element/afb177ebb90f4b50b6d2cb71d8a04a7c",
      "values": [],
      "RawPropertyValues": {
        "content": "\u003Cp\u003EHello\u003C/p\u003E"
      }
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "afb177eb-b90f-4b50-b6d2-cb71d8a04a7c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "afb177eb-b90f-4b50-b6d2-cb71d8a04a7c",
        "contentUdi": "umb://element/afb177ebb90f4b50b6d2cb71d8a04a7c",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7365dc7b-05f1-4628-8d94-e5a52e9c6960",
    "mediaKey": "d8c8826f-b4d1-4d9f-9712-75288c0861d1",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <newRich>
      <Value><![CDATA[]]></Value>
    </newRich>
    <region>
      <Value><![CDATA[umb://document/2261a5f12e99408eb7033005c9a87a29]]></Value>
    </region>
    <richContent>
      <Value><![CDATA[]]></Value>
    </richContent>
    <subtitle>
      <Value><![CDATA[News and Media ARTICLES AND BLOGS]]></Value>
    </subtitle>
    <testLabel>
      <Value><![CDATA[]]></Value>
    </testLabel>
    <title>
      <Value><![CDATA[ABP holds Clean Power 2030 Parliamentary Reception]]></Value>
    </title>
    <topContent>
      <Value><![CDATA[]]></Value>
    </topContent>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>