<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcac44d7-d0b3-4a67-b89d-44fe26d6003a" Alias="ABP holds Clean Power 2030 Parliamentary Reception" Level="5">
  <Info>
    <Parent Key="74a30a73-5e72-4778-a6e2-51c6df041a2a">2025</Parent>
    <Path>/Abports/NewsAndMedia/ArticlesAndBlog//ABPHoldsCleanPower2030ParliamentaryReception</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-11-10T16:12:07</CreateDate>
    <NodeName Default="ABP holds Clean Power 2030 Parliamentary Reception" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-03-09T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <categories>
      <Value><![CDATA[1686,1707]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "3f0a1750-f1d9-4278-a359-2c1857a2d183",
    "mediaKey": "d8c8826f-b4d1-4d9f-9712-75288c0861d1",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <newRich>
      <Value><![CDATA[]]></Value>
    </newRich>
    <region>
      <Value><![CDATA[]]></Value>
    </region>
    <richContent>
      <Value><![CDATA[]]></Value>
    </richContent>
    <subtitle>
      <Value><![CDATA[News and Media ARTICLES AND BLOGS]]></Value>
    </subtitle>
    <testLabel>
      <Value><![CDATA[]]></Value>
    </testLabel>
    <title>
      <Value><![CDATA[ABP holds Clean Power 2030 Parliamentary Reception]]></Value>
    </title>
    <topContent>
      <Value><![CDATA[]]></Value>
    </topContent>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>