<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6bf9f3d-51ee-4e6a-8afe-b07a71e5a69f" Alias="ABP Property Brochure" Level="5">
  <Info>
    <Parent Key="027cb90c-3f99-4c04-a1ed-5f3ea70f15ad">2017</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ABPPropertyBrochure</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:14:23</CreateDate>
    <NodeName Default="ABP Property Brochure" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2017-09-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "40cb375b-63d9-4c6d-84fd-b2e0e99748ba",
    "mediaKey": "b9d30607-837e-4624-8e07-ae994feffa85"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[ABP Property Brochure]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>