<?xml version="1.0" encoding="utf-8"?>
<Content Key="209ed230-0ac7-434c-ac72-eb14e4badb21" Alias="ABP holds Clean Power 2030 Parliamentary Reception (10)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ABPHoldsCleanPower2030ParliamentaryReception</Path>
    <Trashed Parent="74a30a73-5e72-4778-a6e2-51c6df041a2a">true</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-11-10T17:02:48</CreateDate>
    <NodeName Default="ABP holds Clean Power 2030 Parliamentary Reception (10)" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-03-09T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <categories>
      <Value><![CDATA[System.Collections.Generic.List`1[Umbraco.Cms.Core.GuidUdi]]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "5aea79bb-f278-402c-b57e-9265f8430971",
    "mediaKey": "d8c8826f-b4d1-4d9f-9712-75288c0861d1",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <newRich>
      <Value><![CDATA[]]></Value>
    </newRich>
    <region>
      <Value><![CDATA[]]></Value>
    </region>
    <richContent>
      <Value><![CDATA[]]></Value>
    </richContent>
    <subtitle>
      <Value><![CDATA[News and Media ARTICLES AND BLOGS]]></Value>
    </subtitle>
    <testLabel>
      <Value><![CDATA[]]></Value>
    </testLabel>
    <title>
      <Value><![CDATA[ABP holds Clean Power 2030 Parliamentary Reception]]></Value>
    </title>
    <topContent>
      <Value><![CDATA[]]></Value>
    </topContent>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>