<?xml version="1.0" encoding="utf-8"?>
<Content Key="f72d16f9-4922-49f3-af58-1b9e7f053c35" Alias="ABP UK Development English" Level="5">
  <Info>
    <Parent Key="683ecdb4-772b-4852-b038-cca9caeaaf94">2015</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ABPUKDevelopmentEnglish</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:15:54</CreateDate>
    <NodeName Default="ABP UK Development English" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2015-10-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "4f630829-88aa-4fd4-b479-84965f4655e9",
    "mediaKey": "86818d71-657a-4c35-b03c-3d724b0b8d46"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[ABP UK Development English]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>