<?xml version="1.0" encoding="utf-8"?>
<Content Key="14e24d75-3e60-46ee-9a6a-746ef1ef4155" Alias="Apprenticeship Brochure 2020" Level="5">
  <Info>
    <Parent Key="cd5f5d4e-075c-4f49-97e4-6206c4a113ec">2020</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ApprenticeshipBrochure2020</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:11:36</CreateDate>
    <NodeName Default="Apprenticeship Brochure 2020" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2020-02-27T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "31596cd2-6060-4066-a3a1-a635af6dc10e",
    "mediaKey": "73d1f14d-a5ec-472f-bf91-f7127f4d5b9e"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[Apprenticeship Brochure 2020]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>