<?xml version="1.0" encoding="utf-8"?>
<Content Key="8feb23e8-c029-4f87-a391-e113bb01c922" Alias="Apprenticeship Brochure 2021" Level="5">
  <Info>
    <Parent Key="dc6a5240-1dd9-424c-af01-dd33330a953b">2021</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//ApprenticeshipBrochure2021</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:10:48</CreateDate>
    <NodeName Default="Apprenticeship Brochure 2021" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2021-02-08T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "bd0b1c2f-f4f7-4da7-af06-fe24092b6c0e",
    "mediaKey": "8fe35149-d481-4dfe-8a06-4da8e69efb7d"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[Apprenticeship Brochure 2021]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>