<?xml version="1.0" encoding="utf-8"?>
<Content Key="a119e157-e7db-4780-978f-c6ba7c1f7c14" Alias="Articles And Blog" Level="3">
  <Info>
    <Parent Key="67af2d2a-7c4a-435a-93c7-ebb51295c078">News And Media</Parent>
    <Path>/Abports/NewsAndMedia/ArticlesAndBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleList</ContentType>
    <CreateDate>2025-11-10T12:38:43</CreateDate>
    <NodeName Default="Articles And Blog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="26611ae1-1548-4ba5-a696-0cabed50057c">articleList</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>