<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0adf961-f591-46ac-98fc-ca0d1d04a8a8" Alias="Careers" Level="4">
  <Info>
    <Parent Key="bbdad23b-fe07-47f5-bd83-3d691e7f5263">Subject</Parent>
    <Path>/Abports/Repository/Subject/Careers</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T19:11:03</CreateDate>
    <NodeName Default="Careers" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>