<?xml version="1.0" encoding="utf-8"?>
<Content Key="32447191-42c7-4f29-bd4d-50e4ef1f9ace" Alias="Commercial" Level="4">
  <Info>
    <Parent Key="bbdad23b-fe07-47f5-bd83-3d691e7f5263">Subject</Parent>
    <Path>/Abports/Repository/Subject/Commercial</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T19:12:03</CreateDate>
    <NodeName Default="Commercial" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>