<?xml version="1.0" encoding="utf-8"?>
<Content Key="2cb4c092-564a-42c6-9b18-bd31e117004e" Alias="Community" Level="3">
  <Info>
    <Parent Key="31523089-f648-4883-9087-ef9a0b83129f">Blog</Parent>
    <Path>/Home/Blog/Community</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-09-16T18:00:09</CreateDate>
    <NodeName Default="Community" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2023-07-28T12:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[umb://document/bd6a503ac2f247159e97fd2530c3e5b3]]></Value>
    </author>
    <categories>
      <Value><![CDATA[umb://document/13ea3528c98a4b0fbb84e036408a092a]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "1f38db60-f7ca-49ed-8b86-9fa52ca52859",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "b34201b6-030c-4f12-a8bd-85ff290caf1b",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "02180d87-1eea-45d9-93a6-1e38f2ee0165",
      "key": "701214a0-d313-4f21-94a4-f8d14f34a747",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "02180d87-1eea-45d9-93a6-1e38f2ee0165",
      "key": "9d341e7f-a5d9-44d4-aa1f-a7658883436a",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "1f38db60-f7ca-49ed-8b86-9fa52ca52859",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b34201b6-030c-4f12-a8bd-85ff290caf1b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1f38db60-f7ca-49ed-8b86-9fa52ca52859",
        "contentUdi": null,
        "settingsKey": "701214a0-d313-4f21-94a4-f8d14f34a747",
        "settingsUdi": null
      },
      {
        "contentKey": "b34201b6-030c-4f12-a8bd-85ff290caf1b",
        "contentUdi": null,
        "settingsKey": "9d341e7f-a5d9-44d4-aa1f-a7658883436a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "655ab7d6-85ac-43b4-860e-51c3bb0a62cf",
    "mediaKey": "db22bb69-b0ae-44bb-9019-a3e6498d4c25",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <newRich>
      <Value><![CDATA[]]></Value>
    </newRich>
    <region>
      <Value><![CDATA[]]></Value>
    </region>
    <richContent>
      <Value><![CDATA[]]></Value>
    </richContent>
    <subtitle>
      <Value><![CDATA[The friendly CMS that empowers teams to create, manage, and scale beautiful websites effortlessly — simple, flexible, and built for everyone.]]></Value>
    </subtitle>
    <testLabel>
      <Value><![CDATA[]]></Value>
    </testLabel>
    <title>
      <Value><![CDATA[The friendly CMS]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>