<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2ec0107-5004-44d9-b8ca-dbc12b07cf13" Alias="Energy" Level="4">
  <Info>
    <Parent Key="bbdad23b-fe07-47f5-bd83-3d691e7f5263">Subject</Parent>
    <Path>/Abports/Repository/Subject/Energy</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T19:11:25</CreateDate>
    <NodeName Default="Energy" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>