<?xml version="1.0" encoding="utf-8"?>
<Content Key="54f430f0-3eac-4787-afca-f4e3c017e017" Alias="External visit" Level="4">
  <Info>
    <Parent Key="bbdad23b-fe07-47f5-bd83-3d691e7f5263">Subject</Parent>
    <Path>/Abports/Repository/Subject/ExternalVisit</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T19:11:25</CreateDate>
    <NodeName Default="External visit" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>