<?xml version="1.0" encoding="utf-8"?>
<Content Key="344c2e3f-fb13-460f-b4d3-7e909368a88d" Alias="External visit" Level="4">
  <Info>
    <Parent Key="8aa801d8-ad93-45a3-affc-7ffbe993d2da">Subject</Parent>
    <Path>/Abports/Repository/Subject/ExternalVisit</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T20:11:47</CreateDate>
    <NodeName Default="External visit" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>