<?xml version="1.0" encoding="utf-8"?>
<Content Key="8177f455-129f-4cc1-836d-188aa4799c0f" Alias="Future Ports: Port Talbot (Online)" Level="5">
  <Info>
    <Parent Key="dc6a5240-1dd9-424c-af01-dd33330a953b">2021</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//FuturePortsPortTalbotOnline</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:09:50</CreateDate>
    <NodeName Default="Future Ports: Port Talbot (Online)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2021-10-12T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "1d5b424b-6e5f-423e-9970-fb689098d6ac",
    "mediaKey": "bb1e45bc-cb02-4a46-b633-85210e0d1b6d"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[Future Ports: Port Talbot (Online)]]></Value>
    </title>
    <type>
      <Value><![CDATA[umb://document/f4e1a19e89d3473c9ec6ffab2046a9a6]]></Value>
    </type>
  </Properties>
</Content>