<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2af5403-0e06-4b39-a0f6-f5f4c9038916" Alias="Gender Pay Gap Report 2023" Level="5">
  <Info>
    <Parent Key="fe6a80c6-200e-43fe-8799-6ba03b71b75e">2024</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//GenderPayGapReport2023</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:07:51</CreateDate>
    <NodeName Default="Gender Pay Gap Report 2023" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2024-03-13T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "fbb9102d-2910-45b4-98c5-584597213645",
    "mediaKey": "cbdfc9db-741f-4274-a351-a225755a1933"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[Gender Pay Gap Report 2023]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>