<?xml version="1.0" encoding="utf-8"?>
<Content Key="4525ddf9-c125-4f1f-adda-aa61e31d8da9" Alias="Group" Level="4">
  <Info>
    <Parent Key="4ec13cd0-10f2-4336-a8e0-115ca941bb79">Region Container</Parent>
    <Path>/Abports/Repository/RegionContainer/Group</Path>
    <Trashed>false</Trashed>
    <ContentType>region</ContentType>
    <CreateDate>2025-11-11T09:55:41</CreateDate>
    <NodeName Default="Group" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>