<?xml version="1.0" encoding="utf-8"?>
<Content Key="79773f1a-83d7-4ea4-84e8-9c576fb4981b" Alias="Henrik L. Pedersen" Level="3">
  <Info>
    <Parent Key="5359d822-2e96-4f45-a364-19a79b10678d">Directors</Parent>
    <Path>/Home/Directors/HenrikLPedersen</Path>
    <Trashed>false</Trashed>
    <ContentType>directorProfile</ContentType>
    <CreateDate>2025-10-13T15:44:58</CreateDate>
    <NodeName Default="Henrik L. Pedersen" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="75927f54-249b-4df4-9a73-4d99d67c59bb">DirectorProfile</Template>
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "9723ab04-a8e1-4c1f-a799-fb77eeaafb61",
    "mediaKey": "6330f966-7806-4a74-bb67-c25bf666f042",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Chief Executive]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Henrik L. Pedersen]]></Value>
    </title>
  </Properties>
</Content>