<?xml version="1.0" encoding="utf-8"?>
<Content Key="2152af8e-6907-4d04-81cf-fd2dc12b3088" Alias="Hinkley Point - ABP Supply Chain Brochure" Level="5">
  <Info>
    <Parent Key="683ecdb4-772b-4852-b038-cca9caeaaf94">2015</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//HinkleyPointABPSupplyChainBrochure</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:16:29</CreateDate>
    <NodeName Default="Hinkley Point - ABP Supply Chain Brochure" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2015-06-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "0c794e4f-3ca8-4ce0-bb41-26af2910483b",
    "mediaKey": "06ec3d3b-283b-41ca-b28d-fb2c3c996ed0"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[Hinkley Point - ABP Supply Chain Brochure]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>