<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-09-16T18:00:07</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5d6ae53-4c0e-4c24-846d-3931bf97b432">Home</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1e6e85a7-d021-4216-bd88-37beab0cff72",
      "key": "f13f7039-8976-40ce-9f33-cb466992fdda",
      "udi": null,
      "values": [
        {
          "alias": "searchResultPageLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Search",
              "target": null,
              "udi": "umb://document/2d79b205f7f54cdc85a5e94541d660b5",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "e9eaee4e-c9d6-4456-b6fd-e71a1ad073d9",
      "key": "a5944727-4bc9-4785-b44e-6e8ba6cbe5bc",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABP: the UK\u2019s leading ports group"
        },
        {
          "alias": "heroFallbackImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a147c189-f002-4338-b995-81f8e6650970",
              "mediaKey": "49b4a05c-4794-43d1-9285-62428e94d82c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroVideo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "player.vimeo.com",
              "target": null,
              "udi": null,
              "url": "https://player.vimeo.com/video/679061897?background=1\u0026autoplay=1\u0026loop=1\u0026byline=0\u0026title=0",
              "queryString": null
            }
          ]
        },
        {
          "alias": "videoLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Watch our brand video",
              "target": null,
              "udi": null,
              "url": "https://player.vimeo.com/video/966480554",
              "queryString": null
            }
          ]
        },
        {
          "alias": "ctaLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Sustainability at ABP",
              "target": null,
              "udi": null,
              "url": "https://readyfortomorrow.abports.co.uk/",
              "queryString": null
            },
            {
              "name": "Port of Southampton Virtual Map",
              "target": null,
              "udi": null,
              "url": "#",
              "queryString": null
            }
          ]
        },
        {
          "alias": "searchResultPageLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Search",
              "target": null,
              "udi": "umb://document/2d79b205f7f54cdc85a5e94541d660b5",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "df2c9d9d-0c1e-43d4-be6a-7fd392fe135e",
      "key": "27063ac2-b4be-4b9a-b288-26ee9a413438",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Recent News \u0026 Articles"
        },
        {
          "alias": "ctaLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "View All",
              "target": null,
              "udi": "umb://document/31523089f64848839087ef9a0b83129f",
              "url": null,
              "queryString": ""
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ddde87c7-b4c4-41b8-a8f6-b4540aca94dc",
      "key": "2d8ef46b-8aa6-4910-99c3-965072d7808c",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f13f7039-8976-40ce-9f33-cb466992fdda",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a5944727-4bc9-4785-b44e-6e8ba6cbe5bc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "27063ac2-b4be-4b9a-b288-26ee9a413438",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2d8ef46b-8aa6-4910-99c3-965072d7808c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f13f7039-8976-40ce-9f33-cb466992fdda",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a5944727-4bc9-4785-b44e-6e8ba6cbe5bc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "27063ac2-b4be-4b9a-b288-26ee9a413438",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2d8ef46b-8aa6-4910-99c3-965072d7808c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <footerNav>
      <Value><![CDATA[]]></Value>
    </footerNav>
    <headTagScripts>
      <Value><![CDATA[<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XXXXXXXXXX'); // Replace with your GA4 Measurement ID
</script>
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="a45ac24d-5927-43bf-872f-c392438b160b" data-blockingmode="auto" type="text/javascript"></script>
]]></Value>
    </headTagScripts>
    <isFollowable>
      <Value><![CDATA[0]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[0]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Espire Umbraco. This is for demo.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[
  "umbraco"
]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Espire Umbraco]]></Value>
    </metaName>
    <navMenu>
      <Value><![CDATA[]]></Value>
    </navMenu>
    <subMenu>
      <Value><![CDATA[]]></Value>
    </subMenu>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>