<?xml version="1.0" encoding="utf-8"?>
<Content Key="58b5ff9e-c701-46ad-96a6-6b3a32e2ee78" Alias="Humber" Level="4">
  <Info>
    <Parent Key="e468b2fa-1e6c-4312-af4a-79fe32891e6e">Region Contaniner</Parent>
    <Path>/Home/Repository/RegionContaniner/Humber</Path>
    <Trashed>false</Trashed>
    <ContentType>region</ContentType>
    <CreateDate>2025-10-31T21:25:04</CreateDate>
    <NodeName Default="Humber" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>