<?xml version="1.0" encoding="utf-8"?>
<Content Key="d96df55f-b265-493d-8680-fd81135107a0" Alias="Julan Wyat" Level="3">
  <Info>
    <Parent Key="5359d822-2e96-4f45-a364-19a79b10678d">Directors</Parent>
    <Path>/Home/Directors/JulanWyat</Path>
    <Trashed>false</Trashed>
    <ContentType>directorProfile</ContentType>
    <CreateDate>2025-10-13T15:46:20</CreateDate>
    <NodeName Default="Julan Wyat" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="75927f54-249b-4df4-9a73-4d99d67c59bb">DirectorProfile</Template>
  </Info>
  <Properties>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "afffc6d8-4e6f-472c-815f-520c450661c4",
    "mediaKey": "ee9ec04b-87b5-4a3d-98a3-d5bd08ba704c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Finance Manager]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Julan Wyat]]></Value>
    </title>
  </Properties>
</Content>