<?xml version="1.0" encoding="utf-8"?>
<Content Key="e79c6602-715d-4bf9-9cbb-13163b536bc1" Alias="Lowestoft" Level="4">
  <Info>
    <Parent Key="8aa801d8-ad93-45a3-affc-7ffbe993d2da">Subject</Parent>
    <Path>/Abports/Repository/Subject/Lowestoft</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T20:11:47</CreateDate>
    <NodeName Default="Lowestoft" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>