<?xml version="1.0" encoding="utf-8"?>
<Content Key="6aa09eb8-e2bb-4487-b407-ff129eb64c6e" Alias="Maritime" Level="4">
  <Info>
    <Parent Key="8aa801d8-ad93-45a3-affc-7ffbe993d2da">Subject</Parent>
    <Path>/Abports/Repository/Subject/Maritime</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T20:12:02</CreateDate>
    <NodeName Default="Maritime" />
    <SortOrder>31</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>