<?xml version="1.0" encoding="utf-8"?>
<Content Key="77e35931-41bb-4dd9-af3b-d784544b238f" Alias="Meet Mike Hammond, Assistant Harbour Master in VTS" Level="5">
  <Info>
    <Parent Key="76c86eed-f137-49f1-a08b-6ac5aeb43c80">2024</Parent>
    <Path>/Abports/NewsAndMedia/LatestNews//MeetMikeHammondAssistantHarbourMasterInVTS</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-11-12T11:13:44</CreateDate>
    <NodeName Default="Meet Mike Hammond, Assistant Harbour Master in VTS" />
    <SortOrder>55</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e1eefce3-86e1-4a7e-8999-39ab890a6c73">article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2024-07-03T00:00:00]]></Value>
    </articleDate>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "709940e2-6e6b-4ce8-a3a0-672edff985b1",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/c736290b14db4a8cba14e654927e84d1",
      "values": [],
      "image": [
        {
          "key": "d0e22016-0330-4325-975c-0b2d005d6034",
          "mediaKey": "cae13106-7d13-448e-be1d-dff214d80e75",
          "crops": []
        }
      ]
    },
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "00000000-0000-0000-0000-000000000000",
      "udi": "umb://element/e70b57b0044c4f5ea700635947f253ef",
      "values": [],
      "content": "\u003Cp\u003EThe summer season is in full swing, and it\u0027s been a busy few months at the Port of Southampton; we welcomed four new vessels on their maiden visit to the port, including one cruise ship and three brand-new LNG-powered RORO vessels, coupled with weekly visits from ultra-large container vessels, our waterways are bustling. We reaffirmed our position as the UK\u0027s leading cruise port in May after supporting over 70 cruise vessels and 400,000 passengers. Plus, as the weather gets warmer, we also see more leisure users out on the water.\u003C/p\u003E\n\u003Cp\u003EWith so much traffic on Southampton Water, how is it managed safely and efficiently? We caught up with Mike Hammond, Assistant Harbour Master in Vessel Traffic Services (VTS), to understand his role in VTS, click the link below.\u003C/p\u003E"
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "00000000-0000-0000-0000-000000000000",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c736290b-14db-4a8c-ba14-e654927e84d1",
        "contentUdi": "umb://element/c736290b14db4a8cba14e654927e84d1",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e70b57b0-044c-4f5e-a700-635947f253ef",
        "contentUdi": "umb://element/e70b57b0044c4f5ea700635947f253ef",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "073761c4-345b-4f0d-b24f-9db5db8f4011",
    "mediaKey": "25aa8bd2-a554-4e07-b2d8-bd4c5a5c8e94",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Meet Mike Hammond, Assistant Harbour Master in VTS]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[Meet Mike Hammond, Assistant Harbour Master in VTS]]></Value>
    </metaName>
    <newRich>
      <Value><![CDATA[]]></Value>
    </newRich>
    <region>
      <Value><![CDATA[]]></Value>
    </region>
    <richContent>
      <Value><![CDATA[]]></Value>
    </richContent>
    <subtitle>
      <Value><![CDATA[Latest News]]></Value>
    </subtitle>
    <testLabel>
      <Value><![CDATA[]]></Value>
    </testLabel>
    <title>
      <Value><![CDATA[Meet Mike Hammond, Assistant Harbour Master in VTS]]></Value>
    </title>
    <topContent>
      <Value><![CDATA[]]></Value>
    </topContent>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>