<?xml version="1.0" encoding="utf-8"?>
<Content Key="560d47ff-afd1-4d46-a791-8f371f73e590" Alias="News And Media" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/NewsAndMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>repository</ContentType>
    <CreateDate>2025-10-31T18:59:10</CreateDate>
    <NodeName Default="News And Media" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>