<?xml version="1.0" encoding="utf-8"?>
<Content Key="97327654-d6fb-42d3-b8af-38dba82149cf" Alias="Offshore Wind (1)" Level="4">
  <Info>
    <Parent Key="8aa801d8-ad93-45a3-affc-7ffbe993d2da">Subject</Parent>
    <Path>/Abports/Repository/Subject/OffshoreWind1</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T20:12:01</CreateDate>
    <NodeName Default="Offshore Wind (1)" />
    <SortOrder>25</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>