<?xml version="1.0" encoding="utf-8"?>
<Content Key="03bc0469-8a98-460d-a373-102fd880b32e" Alias="People" Level="4">
  <Info>
    <Parent Key="8aa801d8-ad93-45a3-affc-7ffbe993d2da">Subject</Parent>
    <Path>/Abports/Repository/Subject/People</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T20:11:47</CreateDate>
    <NodeName Default="People" />
    <SortOrder>20</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>