<?xml version="1.0" encoding="utf-8"?>
<Content Key="e2608101-8085-4933-a435-858fed1febd0" Alias="Ports Talk 2016 - Autumn" Level="5">
  <Info>
    <Parent Key="c1f78004-b38e-432a-8357-a0cab0cf636c">2016</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//PortsTalk2016Autumn</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:15:09</CreateDate>
    <NodeName Default="Ports Talk 2016 - Autumn" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2016-09-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "1a72ab85-7c39-4f19-b5e0-fb03e503c4f5",
    "mediaKey": "5263b68f-f5be-437c-a14b-4370beecf993"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[Ports Talk 2016 - Autumn]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>