<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4e1a19e-89d3-473c-9ec6-ffab2046a9a6" Alias="Presentations and Reports" Level="4">
  <Info>
    <Parent Key="88969577-6b29-429a-8e32-cb287a2ca7b2">Download Item Types</Parent>
    <Path>/Abports/Repository/DownloadItemTypes/PresentationsAndReports</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadType</ContentType>
    <CreateDate>2025-11-14T20:38:38</CreateDate>
    <NodeName Default="Presentations and Reports" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>