<?xml version="1.0" encoding="utf-8"?>
<Content Key="b57f5407-f818-4f31-8648-0e4bcfbfed9d" Alias="Redirect" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Redirect</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2025-09-23T16:44:11</CreateDate>
    <NodeName Default="Redirect" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c604acfe-4b21-4e46-81f4-b2b34d850fd1">content</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[redirect]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Redirect]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>