<?xml version="1.0" encoding="utf-8"?>
<Content Key="e468b2fa-1e6c-4312-af4a-79fe32891e6e" Alias="Region Contaniner" Level="3">
  <Info>
    <Parent Key="846825d4-d20c-49e6-a3e6-00ae44c848aa">Repository</Parent>
    <Path>/Home/Repository/RegionContaniner</Path>
    <Trashed>false</Trashed>
    <ContentType>repository</ContentType>
    <CreateDate>2025-10-31T21:23:20</CreateDate>
    <NodeName Default="Region Contaniner" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>