<?xml version="1.0" encoding="utf-8"?>
<Content Key="6750b764-7611-4d2c-8135-a9af20fcc453" Alias="Section 172 Statements 2024" Level="5">
  <Info>
    <Parent Key="e73d7381-3415-4efc-a221-b91eca0b82fb">2025</Parent>
    <Path>/Abports/InvestorRelations/FinancialNews//Section172Statements2024</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-14T21:35:41</CreateDate>
    <NodeName Default="Section 172 Statements 2024" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2025-07-08T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "bc79e8e7-0361-4561-9f99-550beebd8861",
    "mediaKey": "796f5b2d-6e60-4e72-9591-0abee5d579a6"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[Section 172 Statements 2024]]></Value>
    </title>
    <type>
      <Value><![CDATA[umb://document/366b20cf75604bb1abd2c910db2ce696]]></Value>
    </type>
  </Properties>
</Content>