<?xml version="1.0" encoding="utf-8"?>
<Content Key="e39ed0cb-d1a3-4299-a29f-c92189eb1acb" Alias="Southwalesports" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Southwalesports</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-10-27T13:52:19</CreateDate>
    <NodeName Default="Southwalesports" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5d6ae53-4c0e-4c24-846d-3931bf97b432">Home</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1ebd3545-c511-4f34-8110-0f01ce0d5786",
      "key": "13bb9b1f-09eb-4b52-8d5a-96384a645da1",
      "udi": null,
      "values": [
        {
          "alias": "imageItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "3dda15c9-be85-435c-81f5-79a53b34d17f",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2c232512-18f9-4b28-a87e-ee73b794052b",
                        "mediaKey": "bc2a058f-7a0c-4e49-984a-333828c229eb",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Newport"
                  }
                ]
              },
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "72cc9593-7e66-4569-a53d-2df5603abdb2",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8a361bf6-ebce-4148-baaf-6c36b635e5d9",
                        "mediaKey": "b52e7d62-7915-4ab3-b152-57fb18e73501",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ABP South Wales operates five ports across the region"
                  }
                ]
              },
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "2c66ce88-f5d1-4e5f-b871-833130fb26ff",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bca31a71-1552-4fca-bd0d-b43e006cfbd4",
                        "mediaKey": "0cb3e6a7-1ded-4b86-81cc-f19545ea9698",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Our tariff can be viewed here"
                  },
                  {
                    "alias": "cta",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "",
                        "target": null,
                        "udi": null,
                        "url": "https://southwalesports.co.uk/Admin/content/files/Tariffs/Port%20Charges%20South%20Wales%20Tariff%202023.pdf",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "bf02d75c-8515-4efd-8c28-71ad1dd569e6",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "bfa29ace-4afe-464a-acf6-9733cff40a52",
                        "mediaKey": "7bbf8a76-1612-4643-809d-031341e35379",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Swansea"
                  }
                ]
              },
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "e8e76413-fea5-4cd0-a2c9-cbe603ecf72f",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "34765b68-6b37-4bea-9fbe-42fbb3bb1c73",
                        "mediaKey": "be912289-f1bd-4947-8f5b-870228205b4d",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Cardiff "
                  }
                ]
              },
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "695133b4-d66a-49b8-b77c-6bddfff07ff3",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "afac76c4-fc00-44a8-a9df-0c54f93276b8",
                        "mediaKey": "595c1d4d-a5b6-443d-ac64-826d67809e0d",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "BARRY"
                  }
                ]
              },
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "8f472ac0-4b05-4a3d-abb7-1c2cd98624f4",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8a975be7-198d-4184-a3dc-7dd2b17d3897",
                        "mediaKey": "f1c86ed0-1dbd-41b9-9e9a-6c58702ccb16",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "PORT TALBOT"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "3dda15c9-be85-435c-81f5-79a53b34d17f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "72cc9593-7e66-4569-a53d-2df5603abdb2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2c66ce88-f5d1-4e5f-b871-833130fb26ff",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bf02d75c-8515-4efd-8c28-71ad1dd569e6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e8e76413-fea5-4cd0-a2c9-cbe603ecf72f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "695133b4-d66a-49b8-b77c-6bddfff07ff3",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8f472ac0-4b05-4a3d-abb7-1c2cd98624f4",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "3dda15c9-be85-435c-81f5-79a53b34d17f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "72cc9593-7e66-4569-a53d-2df5603abdb2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2c66ce88-f5d1-4e5f-b871-833130fb26ff",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bf02d75c-8515-4efd-8c28-71ad1dd569e6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e8e76413-fea5-4cd0-a2c9-cbe603ecf72f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "695133b4-d66a-49b8-b77c-6bddfff07ff3",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8f472ac0-4b05-4a3d-abb7-1c2cd98624f4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "d0592685-1ef5-4b06-805f-9c754fef4ed0",
      "key": "70745022-c4ae-48aa-8661-fe48d0a6f128",
      "udi": null,
      "values": [
        {
          "alias": "titleCards",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "10a54ecf-5725-497a-9d6e-1ce1762e70da",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4ea82678-091a-46ab-b760-a64ee3e12216",
                        "mediaKey": "21b6186d-b684-4f29-90c2-3f47f89db622",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "NOTICE TO MARINERS"
                  },
                  {
                    "alias": "cta",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "EXPLORE MORE",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "b61f8e15-30b8-41fc-af29-fb323de14940",
                "udi": null,
                "values": [
                  {
                    "alias": "cta",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "EXPLORE MORE",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "d01ac879-f7e6-4b1f-b655-86308ae634a4",
                        "mediaKey": "9748940f-5457-4fdb-891c-104a48780993",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ABP NOTIFY"
                  }
                ]
              },
              {
                "contentTypeKey": "e4c494e6-fe0d-4cfb-b466-bd366bd1d24e",
                "key": "b42ca55b-750c-45e7-8f8d-d94edc28f150",
                "udi": null,
                "values": [
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0d57f4a2-cd94-48c4-b935-04fb7f68e554",
                        "mediaKey": "bc2a058f-7a0c-4e49-984a-333828c229eb",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "NOTICE TO PORT USERS"
                  },
                  {
                    "alias": "cta",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "EXPLORE MORE",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "10a54ecf-5725-497a-9d6e-1ce1762e70da",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b61f8e15-30b8-41fc-af29-fb323de14940",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b42ca55b-750c-45e7-8f8d-d94edc28f150",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "10a54ecf-5725-497a-9d6e-1ce1762e70da",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b61f8e15-30b8-41fc-af29-fb323de14940",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b42ca55b-750c-45e7-8f8d-d94edc28f150",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "13bb9b1f-09eb-4b52-8d5a-96384a645da1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "70745022-c4ae-48aa-8661-fe48d0a6f128",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "13bb9b1f-09eb-4b52-8d5a-96384a645da1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "70745022-c4ae-48aa-8661-fe48d0a6f128",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <footerNavigationMenus>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "eeefa168-d7c0-4047-8577-fa1d9b7a2952",
      "key": "03b61556-305a-443d-8799-49aa086763cb",
      "udi": null,
      "values": [
        {
          "alias": "footerTopMenuItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "f42d1c2a-45e5-4ecb-95cf-7cd7e51b736a",
                "key": "7e75feee-f5ab-4229-a64c-50429b854993",
                "udi": null,
                "values": [
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Dangerous Goods /",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "CERS Notification",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Emergency Plans",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Towage Guidelines",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Hospitality Berths",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Marine Information"
                  }
                ]
              },
              {
                "contentTypeKey": "f42d1c2a-45e5-4ecb-95cf-7cd7e51b736a",
                "key": "c5c8d9ec-cb53-453d-b432-2dc0d081a7f1",
                "udi": null,
                "values": [
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Port Marine Policies",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "ABP South Wales",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Guide to Services and",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Navigation",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Port Marine SMS",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Port Marine Safety",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Code",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Permits and",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Permissions",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Diving",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Port Marine SMS"
                  }
                ]
              },
              {
                "contentTypeKey": "f42d1c2a-45e5-4ecb-95cf-7cd7e51b736a",
                "key": "653e9dc5-a2c0-4115-9450-71eafdad9aa1",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Pilotage"
                  },
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Pilotage Directions",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Pilotage Boarding",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Points",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Pilotage Charges",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Pilotage Code of",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Practice",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Pilotage Exemption",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Certificate",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "ABP South Wales",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Pilot Cutters",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f42d1c2a-45e5-4ecb-95cf-7cd7e51b736a",
                "key": "d55554f3-beb1-4b99-bf8a-0db88c43cb7d",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Port Information"
                  },
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Port Tariff",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Standard T\u0026Cs",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Port Safety",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Environment",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Security",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Waste",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Newport",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "River Usk",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Cardiff",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Barry",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Port Talbot",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Swansea",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      },
                      {
                        "name": "Port Information",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "f42d1c2a-45e5-4ecb-95cf-7cd7e51b736a",
                "key": "633b85a7-4d90-4b99-a381-7db7879093d7",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Notices"
                  }
                ]
              },
              {
                "contentTypeKey": "f42d1c2a-45e5-4ecb-95cf-7cd7e51b736a",
                "key": "4cdabb86-9346-4eb6-92dc-6ed1deb1ed0c",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Contact Us"
                  },
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Contact Us",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7e75feee-f5ab-4229-a64c-50429b854993",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c5c8d9ec-cb53-453d-b432-2dc0d081a7f1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "653e9dc5-a2c0-4115-9450-71eafdad9aa1",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d55554f3-beb1-4b99-bf8a-0db88c43cb7d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "633b85a7-4d90-4b99-a381-7db7879093d7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4cdabb86-9346-4eb6-92dc-6ed1deb1ed0c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7e75feee-f5ab-4229-a64c-50429b854993",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c5c8d9ec-cb53-453d-b432-2dc0d081a7f1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "653e9dc5-a2c0-4115-9450-71eafdad9aa1",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d55554f3-beb1-4b99-bf8a-0db88c43cb7d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "633b85a7-4d90-4b99-a381-7db7879093d7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4cdabb86-9346-4eb6-92dc-6ed1deb1ed0c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "315f123b-44a9-4de8-bc36-6d559a36a0ee",
      "key": "3772f399-6a6f-49b4-a472-ae7ba474dcfd",
      "udi": null,
      "values": [
        {
          "alias": "copyright",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Copyright Associated British Ports 2010-2025 All rights reserved"
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Home",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            },
            {
              "name": "Contact Us",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            },
            {
              "name": "Privacy Notice",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            },
            {
              "name": "Terms of Use",
              "target": null,
              "udi": null,
              "url": "/",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "03b61556-305a-443d-8799-49aa086763cb",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3772f399-6a6f-49b4-a472-ae7ba474dcfd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "03b61556-305a-443d-8799-49aa086763cb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3772f399-6a6f-49b4-a472-ae7ba474dcfd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </footerNavigationMenus>
    <headerNavigatioMenus>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1ebe9a96-a2fb-4476-a1a7-fd231eb12b29",
      "key": "fb830276-a93b-4b0a-8300-5c15a70eb7dc",
      "udi": null,
      "values": [
        {
          "alias": "headerTopMenuItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "3949b0aa-e690-476d-9856-4023c99f009d",
                "key": "0a779940-acfe-42d7-b9a6-decaf98972b7",
                "udi": null,
                "values": [
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Consultations",
                        "target": null,
                        "udi": null,
                        "url": "https://southwalesports.co.uk/Consultations/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "aa879541-2449-4860-9509-d4a0755f4272",
                "key": "567d5c0c-1bd4-4bfd-b113-0c808e863843",
                "udi": null,
                "values": [
                  {
                    "alias": "externalLinks",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "ABP Update #7 \u2013 Providing customer solutions",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0a779940-acfe-42d7-b9a6-decaf98972b7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "567d5c0c-1bd4-4bfd-b113-0c808e863843",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0a779940-acfe-42d7-b9a6-decaf98972b7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "567d5c0c-1bd4-4bfd-b113-0c808e863843",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "7e366b4f-9813-405d-942b-2592a65207e8",
      "key": "d7bc9a8c-65e7-4584-9254-a4859ed6da18",
      "udi": null,
      "values": [
        {
          "alias": "menuItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "7a67fb9b-c3de-474f-8d3b-ae96e3b0b7b5",
                "key": "31d20410-e781-4ebf-be1c-b85d60bfd73b",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Port Information"
                  }
                ]
              },
              {
                "contentTypeKey": "7a67fb9b-c3de-474f-8d3b-ae96e3b0b7b5",
                "key": "047ee3bc-0766-4813-8e81-47c41e5ea8a9",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Marine Information"
                  }
                ]
              },
              {
                "contentTypeKey": "7a67fb9b-c3de-474f-8d3b-ae96e3b0b7b5",
                "key": "7949fa64-da2b-4d6b-ab84-3f7884e2b622",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Pilotage"
                  }
                ]
              },
              {
                "contentTypeKey": "7a67fb9b-c3de-474f-8d3b-ae96e3b0b7b5",
                "key": "e364248a-db25-4ff4-8265-5057f2f93670",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Live Shipping"
                  }
                ]
              },
              {
                "contentTypeKey": "7a67fb9b-c3de-474f-8d3b-ae96e3b0b7b5",
                "key": "9e77c8cb-5a0b-4adf-8d80-fdfc75782e10",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Port Marine Safety"
                  }
                ]
              },
              {
                "contentTypeKey": "7a67fb9b-c3de-474f-8d3b-ae96e3b0b7b5",
                "key": "b9db63a9-c65a-49b4-bdff-d763af5c3272",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Notices"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "31d20410-e781-4ebf-be1c-b85d60bfd73b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "047ee3bc-0766-4813-8e81-47c41e5ea8a9",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7949fa64-da2b-4d6b-ab84-3f7884e2b622",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e364248a-db25-4ff4-8265-5057f2f93670",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9e77c8cb-5a0b-4adf-8d80-fdfc75782e10",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b9db63a9-c65a-49b4-bdff-d763af5c3272",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "31d20410-e781-4ebf-be1c-b85d60bfd73b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "047ee3bc-0766-4813-8e81-47c41e5ea8a9",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7949fa64-da2b-4d6b-ab84-3f7884e2b622",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e364248a-db25-4ff4-8265-5057f2f93670",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9e77c8cb-5a0b-4adf-8d80-fdfc75782e10",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b9db63a9-c65a-49b4-bdff-d763af5c3272",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Open Men"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "fb830276-a93b-4b0a-8300-5c15a70eb7dc",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "d7bc9a8c-65e7-4584-9254-a4859ed6da18",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "fb830276-a93b-4b0a-8300-5c15a70eb7dc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "d7bc9a8c-65e7-4584-9254-a4859ed6da18",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </headerNavigatioMenus>
    <headTagScripts>
      <Value><![CDATA[]]></Value>
    </headTagScripts>
    <hoverLogo>
      <Value><![CDATA[[
  {
    "key": "efb6b7af-df32-4b11-ae78-89490fd332d1",
    "mediaKey": "5e41d8ab-20ff-4199-8a52-91b243b2e1f2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </hoverLogo>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <logo>
      <Value><![CDATA[[
  {
    "key": "976890a2-0028-4258-a8ba-3d57cfa94827",
    "mediaKey": "5e41d8ab-20ff-4199-8a52-91b243b2e1f2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </logo>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>