<?xml version="1.0" encoding="utf-8"?>
<Content Key="e39ed0cb-d1a3-4299-a29f-c92189eb1acb" Alias="Southwalesports" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Southwalesports</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-10-27T13:52:19</CreateDate>
    <NodeName Default="Southwalesports" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5d6ae53-4c0e-4c24-846d-3931bf97b432">Home</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dfd6446b-6aaf-4e55-b54b-cf668bcbc800",
      "key": "e3ffeba1-5eed-48ea-a87e-ff4a05580d5d",
      "udi": null,
      "values": [
        {
          "alias": "videoLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://player.vimeo.com/video/1114985010?background=1\u0026autopause=0\u0026api=1\u0026player_id=vvvvimeoVideo-466511"
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "hsjsis"
        },
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Automotive"
        }
      ]
    },
    {
      "contentTypeKey": "b17a1c6a-64c7-4cef-b3bc-5af1834fa3e9",
      "key": "7c0dfb45-b944-45f2-a258-9872da464be7",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Available property"
        },
        {
          "alias": "imageCardItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "db316777-66d6-4dda-b208-6b2e19d1d50f",
                "key": "7b1f1971-a008-414b-8667-2f9cd33c966f",
                "udi": null,
                "values": [
                  {
                    "alias": "cta",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Download broucher",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f8b86b48-ac0e-4dc5-b6d8-f0536c855144",
                        "mediaKey": "a3b47668-18d7-49f6-92a2-5d6e4cc640e3",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "imageTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "East Anglia"
                  },
                  {
                    "alias": "contentTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "West Bank Terminal, Port of Ipswich, IP2 8LY"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp class=\u0022promo__text\u0022\u003EOpen storage opportunity\u0026nbsp;\u003C/p\u003E\u003Ch3\u003EUp to 8.26 acres (compounds available from 2 acres\u002B)\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "db316777-66d6-4dda-b208-6b2e19d1d50f",
                "key": "b782b757-169c-49c7-80bb-208d1410ef2f",
                "udi": null,
                "values": [
                  {
                    "alias": "cta",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f8b86b48-ac0e-4dc5-b6d8-f0536c855144",
                        "mediaKey": "a3b47668-18d7-49f6-92a2-5d6e4cc640e3",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "imageTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "East Anglia"
                  },
                  {
                    "alias": "contentTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "West Bank Terminal, Port of Ipswich, IP2 8LY"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp class=\u0022promo__text\u0022\u003EOpen storage opportunity\u0026nbsp;\u003C/p\u003E\u003Ch3\u003EUp to 14.04 acres (compounds available from 1.16 acres\u002B)\u003C/h3\u003E\u003Cp\u003E\u003Cstrong\u003EFor more information contact:\u0026nbsp;\u003C/strong\u003E\u003Cbr\u003EJeff Gibb: \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:jeff.gibb@abports.co.uk\u0022 type=\u0022external\u0022\u003Ejeff.gibb@abports.co.uk\u003C/a\u003E\u003C/p\u003E\u003Cp\u003ECallum Rees: \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022mailto:callum.rees@abports.co.uk\u0022 type=\u0022external\u0022\u003Ecallum.rees@abports.co.uk\u003C/a\u003E\u0026nbsp;\u003C/p\u003E\u003Cp\u003E\u0026nbsp;\u003C/p\u003E"
                    }
                  }
                ]
              },
              {
                "contentTypeKey": "db316777-66d6-4dda-b208-6b2e19d1d50f",
                "key": "dfcbf8bb-9f6c-4865-8a14-55bdbd720548",
                "udi": null,
                "values": [
                  {
                    "alias": "cta",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Download broucher",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f8b86b48-ac0e-4dc5-b6d8-f0536c855144",
                        "mediaKey": "a3b47668-18d7-49f6-92a2-5d6e4cc640e3",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "imageTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "East Anglia"
                  },
                  {
                    "alias": "contentTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "West Bank Terminal, Port of Ipswich, IP2 8LY"
                  },
                  {
                    "alias": "content",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cdiv class=\u0022rte\u0022\u003EOpen storage opportunity\u0026nbsp;\u003Cbr\u003EUp to 8.26 acres (compounds available from 2 acres\u002B)\u003C/div\u003E\u003Cp\u003E\u003C/p\u003E"
                    }
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7b1f1971-a008-414b-8667-2f9cd33c966f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b782b757-169c-49c7-80bb-208d1410ef2f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "dfcbf8bb-9f6c-4865-8a14-55bdbd720548",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7b1f1971-a008-414b-8667-2f9cd33c966f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b782b757-169c-49c7-80bb-208d1410ef2f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "dfcbf8bb-9f6c-4865-8a14-55bdbd720548",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "223ec274-22aa-41bb-9f2f-92f4f2f1cc0b",
      "key": "a5aa0f34-8d52-4652-a642-020ef3a22ab0",
      "udi": null,
      "values": [
        {
          "alias": "header",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SITEMAP"
        },
        {
          "alias": "siteMapItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "25bc904f-25fb-4486-ad04-f3f260f54cff",
                "key": "19936dcd-e05f-4bdd-a968-a5cb7faf7b4c",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ABHOHJDJDKD"
                  },
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Ajakjkdskd",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "25bc904f-25fb-4486-ad04-f3f260f54cff",
                "key": "ba1d6120-79d2-4dc5-be87-16d12c9bc203",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ABHOHJDJDKD"
                  },
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Ajakjkdskd",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "25bc904f-25fb-4486-ad04-f3f260f54cff",
                "key": "10c7ed20-ed3e-4d69-a940-ece630e65804",
                "udi": null,
                "values": [
                  {
                    "alias": "titleLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "ABHOHJDJDKD",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ABHOHJDJDKD"
                  },
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Ajakjkdskd",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "25bc904f-25fb-4486-ad04-f3f260f54cff",
                "key": "5c6d0fb3-41f7-4a3f-aaec-d26ee8df4964",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ABHOHJDJDKD"
                  },
                  {
                    "alias": "links",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Ajakjkdskd",
                        "target": null,
                        "udi": null,
                        "url": "/",
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "19936dcd-e05f-4bdd-a968-a5cb7faf7b4c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ba1d6120-79d2-4dc5-be87-16d12c9bc203",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "10c7ed20-ed3e-4d69-a940-ece630e65804",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5c6d0fb3-41f7-4a3f-aaec-d26ee8df4964",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "19936dcd-e05f-4bdd-a968-a5cb7faf7b4c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ba1d6120-79d2-4dc5-be87-16d12c9bc203",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "10c7ed20-ed3e-4d69-a940-ece630e65804",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5c6d0fb3-41f7-4a3f-aaec-d26ee8df4964",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "4b78cb9b-9649-4a52-a4a4-bad34e37cc5c",
      "key": "daa29524-c224-4ebf-8dbb-b2dae0c90e88",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Login"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e3ffeba1-5eed-48ea-a87e-ff4a05580d5d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7c0dfb45-b944-45f2-a258-9872da464be7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a5aa0f34-8d52-4652-a642-020ef3a22ab0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "daa29524-c224-4ebf-8dbb-b2dae0c90e88",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e3ffeba1-5eed-48ea-a87e-ff4a05580d5d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "7c0dfb45-b944-45f2-a258-9872da464be7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a5aa0f34-8d52-4652-a642-020ef3a22ab0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "daa29524-c224-4ebf-8dbb-b2dae0c90e88",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <footerContents>
      <Value><![CDATA[]]></Value>
    </footerContents>
    <footerNavigationMenus>
      <Value><![CDATA[]]></Value>
    </footerNavigationMenus>
    <headerContents>
      <Value><![CDATA[]]></Value>
    </headerContents>
    <headerNavigatioMenus>
      <Value><![CDATA[]]></Value>
    </headerNavigatioMenus>
    <headTagScripts>
      <Value><![CDATA[]]></Value>
    </headTagScripts>
    <hoverLogo>
      <Value><![CDATA[]]></Value>
    </hoverLogo>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>