<?xml version="1.0" encoding="utf-8"?>
<Content Key="96add784-d8ce-4a4b-a65b-9bdf5dd5f544" Alias="South West" Level="4">
  <Info>
    <Parent Key="50840609-274c-48fb-81fe-4e8028460395">Region Container</Parent>
    <Path>/Abports/Repository/RegionContainer/SouthWest</Path>
    <Trashed>false</Trashed>
    <ContentType>region</ContentType>
    <CreateDate>2025-11-09T20:36:39</CreateDate>
    <NodeName Default="South West" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>