<?xml version="1.0" encoding="utf-8"?>
<Content Key="25e01464-a876-4b4c-9fd0-5a66fb495977" Alias="Subscriber - allows@erp.com" Level="3">
  <Info>
    <Parent Key="5a6bd756-a4ac-4b4d-9a42-4ee310fd8a20">News Letter Subscriber List</Parent>
    <Path>/Home/NewsLetterSubscriberList/SubscriberAllowsErpcom</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterSubscriber</ContentType>
    <CreateDate>2025-10-28T12:56:07</CreateDate>
    <NodeName Default="Subscriber - allows@erp.com" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[allows@erp.com]]></Value>
    </email>
    <fullname>
      <Value><![CDATA[]]></Value>
    </fullname>
  </Properties>
</Content>