<?xml version="1.0" encoding="utf-8"?>
<Content Key="adcffbe8-11ea-4342-be7e-69487d60e9cc" Alias="Subscriber - deepak.raja@espire.com" Level="3">
  <Info>
    <Parent Key="5a6bd756-a4ac-4b4d-9a42-4ee310fd8a20">News Letter Subscriber List</Parent>
    <Path>/Home/NewsLetterSubscriberList/SubscriberDeepakrajaEspirecom</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterSubscriber</ContentType>
    <CreateDate>2025-09-30T18:07:24</CreateDate>
    <NodeName Default="Subscriber - deepak.raja@espire.com" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[deepak.raja@espire.com]]></Value>
    </email>
    <fullname>
      <Value><![CDATA[]]></Value>
    </fullname>
  </Properties>
</Content>