<?xml version="1.0" encoding="utf-8"?>
<Content Key="78bf3376-4d81-4ee0-9170-d9f2edcfbd01" Alias="Subscriber - support1@espire.com" Level="3">
  <Info>
    <Parent Key="5a6bd756-a4ac-4b4d-9a42-4ee310fd8a20">News Letter Subscriber List</Parent>
    <Path>/Home/NewsLetterSubscriberList/SubscriberSupport1Espirecom</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterSubscriber</ContentType>
    <CreateDate>2025-10-09T16:49:54</CreateDate>
    <NodeName Default="Subscriber - support1@espire.com" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[support1@espire.com]]></Value>
    </email>
    <fullname>
      <Value><![CDATA[]]></Value>
    </fullname>
  </Properties>
</Content>