<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7f193fc-7d99-4ce1-a30f-3b384e9f7b16" Alias="Subscriber - pooja.jaiswar@espire.com" Level="3">
  <Info>
    <Parent Key="5a6bd756-a4ac-4b4d-9a42-4ee310fd8a20">News Letter Subscriber List</Parent>
    <Path>/Home/NewsLetterSubscriberList/SubscriberPoojajaiswarEspirecom</Path>
    <Trashed>false</Trashed>
    <ContentType>newsletterSubscriber</ContentType>
    <CreateDate>2025-10-28T12:29:05</CreateDate>
    <NodeName Default="Subscriber - pooja.jaiswar@espire.com" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[pooja.jaiswar@espire.com]]></Value>
    </email>
    <fullname>
      <Value><![CDATA[]]></Value>
    </fullname>
  </Properties>
</Content>