<?xml version="1.0" encoding="utf-8"?>
<Content Key="1279fdc8-332d-4109-bb12-0abf45c5983a" Alias="Sustainability" Level="4">
  <Info>
    <Parent Key="bbdad23b-fe07-47f5-bd83-3d691e7f5263">Subject</Parent>
    <Path>/Abports/Repository/Subject/Sustainability</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T19:11:45</CreateDate>
    <NodeName Default="Sustainability" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>