<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac8c39fc-7bc5-4e81-9ec4-54287983f5f5" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-11-03T15:33:27</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5d6ae53-4c0e-4c24-846d-3931bf97b432">Home</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dd183f78-7d69-4eda-9b4c-a25970583a28",
      "key": "bc1de53e-bdd0-454d-8758-d66e75798b4b",
      "udi": null,
      "values": [
        {
          "alias": "content",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022color: rgb(22, 24, 26); font-family: Roboto, sans-serif; font-size: 26px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 300; letter-spacing: 0.0026px; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;\u0022\u003EABP handles over 4 million tonnes of agribulk materials each year. Our ports have many years of unparalleled expertise in safely handling a wide range of sensitive agricultural materials, including high value combinable crops, fertiliser, feed and supplements.\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "02180d87-1eea-45d9-93a6-1e38f2ee0165",
      "key": "de2c92c8-b950-4761-82ae-7e2808a1c36b",
      "udi": null,
      "values": [
        {
          "alias": "hide",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "bc1de53e-bdd0-454d-8758-d66e75798b4b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bc1de53e-bdd0-454d-8758-d66e75798b4b",
        "contentUdi": null,
        "settingsKey": "de2c92c8-b950-4761-82ae-7e2808a1c36b",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <footerNavigationMenus>
      <Value><![CDATA[]]></Value>
    </footerNavigationMenus>
    <headerNavigatioMenus>
      <Value><![CDATA[]]></Value>
    </headerNavigatioMenus>
    <headTagScripts>
      <Value><![CDATA[]]></Value>
    </headTagScripts>
    <hoverLogo>
      <Value><![CDATA[]]></Value>
    </hoverLogo>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <logo>
      <Value><![CDATA[]]></Value>
    </logo>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>