<?xml version="1.0" encoding="utf-8"?>
<Content Key="f077c648-5a03-4f5b-be55-670b3e6dae05" Alias="Test" Level="3">
  <Info>
    <Parent Key="19035a4e-fdb6-4bba-b4ce-8f025f78f487">Services1</Parent>
    <Path>/Abports/Services1/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>content</ContentType>
    <CreateDate>2025-11-05T13:34:01</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c604acfe-4b21-4e46-81f4-b2b34d850fd1">content</Template>
  </Info>
  <Properties>
    <contentRows>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "dbdca11e-9c28-484e-b070-f13c4bb0919b",
      "key": "150e2656-76af-4e99-98c5-9268dca028df",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Agribulks"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d144381b-3d79-4e98-97d8-686b2c71bc5c",
              "mediaKey": "83406aad-10c1-40cc-b44d-f28e1e3c621f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "overlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "iconClass",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "agribulk"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "150e2656-76af-4e99-98c5-9268dca028df",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "150e2656-76af-4e99-98c5-9268dca028df",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contentRows>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>