<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6e85c99-4e1e-4f58-995a-e36438e09bb3" Alias="The Value of Goods Report" Level="5">
  <Info>
    <Parent Key="c1f78004-b38e-432a-8357-a0cab0cf636c">2016</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//TheValueOfGoodsReport</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:15:23</CreateDate>
    <NodeName Default="The Value of Goods Report" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2016-07-01T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "0344d7a4-b98c-463a-824d-55e034e71dc5",
    "mediaKey": "758a7130-77ab-40f2-8e64-b6103b687c70"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[The Value of Goods Report]]></Value>
    </title>
    <type>
      <Value><![CDATA[]]></Value>
    </type>
  </Properties>
</Content>