<?xml version="1.0" encoding="utf-8"?>
<Content Key="754c9715-c306-4a1d-8245-906d3c01318c" Alias="UK Dredging" Level="4">
  <Info>
    <Parent Key="bbdad23b-fe07-47f5-bd83-3d691e7f5263">Subject</Parent>
    <Path>/Abports/Repository/Subject/UKDredging</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-11-09T19:12:02</CreateDate>
    <NodeName Default="UK Dredging" />
    <SortOrder>31</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>