<?xml version="1.0" encoding="utf-8"?>
<Content Key="75298def-a833-47b2-b541-014129f4f055" Alias="What's Our Sustainability Strategy All About" Level="5">
  <Info>
    <Parent Key="d4fd21c8-acf9-40dd-bbf8-9aee87ee59c4">2023</Parent>
    <Path>/Abports/NewsAndMedia/PublicationsDownload//WhatsOurSustainabilityStrategyAllAbout</Path>
    <Trashed>false</Trashed>
    <ContentType>downloadItem</ContentType>
    <CreateDate>2025-11-18T15:08:43</CreateDate>
    <NodeName Default="What's Our Sustainability Strategy All About" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <date>
      <Value><![CDATA[2023-05-11T00:00:00]]></Value>
    </date>
    <file>
      <Value><![CDATA[[
  {
    "key": "e81757d4-0966-4461-85a8-2203cafbfa0a",
    "mediaKey": "ee805851-f064-4b90-b313-1bbbf780b59e"
  }
]]]></Value>
    </file>
    <title>
      <Value><![CDATA[What's Our Sustainability Strategy All About]]></Value>
    </title>
    <type>
      <Value><![CDATA[umb://document/f4e1a19e89d3473c9ec6ffab2046a9a6]]></Value>
    </type>
  </Properties>
</Content>