.avia-section.av-3bdi4c-2f387104bbe2bea7aa934f9cd1775fed .av-section-color-overlay {
    opacity: 0.2;
    background-color: #000000
}

.avia-image-container.av-3ad5sc-81ac54a8ff53b81adc62eb8881ec484d .avia-image-container-inner {
    transform: scale3d(.8, .8, .8)
}

.avia-image-container.av-3ad5sc-81ac54a8ff53b81adc62eb8881ec484d img.avia_image {
    box-shadow: none
}

.avia-image-container.av-3ad5sc-81ac54a8ff53b81adc62eb8881ec484d .av-image-caption-overlay-center {
    color: #ffffff
}

#top .hr.hr-invisible.av-bp67c-78cbbe8faba1c933ba6c50db8c784506 {
    margin-top: -20px;
    height: 1px
}

.avia-image-container.av-385y38-e44667a33968830b18c1924080d60ca4 .avia-image-container-inner {
    transform: scale3d(.5, .5, .5)
}

.avia-image-container.av-385y38-e44667a33968830b18c1924080d60ca4 img.avia_image {
    box-shadow: none
}

.avia-image-container.av-385y38-e44667a33968830b18c1924080d60ca4 .av-image-caption-overlay-center {
    color: #ffffff
}

.avia-section.av-37y1tw-831fcf0489e2442a329ab06f898d5097 {
    background-repeat: no-repeat;
    background-image: url(../images/71d349db9f9c6a3398210c85a7a3573b-845x684.jpg);
    background-position: 50% 50%;
    background-attachment: scroll
}

.avia-section.av-37y1tw-831fcf0489e2442a329ab06f898d5097 .av-section-color-overlay {
    opacity: 0.2;
    background-color: #000000
}

.avia-image-container.av-379bmo-16c9412e623bf6f47af59dbeb00315dc .avia-image-container-inner {
    transform: scale3d(1, 1, 1)
}

.avia-image-container.av-379bmo-16c9412e623bf6f47af59dbeb00315dc img.avia_image {
    box-shadow: none
}

.avia-image-container.av-379bmo-16c9412e623bf6f47af59dbeb00315dc .av-image-caption-overlay-center {
    color: #ffffff
}

#top #wrap_all .avia-button.av-361kv0-876780c4aa872a0a3e1bc7467bb1c1fc {
    font-size: 18px;
    background-color: #52a19a;
    border-color: #52a19a;
    color: #ffffff;
    border-style: none;
    border-radius: 25px 25px 25px 25px;
    transition: all 0.4s ease-in-out;
    margin: 0 0 0 0;
    padding: 15px 20px 15px 20px
}

#top #wrap_all.avia-button.av-361kv0-876780c4aa872a0a3e1bc7467bb1c1fc:hover .avia_button_background {
    border-radius: 25px 25px 25px 25px
}

#top #wrap_all .avia-button.av-361kv0-876780c4aa872a0a3e1bc7467bb1c1fc .avia-svg-icon svg:first-child {
    fill: #ffffff;
    stroke: #ffffff
}

.avia_transform .flex_column.av-34hoa8-a98e4060c9e35ff93dbd23a2430943fb {
    animation-duration: 0.5s
}

.avia_transform .avia-image-container.av-31v5tc-8b1d38979dfd65350a644f6555961384 {
    animation-duration: 0.5s
}

.avia-image-container.av-31v5tc-8b1d38979dfd65350a644f6555961384 img.avia_image {
    box-shadow: none
}

.avia-image-container.av-31v5tc-8b1d38979dfd65350a644f6555961384 .av-image-caption-overlay-center {
    color: #ffffff
}

.avia-section.av-30874o-e53b85c37590bdd7aaa971b8b03a65a9 .av-parallax .av-parallax-inner {
    background-repeat: no-repeat;
    background-image: url(../images/grey_lowpoly_bg-v03.svg);
    background-position: 100% 100%;
    background-attachment: scroll
}

.avia-section.av-30874o-e53b85c37590bdd7aaa971b8b03a65a9 .av-section-color-overlay {
    opacity: 0.7;
    background-color: #ffffff
}

.avia_transform .flex_column.av-2ze0xw-4c801e285275b847de57fc644c051590 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-2xpczo-6ba20e7d533d09d19d144daa9ae8c281 {
    animation-duration: 0.5s
}

.avia-video.av-2xa588-d2d78b6c3e8efb3be9828b7b2062e7f2 {
    background-image: url(../images/short_vid_placeholder.png)
}

.avia_transform .flex_column.av-2w2ryo-370900fba799dd607dc3848c1c3bcc53 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-2rues0-81d32fd056db7d5a9d64d8fcc678a8ec {
    animation-duration: 0.5s
}

.avia-image-container.av-2qwdgw-d98cfc88d196383c60a36d34df62a87e img.avia_image {
    box-shadow: none
}

.avia-image-container.av-2qwdgw-d98cfc88d196383c60a36d34df62a87e .av-image-caption-overlay-center {
    color: #ffffff
}

.flex_column.av-2qr5tc-bb7163a1f284cd2675eb25240c91fd98 {
    width: 47.5%;
    margin-left: 0
}

.avia_transform .flex_column.av-2qr5tc-bb7163a1f284cd2675eb25240c91fd98 {
    animation-duration: 0.5s
}

#top .flex_column_table.av-equal-height-column-flextable.av-2qr5tc-bb7163a1f284cd2675eb25240c91fd98 .av-flex-placeholder {
    width: 5%
}

.avia-image-container.av-2pugcg-1b7bdcd841e4e8bfc3315684dcc9ae07 img.avia_image {
    box-shadow: none
}

.avia-image-container.av-2pugcg-1b7bdcd841e4e8bfc3315684dcc9ae07 .av-image-caption-overlay-center {
    color: #ffffff
}

.flex_column.av-2p646s-7bab3ccfcabce07bff3025c5e2812a41 {
    width: 47.5%;
    margin-left: 0
}

.avia_transform .flex_column.av-2p646s-7bab3ccfcabce07bff3025c5e2812a41 {
    animation-duration: 0.5s
}

#top .flex_column_table.av-equal-height-column-flextable.av-2p646s-7bab3ccfcabce07bff3025c5e2812a41 .av-flex-placeholder {
    width: 5%
}

.avia-image-container.av-2onyps-2b2deadd5fdf161e21ab58142a7682eb img.avia_image {
    box-shadow: none
}

.avia-image-container.av-2onyps-2b2deadd5fdf161e21ab58142a7682eb .av-image-caption-overlay-center {
    color: #ffffff
}

.avia_transform .flex_column.av-2nkwxg-4a69b5d8f5c3876ab6bb70a9a0bf50c3 {
    animation-duration: 0.5s
}

.avia-image-container.av-2mbvpk-8720b11fa2776af3657da6883ac91dcf img.avia_image {
    box-shadow: none
}

.avia-image-container.av-2mbvpk-8720b11fa2776af3657da6883ac91dcf .av-image-caption-overlay-center {
    color: #ffffff
}

.flex_column.av-9e9hc-8e4d174f1e3912fbf03409700a3e5342 {
    width: 21.25%;
    margin-left: 0
}

.avia_transform .flex_column.av-9e9hc-8e4d174f1e3912fbf03409700a3e5342 {
    animation-duration: 0.5s
}

#top .flex_column_table.av-equal-height-column-flextable.av-9e9hc-8e4d174f1e3912fbf03409700a3e5342 .av-flex-placeholder {
    width: 5%
}

.avia-image-container.av-2lcra4-6930668f768c9a0ff21030d5ee0646c3 img.avia_image {
    box-shadow: none
}

.avia-image-container.av-2lcra4-6930668f768c9a0ff21030d5ee0646c3 .av-image-caption-overlay-center {
    color: #ffffff
}

.flex_column.av-98zfo-02d8a32c91a901082944c1feb6b0d334 {
    width: 47.5%;
    margin-left: 0
}

.avia_transform .flex_column.av-98zfo-02d8a32c91a901082944c1feb6b0d334 {
    animation-duration: 0.5s
}

#top .flex_column_table.av-equal-height-column-flextable.av-98zfo-02d8a32c91a901082944c1feb6b0d334 .av-flex-placeholder {
    width: 5%
}

.avia-image-container.av-2k7ric-298cd61cfdd8a599656d2a16da796e96 img.avia_image {
    box-shadow: none
}

.avia-image-container.av-2k7ric-298cd61cfdd8a599656d2a16da796e96 .av-image-caption-overlay-center {
    color: #ffffff
}

.flex_column.av-2jfuyg-bc67c6b6134aca29337f1b0a5d6b6ad9 {
    width: 21.25%;
    margin-left: 0
}

.avia_transform .flex_column.av-2jfuyg-bc67c6b6134aca29337f1b0a5d6b6ad9 {
    animation-duration: 0.5s
}

#top .flex_column_table.av-equal-height-column-flextable.av-2jfuyg-bc67c6b6134aca29337f1b0a5d6b6ad9 .av-flex-placeholder {
    width: 5%
}

.avia-image-container.av-935sg-675dc7d8b366255fb5a2ab59ff44f2ba img.avia_image {
    box-shadow: none
}

.avia-image-container.av-935sg-675dc7d8b366255fb5a2ab59ff44f2ba .av-image-caption-overlay-center {
    color: #ffffff
}

#top .hr.hr-invisible.av-2igub4-1d073aaa1a9d93ae74160f23780b44dd {
    height: 50px
}

.avia-section.av-2hglog-bf8c442a787542e3d44a60be969f5d22 .av-parallax .av-parallax-inner {
    background-repeat: no-repeat;
    background-image: url(../images/green_lowpoly_bg-v03.svg);
    background-position: 50% 0%;
    background-attachment: scroll
}

.avia_transform .flex_column.av-2gyy9g-2bcf2aa5ee72eed15e048c8ed03a368b {
    animation-duration: 0.5s
}

#top .av_textblock_section.av-2gl7tg-25574070c3f529fe43bdd2e344348f0f .avia_textblock {
    color: #ffffff
}

.avia-section.av-2fujv4-5cb35f2a11527edfa43ef7fa976d7f00 {
    background-color: #efefef;
    background-image: unset
}

.avia_transform .flex_column.av-2elj14-d2cbb3e8a19a3557583bae45ebbc7582 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-2cgsrg-4f34dca60953af65a92e8aecbd35ea68 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-29s6oc-7cd0cf86faf32f48917d074525d3f4c4 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-27ep7g-30e4dbce3be9b9bb7a82013025726876 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-251fx0-c997c8083cfe333f8505fa05f488d136 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-22dj7s-433cde191d61432b24d63833cc08e1ea {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-20u90k-403d896f51f1f80bc33108a1650d8fdf {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-1zbamc-2d5f106a0c5d94ac81b43e6462777633 {
    animation-duration: 0.5s
}

#top .hr.hr-invisible.av-1x1jn4-b60972204fdfe392e065f6f30609420f {
    height: 150px
}

.avia_transform .flex_column.av-1vj2x0-05c805b1bb8aa83c6c847be784bc225c {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-1ualg8-7b10d176e9ac744cf7c569c57dc5ba75 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-1tfu1k-29c499cc649cee330cc9eba6b2df6ed9 {
    animation-duration: 0.5s
}

#top .hr.hr-invisible.av-1s816w-b9c95f383505bb5c2f9b36b5df8d2be5 {
    height: 50px
}

.avia-accordion.av-1r8hy4-de1d41468a9518a703144d5221715b3b {
    max-height: 430px
}

.avia-accordion.av-1r8hy4-de1d41468a9518a703144d5221715b3b .aviaccordion-preview {
    width: 17.1%
}

.avia-accordion .aviaccordion-slide.av-1r8hy4-de1d41468a9518a703144d5221715b3b__0 {
    left: 0%
}

.avia-accordion .aviaccordion-slide.av-1r8hy4-de1d41468a9518a703144d5221715b3b__1 {
    left: 16.6666666667%
}

.avia-accordion .aviaccordion-slide.av-1r8hy4-de1d41468a9518a703144d5221715b3b__2 {
    left: 33.3333333333%
}

.avia-accordion .aviaccordion-slide.av-1r8hy4-de1d41468a9518a703144d5221715b3b__3 {
    left: 50%
}

.avia-accordion .aviaccordion-slide.av-1r8hy4-de1d41468a9518a703144d5221715b3b__4 {
    left: 66.6666666667%
}

.avia-accordion .aviaccordion-slide.av-1r8hy4-de1d41468a9518a703144d5221715b3b__5 {
    left: 83.3333333333%
}

.avia-section.av-1n224o-c7ae6135596613b74f8069939d068290 .av-parallax .av-parallax-inner {
    background-repeat: no-repeat;
    background-image: url(../images/grey_lowpoly_bg-v03.svg);
    background-position: 50% 100%;
    background-attachment: scroll
}

.avia-section.av-1n224o-c7ae6135596613b74f8069939d068290 .av-section-color-overlay {
    opacity: 0.5;
    background-color: #ffffff
}

.avia_transform .flex_column.av-1mpf9o-e26aa9faf1980b08d318a6833f4e987e {
    animation-duration: 0.5s
}

.avia-section.av-1ji418-f74f5fba61f5c780a91fcbc1f1cb50cd {
    background-color: #efefef;
    background-image: unset
}

.avia_transform .flex_column.av-1j8zn0-8155a706e38c4ef3fc9d92a4b065e769 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-1i35xg-9126dd95e92d8fed488b4e56eabcd453 {
    animation-duration: 0.5s
}

.avia-section.av-1ghyfs-c15a58530794fc7b0ea481485b1fa5b0 .av-parallax .av-parallax-inner {
    background-repeat: no-repeat;
    background-image: url(../images/grey_lowpoly_bg-v03.svg);
    background-position: 50% 100%;
    background-attachment: scroll
}

.avia-section.av-1ghyfs-c15a58530794fc7b0ea481485b1fa5b0 .av-section-color-overlay {
    opacity: 0.5;
    background-color: #ffffff
}

.avia_transform .flex_column.av-1gcyqc-86993cb982a9b3bb4313fd6402800687 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-1dy7qk-0b203a37cf30849dfdc4ff1b72702764 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-1c7ibw-901cbed4c1d010a55b15a8c0ca292f5f {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-1aazw8-134965a7e66b5d737b9298f68d919cc7 {
    animation-duration: 0.5s
}

.avia-image-container.av-19mkt0-45669b7af72b3bc78791de986de2cae6 img.avia_image {
    box-shadow: none
}

.avia-image-container.av-19mkt0-45669b7af72b3bc78791de986de2cae6 .av-image-caption-overlay-center {
    color: #ffffff
}

.av_font_icon.av-18jh60-0073f6ea5f1469ba31b9254fb9e34232 .av-icon-char {
    font-size: 30px;
    line-height: 30px
}

.avia_transform .avia-image-container.av-17uhxs-f844a25a7957cdf14c8e60a5463c009b {
    animation-duration: 0.5s
}

.avia-image-container.av-17uhxs-f844a25a7957cdf14c8e60a5463c009b img.avia_image {
    box-shadow: none
}

.avia-image-container.av-17uhxs-f844a25a7957cdf14c8e60a5463c009b .av-image-caption-overlay-center {
    color: #ffffff
}

.avia-section.av-17eokk-bfb3bed42642f7f54e1f7f5cb3a0b71c .av-parallax .av-parallax-inner {
    background-repeat: no-repeat;
    background-image: url(../images/grey_lowpoly_bg-v03.svg);
    background-position: 50% 100%;
    background-attachment: scroll
}

.avia-section.av-17eokk-bfb3bed42642f7f54e1f7f5cb3a0b71c .av-section-color-overlay {
    opacity: 0.5;
    background-color: #ffffff
}

.avia_transform .flex_column.av-16ry4o-e5afc774f1eb99053e7a94d62ae86c39 {
    animation-duration: 0.5s
}

.avia-section.av-15ha1c-c394c8161f71eadb676d4f562a12e91f {
    background-color: #efefef;
    background-image: unset
}

.avia_transform .flex_column.av-14k5wo-c944e1da3899086e8674bbb40652f362 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-13qnn0-828a1bebff76f6c0fda0142e26b2a653 {
    animation-duration: 0.5s
}

.avia-section.av-12lzr0-e216e9f39c28ff50c0fabd633db4a8f2 .av-parallax .av-parallax-inner {
    background-repeat: no-repeat;
    background-image: url(../images/grey_lowpoly_bg-v03.svg);
    background-position: 50% 100%;
    background-attachment: scroll
}

.avia-section.av-12lzr0-e216e9f39c28ff50c0fabd633db4a8f2 .av-section-color-overlay {
    opacity: 0.5;
    background-color: #ffffff
}

.avia_transform .flex_column.av-11oi1g-21e6e67b8e000c2f2047c9d2607dfb09 {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-xmr7c-442f5cb35aec1517f882195e555b2eff {
    animation-duration: 0.5s
}

.avia-section.av-38s3o-0285208f66fe11f7934693c92a84d140 .av-parallax .av-parallax-inner {
    background-repeat: no-repeat;
    background-image: url(../images/green_lowpoly_bg-v03.svg);
    background-position: 50% 0%;
    background-attachment: scroll
}

.avia_transform .flex_column.av-377rw-021ec2bbc893f0ec06bbb04537393153 {
    animation-duration: 0.5s
}

.avia-image-container.av-up7qs-74ebbdf110b731074481956701e12608 img.avia_image {
    box-shadow: none
}

.avia-image-container.av-up7qs-74ebbdf110b731074481956701e12608 .av-image-caption-overlay-center {
    color: #ffffff
}

.avia-image-container.av-twuak-a6c9fee22c5ed5af3b7b2043462ba224 img.avia_image {
    box-shadow: none
}

.avia-image-container.av-twuak-a6c9fee22c5ed5af3b7b2043462ba224 .av-image-caption-overlay-center {
    color: #ffffff
}

.flex_column.av-svd2c-86f74fe9491789a5953d7cced377c897 {
    width: 47.5%;
    margin-left: 0
}

.avia_transform .flex_column.av-svd2c-86f74fe9491789a5953d7cced377c897 {
    animation-duration: 0.5s
}

#top .flex_column_table.av-equal-height-column-flextable.av-svd2c-86f74fe9491789a5953d7cced377c897 .av-flex-placeholder {
    width: 5%
}

.flex_column.av-rnh1s-5bdf2e8e16cfcac3d1301b31a2332906 {
    width: 47.5%;
    margin-left: 0
}

.avia_transform .flex_column.av-rnh1s-5bdf2e8e16cfcac3d1301b31a2332906 {
    animation-duration: 0.5s
}

#top .flex_column_table.av-equal-height-column-flextable.av-rnh1s-5bdf2e8e16cfcac3d1301b31a2332906 .av-flex-placeholder {
    width: 5%
}

.avia-section.av-oruc8-06278ebcefeaf2733b9a2f4b2c421f0a {
    background-color: #f0fffe;
    background-image: unset
}

.avia_transform .flex_column.av-nwkew-fe83c398eb21b9e0e71d59f8e831fd4e {
    animation-duration: 0.5s
}

.avia_transform .flex_column.av-i7js4-793e44d41f4d3085f2525b2bd0db0ef1 {
    animation-duration: 0.5s
}

.avia-section.av-geyxo-1cd7470c98b9703360129d07730adb51 {
    background-color: #efefef;
    background-image: unset
}

.avia_transform .flex_column.av-fw88s-6545818f7caf5bb1c2de91590719921c {
    animation-duration: 0.5s
}

#top .hr.hr-invisible.av-bsif4-10b82d7d2764fcc98141f2d6d20c8997 {
    margin-top: -50px;
    height: 1px
}

.avia_transform .flex_column.av-9xpek-7d6fc46470278140c809b9f68d733c71 {
    animation-duration: 0.5s
}

.avia-image-container.av-98g2g-3d626a9e93b42f14377b58ac294d01ad img.avia_image {
    box-shadow: none
}

.avia-image-container.av-98g2g-3d626a9e93b42f14377b58ac294d01ad .av-image-caption-overlay-center {
    color: #ffffff
}

#top .hr.hr-invisible.av-8g8mw-1519ac0ab6e8e94fd30d96dc6eb559f9 {
    height: 50px
}

.avia-section.av-853sc-6df7ecf4c3a7ed86904062ff908fe7e1 {
    background-color: #116942;
    background-image: unset
}

.flex_column.av-7er94-f4de9f480eb73e36d2db33d23667b60f {
    width: 30%;
    margin-left: 0
}

#top .flex_column_table.av-equal-height-column-flextable.av-7er94-f4de9f480eb73e36d2db33d23667b60f .av-flex-placeholder {
    width: 5%
}

.flex_column.av-6xmfk-40096ed3c1b57228c877eb3a51bb598b {
    width: 30%;
    margin-left: 0
}

#top .flex_column_table.av-equal-height-column-flextable.av-6xmfk-40096ed3c1b57228c877eb3a51bb598b .av-flex-placeholder {
    width: 5%
}

#top .hr.hr-invisible.av-6f7mg-2c2c2efaa9499f05539e5e1135c2aa52 {
    margin-top: -150px;
    height: 1px
}

@keyframes av_boxShadowEffect_av-5nxws-4c5a33f9ece6cf0eb2e0ff1be51c7ce2 {
    0% {
        box-shadow: 0 0 0 0;
        opacity: 1
    }

    100% {
        box-shadow: 0 0 10px 0;
        opacity: 1
    }
}

.avia-image-container.av-5nxws-4c5a33f9ece6cf0eb2e0ff1be51c7ce2 .avia-image-container-inner {
    transform: scale3d(.2, .2, .2) translate3d(0, 0, -100)
}

.avia-image-container.av-5nxws-4c5a33f9ece6cf0eb2e0ff1be51c7ce2 img.avia_image {
    box-shadow: 0 0 10px 0
}

.avia-image-container.av-5nxws-4c5a33f9ece6cf0eb2e0ff1be51c7ce2 .av-image-caption-overlay-center {
    color: #ffffff
}

.flex_column.av-51q2c-54b5eec32ce0f7deae8b02422d0aeedb {
    width: 30%;
    margin-left: 0
}

#top .flex_column_table.av-equal-height-column-flextable.av-51q2c-54b5eec32ce0f7deae8b02422d0aeedb .av-flex-placeholder {
    width: 5%
}

#top #wrap_all .avia-button.av-4lmz4-dfe0bca9c7683a0d865fa1b4939a6bfc {
    font-size: 24px;
    border-style: none;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.4s ease-in-out;
    margin: 25px 25px 25px 25px;
    padding: 20px 20px 20px 20px
}

#top #wrap_all.avia-button.av-4lmz4-dfe0bca9c7683a0d865fa1b4939a6bfc:hover .avia_button_background {
    border-radius: 20px 20px 20px 20px
}

.avia-section.av-dpx0-fe5edd3ba9d34142ed04dc578d69ce0a {
    background-color: #f0fffe;
    background-image: unset
}

.avia_transform .flex_column.av-32fmo-e0f6431017ef1f96c3335b8749ddebde {
    animation-duration: 0.5s
}

.avia-image-container.av-2qqhk-beb860aaf231f8d350fcd008223172a8 img.avia_image {
    box-shadow: none
}

.avia-image-container.av-2qqhk-beb860aaf231f8d350fcd008223172a8 .av-image-caption-overlay-center {
    color: #ffffff
}

.avia-image-container.av-1z348-54d262f13c1ee39239f24a6393103e8c img.avia_image {
    box-shadow: none
}

.avia-image-container.av-1z348-54d262f13c1ee39239f24a6393103e8c .av-image-caption-overlay-center {
    color: #ffffff
}

.flex_column.av-1bzk4-73377f3d190b62bcee0e5b1f4dd59402 {
    width: 47.5%;
    margin-left: 0
}

.avia_transform .flex_column.av-1bzk4-73377f3d190b62bcee0e5b1f4dd59402 {
    animation-duration: 0.5s
}

#top .flex_column_table.av-equal-height-column-flextable.av-1bzk4-73377f3d190b62bcee0e5b1f4dd59402 .av-flex-placeholder {
    width: 5%
}