@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <title>Associated British Ports</title>
    <meta name="description" content="ABP is the UK’s leading ports group." />
    <meta name="keywords" content="Home ABP AB Ports" />



    <link href="/abp/css/stylesheet.css" rel="stylesheet" />
    <script defer text javascript src='/abp/js/common.js'></script>


    <link href="/favicon.ico" rel="icon" />

    <!-- jQuery - Load first -->
  @*   <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> *@

  

    
</head>

<body>

 @await Html.PartialAsync("_header")

    @RenderBody()

  @await Html.PartialAsync("_footer")

    <button class="scroll-to-top js-scroll-top icon font-ico-ar-right" type="button">
        <span class="sr-only">Scroll top</span>
    </button>

    

    <script defer text javascript src='/abp/js/validationScripts.js'></script>

</body>
</html>