@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Article>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core
@using Clean.Core.Extensions
@using ABP.Web.Models.UmbracoModels

@{
    Layout = "abpMaster.cshtml";
    var author = Model.Author;

    var categories = Model.Categories != null && Model.Categories.Any()
        ? string.Join(", ", Model.Categories.Select(c => c.Name))
        : "";

    string formattedDate = Model.ArticleDate.ToString("dd MMMM yyyy");
}

<div class="banner banner--big">
    <div class="banner__container">
        <div class="banner__category-wrapper">
            @if (!string.IsNullOrEmpty(categories))
            {
                <span class="banner__category">Property</span>
            }
            @if (!string.IsNullOrEmpty(Model.Subtitle))
            {
                <span class="banner__category-date">@Model.Subtitle</span>
            }
        </div>
        <span class="banner__subtitle"></span>
        <h1 class="banner__title banner__title--article">@Model.Title</h1>
        <span class="banner__date">@formattedDate</span>
    </div>
</div>

<div class="content-up">
    <div class="content-up__container">

        @Html.GetBlockListHtml(Model.ContentRows)

    </div>
</div>