@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Article>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core
@using Clean.Core.Extensions
@using ABP.Web.Models.UmbracoModels

@{
    Layout = "abpMaster.cshtml";
    var author = Model.Author;
}




<div class="content-up">
    <div class="content-up__container">

        @Html.GetBlockListHtml(Model.ContentRows)

    </div>
</div>