@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Clean.Core.Extensions
@using Clean.Core.Helpers
@using ABP.Web.Models.UmbracoModels
@{
    var boardOfDirectors = Model.Content as BoardOfDirectors;

    var settings = Model.Settings as HideProperty;

    if (settings?.Hide ?? false) { return; }

    var executiveDirectors = boardOfDirectors?.ExecutiveDirectors ;
    var nonExecutiveDirectors = boardOfDirectors?.NonExecutiveDirectors;
}


<div class="container">
    <section class="board-section">

        <div class="board-title">
            <div class="section-label">@boardOfDirectors?.DirectorsTitle</div>
            <h2 class="board-heading">@boardOfDirectors?.DirectorsSubtitle</h2>
        </div>

        @if (executiveDirectors != null && executiveDirectors.Any())
        {
            <div class="row">

                @foreach (var executiveDirector in executiveDirectors)
                {
                    var directorProfile = (DirectorProfile)executiveDirector;

                    <div class="col-md-6 col-lg-4">
                        <div class="director-card">
                            <div class="img-relative">
                                <img src="@directorProfile?.MainImage?.Url()" alt="@directorProfile?.Name" class="director-image">
                                <span class="plus-icon">

                                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="0.625" y="0.72998" width="44" height="44" rx="22" fill="white" />
                                        <path d="M28.7126 22.2299C28.7126 22.3599 28.6676 22.4699 28.5776 22.5599C28.4876 22.6499 28.3776 22.6949 28.2476 22.6949H23.0876V27.8549C23.0876 27.9849 23.0426 28.0949 22.9526 28.1849C22.8626 28.2749 22.7526 28.3199 22.6226 28.3199C22.4926 28.3199 22.3801 28.2749 22.2851 28.1849C22.1901 28.0949 22.1426 27.9849 22.1426 27.8549V22.6949H16.9976C16.8676 22.6949 16.7551 22.6499 16.6601 22.5599C16.5651 22.4699 16.5176 22.3599 16.5176 22.2299C16.5176 22.0999 16.5651 21.9899 16.6601 21.8999C16.7551 21.8099 16.8676 21.7649 16.9976 21.7649H22.1426V16.6049C22.1426 16.4749 22.1901 16.3649 22.2851 16.2749C22.3801 16.1849 22.4926 16.1399 22.6226 16.1399C22.7526 16.1399 22.8626 16.1849 22.9526 16.2749C23.0426 16.3649 23.0876 16.4749 23.0876 16.6049V21.7649H28.2476C28.3776 21.7649 28.4876 21.8099 28.5776 21.8999C28.6676 21.9899 28.7126 22.0999 28.7126 22.2299Z"
                                              fill="#152A5D" />
                                    </svg>

                                </span>
                            </div>
                            <div class="director-name">@directorProfile?.Title</div>
                            <div class="director-title">@directorProfile?.Subtitle</div>
                        </div>
                    </div>
                }


            </div>

            <div class="director-description" style="display: none;">

                <p>
                    <strong> Jon Lewis </strong> was appointed Chair of Associated British Ports Holdings on 25 September
                    2024.
                </p>
                <p>
                    He has over 35 years of diverse experience in technology-driven, capital-intensive, long-term, complex
                    B2B contracting businesses. From December 2017 until January 2024 he was the Chief Executive Officer of
                    Capita plc, where he oversaw significant business transformation. Prior to joining Capita, Jon was Chief
                    Executive Officer of Amec Foster Wheeler, a FTSE global engineering and construction company serving the
                    energy, mining and environmental services sectors. Previously, Jon worked for more than two decades at
                    Halliburton, holding a number of senior executive positions and was a member of the executive committee.
                </p>

            </div>
        }
    </section>


    <h2>@boardOfDirectors?.NonExecutiveTitle</h2>
    @if (nonExecutiveDirectors != null && nonExecutiveDirectors.Any())
    {
        <section class="director-carousel mt-4">
            @foreach (var nonExecutiveDirector in nonExecutiveDirectors)
            {
                var nonExecutiveDirectorProfile = (DirectorProfile)nonExecutiveDirector;
                <div class="director-card">
                    <div class="img-relative">
                        <img src="@nonExecutiveDirectorProfile?.MainImage?.Url()" alt="@nonExecutiveDirectorProfile?.MainImage?.Name" class="director-image">
                        <span class="plus-icon">

                            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.625" y="0.72998" width="44" height="44" rx="22" fill="white" />
                                <path d="M28.7126 22.2299C28.7126 22.3599 28.6676 22.4699 28.5776 22.5599C28.4876 22.6499 28.3776 22.6949 28.2476 22.6949H23.0876V27.8549C23.0876 27.9849 23.0426 28.0949 22.9526 28.1849C22.8626 28.2749 22.7526 28.3199 22.6226 28.3199C22.4926 28.3199 22.3801 28.2749 22.2851 28.1849C22.1901 28.0949 22.1426 27.9849 22.1426 27.8549V22.6949H16.9976C16.8676 22.6949 16.7551 22.6499 16.6601 22.5599C16.5651 22.4699 16.5176 22.3599 16.5176 22.2299C16.5176 22.0999 16.5651 21.9899 16.6601 21.8999C16.7551 21.8099 16.8676 21.7649 16.9976 21.7649H22.1426V16.6049C22.1426 16.4749 22.1901 16.3649 22.2851 16.2749C22.3801 16.1849 22.4926 16.1399 22.6226 16.1399C22.7526 16.1399 22.8626 16.1849 22.9526 16.2749C23.0426 16.3649 23.0876 16.4749 23.0876 16.6049V21.7649H28.2476C28.3776 21.7649 28.4876 21.8099 28.5776 21.8999C28.6676 21.9899 28.7126 22.0999 28.7126 22.2299Z"
                                      fill="#152A5D" />
                            </svg>

                        </span>
                    </div>

                    <div class="director-name">@nonExecutiveDirectorProfile?.Title</div>
                    <div class="director-title">@nonExecutiveDirectorProfile?.Subtitle</div>
                </div>
            }

        </section>
    }



</div>