@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@using ABP.Web.Models.UmbracoModels
@{
    var footerLinksSplit = Model.Content as FooterLinksSplit;
}
<div class="col-lg-4 col-md-8 col-sm-12">
    <h4 class="footer__title-small">@footerLinksSplit?.Title</h4>
    @if (footerLinksSplit?.Links != null && footerLinksSplit.Links.Any())
    {
        <ul class="footer__list-small split">
            @foreach (var link in footerLinksSplit.Links)
            {
                <li class="footer__item-small">
                    <a href="@link.Url" class="footer__link-small" target="@link.Target">@link.Name</a>

                </li>
            }

        </ul>
    }
</div>