@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@using ABP.Web.Models.UmbracoModels
@{
    var currentPage = Umbraco.AssignedContentItem;
    var homePage = (Home)currentPage.AncestorOrSelf(Home.ModelTypeAlias);

    var headerBottomMenus = Model.Content as HeaderBottomMenus;

}
<div class="header__bottom">
    <div class="header__container header__container--bottom">
        <a href="@homePage?.Url()" class="logo">
            <img src="@homePage?.Logo?.Url()" alt="@homePage?.Title" class="logo__img" />
            <img src="@homePage?.HoverLogo?.Url()" alt="@homePage?.Title" class="logo__img-hover" />
        </a>
        <nav class="nav js-navigation" aria-label="Main navigation">
            <button class="nav__toggle js-nav-toggle">
                <span class="sr-only">@headerBottomMenus?.Title</span>
            </button>
            <ul class="nav__list" role="menubar">
                @Html.GetBlockListHtml(headerBottomMenus?.MenuItems)
               
            </ul>
            <button type="button" class="nav__search icon font-ico-search js-search-open" aria-label="Open search"></button>
        </nav>
    </div>
</div>