@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models
@using Clean.Core.Extensions
@using Clean.Core.Helpers
@using ABP.Web.Models.UmbracoModels

@{
    var heroBannerWithCta = Model.Content as HeroBannerWithCta;

    var title = heroBannerWithCta?.Title;
    var subtitle = heroBannerWithCta?.SubTitle;
    var mainMedia = heroBannerWithCta?.BannerImage; // Can be image or video
    var ctas = heroBannerWithCta?.BannerCta; // <-- Multi URL Picker = IEnumerable<Link>

    var videoLink = heroBannerWithCta?.HeroVideoLink?.Url;
}

<div class="hero-section">
    <div class="hero__video">
        <iframe class="hero__video-iframe" src=@videoLink" frameborder="0" allow="autoplay; fullscreen" allowfullscreen="" id="vimeo_id_0"></iframe>
    </div>
    <div class="hero-content">
        <h1 class="hero-title">
            @title
        </h1>
        <p class="hero-description">
            @subtitle
        </p>
        @{
            var ctaCount = 0;
            if (ctas != null)
            {
                foreach (var cta in ctas)
                {
                    <a href="@cta.Url"
                       target="@(string.IsNullOrWhiteSpace(cta.Target) ? "_self" : cta.Target)"
                       class="btn btn-know-more">
                        <span class="btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-arrow-up-right"
                                 viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146
                                                                                                     13.146a.5.5 0 0 0 .708.708L13
                                                                                                     3.707V8.5a.5.5 0 0 0 1 0z" />
                            </svg>
                        </span>
                        @cta.Name
                    </a>
                    ;
                    ctaCount++;
                }
            }

        }

    </div>
</div>