@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Extensions
@using ABP.Web.Models.UmbracoModels

@{
    var content = Model.Content as ImageCarouselRow;
    if (content == null) { return; }

    // Get selected media items (multiple image picker)
    var images = content.Value<IEnumerable<MediaWithCrops>>("images");
}

@if (images != null && images.Any())
{
    <div class="gallery">
        <div class="gallery__wrap">
            <div class="gallery__container">
                <div class="gallery__overflow">
                    <span class="slider-counter"><span class="sr-only">Slider counter</span></span>
                    <span class="slider-sum"><span class="sr-only">Number of slides</span></span>

                    <div class="slider gallery__slider">
                        <div class="slider__wrap js-slider">
                            @foreach (var image in images)
                            {
                                var imageUrl = image?.Url() ?? "";
                                if (!string.IsNullOrWhiteSpace(imageUrl))
                                {
                                    <div class="slider__element slider__element--gallery has-cover"
                                         style="background-image: url('@imageUrl');">
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
