@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@using ABP.Web.Models.UmbracoModels
@{
    var settings = Model.Settings as HideProperty;
    if (settings?.Hide ?? false) { return; }

    var recentNewsAndArticles = Model.Content as RecentNewsAndArticles;

    // var homeNode = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == Home.ModelTypeAlias);

    // var articleListNode = homeNode?.Children().FirstOrDefault(x => x.ContentType.Alias == ArticleList.ModelTypeAlias);

}

<div class="slider-home">
    <div class="wrap">
        <div class="slider-home__top">
            <h2 class="slider-home__title">@recentNewsAndArticles?.Title</h2>
            <a href="@recentNewsAndArticles?.CtaLink?.Url" target="@recentNewsAndArticles?.CtaLink?.Target" class="btn-home btn-home--transparent btn-home--cta">
                <span class="btn-home__text">@recentNewsAndArticles?.CtaLink?.Name</span>
            </a>
        </div>
    </div>
    <div class="slider-home__wrap">
        <div class="slider-home__container">
            <div class="slider-home__holder">
                <div class="slider-home__slides js-home-slider">
                    @if (recentNewsAndArticles != null && recentNewsAndArticles?.Articles != null && recentNewsAndArticles.Articles.Any())
                    {
                        foreach (var articlesNode in recentNewsAndArticles.Articles)
                        {
                            var article = (Article)articlesNode;
                            //var cats = article?.Categories?.Select(x => x.Name).ToList();

                            string? category = article?.Categories?.Select(x => x.Name).FirstOrDefault();

                          @*   if (cats != null && cats.Any())
                            {
                                categories = string.Join(",", cats);
                            } *@

                            string? formattedArticleDate = article?.ArticleDate.ToString("dd MMMM yyyy");

                            string? title = string.Empty;

                            if (article != null && !string.IsNullOrEmpty(article.Title) && article.Title.Length > 132)
                            {
                                title = article.Title.Substring(0, 132) + "...";
                            }
                            else
                            {
                                title = article?.Title;
                            }

                            <div class="slider-home__slide">
                                <div class="slider-home__img has-cover"
                                     style="background-image: url('@article?.MainImage?.Url()');">
                                    <div class="slider-home__tages">
                                        <span class="slider-home__tag">@category</span>
                                    </div>
                                </div>
                                <div class="slider-home__content">
                                    <a href="@article?.Url()"
                                       class="slider-home__link">
                                        @title
                                    </a>
                                    <span class="slider-home__date">@formattedArticleDate</span>
                                </div>
                            </div>
                        }
                    }
                  
                    
                </div>
            </div>
        </div>
    </div>
</div>