@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@using ABP.Web.Models.UmbracoModels

@{
    var richTextContent = Model.Content as RichTextContent;
    var settings = Model.Settings as HideProperty;
    if (settings?.Hide ?? false) { return; }

}

<div class="rte">
    @richTextContent?.RichContent
</div>