@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@using ABP.Web.Models.UmbracoModels

@{
    var richTextContent = Model.Content as RichTextContent;
    var settings = Model.Settings as HideProperty;
    if (settings?.Hide ?? false) { return; }

    // var spacingClasses = "";
    // if (Model.Settings is ISpacingProperties spacing)
    // {
    //     spacingClasses = Clean.Core.Helpers.SpacingHelper.GetSpacingClasses(spacing.PaddingTop, spacing.PaddingBottom, spacing.PaddingLeft, spacing.PaddingRight, spacing.MarginTop, spacing.MarginBottom, spacing.MarginLeft, spacing.MarginRight);
    // }
}

<div class="rte">
    @richTextContent?.RichContent
</div>