@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models
@using Umbraco.Extensions
@using ABP.Web.Models.UmbracoModels

@{
    var richTextContent = Model.Content as RichtextWithCta;
    var settings = Model.Settings as HideProperty;
    if (settings?.Hide ?? false) { return; }

    var content = richTextContent?.Value<string>("content");
    var cta = richTextContent?.Value<Link>("cta");
}

<div class="rte">
    @if (!string.IsNullOrWhiteSpace(content))
    {
        @Html.Raw(content)
    }

    @if (cta != null)
    {
        <p style="text-align: left;">
            <a href="@cta.Url" target="@cta.Target">
                <span class="btn"><strong>@cta.Name</strong></span>
            </a>
        </p>
    }
</div>
