@inherits UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Extensions
@using ABP.Web.Models.UmbracoModels

@{
    var content = Model.Content as TextWithMultipleCards;
    if (content == null) return;

    var title = content.Title;
    var description = content.Value<string>("description");
    var cards = content.Cards;
    var bigTiles = content.Value<bool>("bigTiles"); // toggle 1
    var squareCards = content.Value<bool>("squareCards"); // toggle 2
}

<div class="services">
    <div class="wrap">
        <div class="headline">
            <div class="wrap">
                <div class="headline__wrap">
                    <h2 class="headline__title">@title</h2>
                    <div class="headline__content">
                        <p class="headline__intro">
                            @description
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @if (cards != null && cards.Any())
        {
            <div class="services__cards">
                @foreach (var card in cards)
                {
                    var cardItem = (CardsWithImages)card.Content;
                    <div class="services__card">
                        <div class="services__content">
                            <img src="@cardItem.Image?.Url()" alt="@cardItem?.ImageTitle" class="services__img">
                            <h3 class="services__title">@cardItem?.ImageTitle</h3>
                        </div>
                        <span class="services__cta">Learn more!</span>
                        <a href="@cardItem?.Cta?.Url" target="@cardItem?.Cta?.Target" class="services__link">
                            <span class="sr-only">
                                Link to
                                page
                            </span>
                        </a>
                    </div>
                }           
            </div>
        }

    </div>
</div>