@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockListItem>
@using Umbraco.Cms.Core.Models.Blocks

@{
    var content = Model.Content;
    if (content == null) return;

    var leftBlocks = content.Value<BlockListModel>("leftColumn");
    var rightBlocks = content.Value<BlockListModel>("rightColumn");
}

<div class="container two-column-layout">
    <div class="row">
        <div class="col-md-8">
            @if (leftBlocks != null)
            {
                foreach (var block in leftBlocks)
                {
                    @await Html.PartialAsync("blocklist/Components/" + block.Content.ContentType.Alias, block)
                }
            }
        </div>

        <div class="col-md-4">
            @if (rightBlocks != null)
            {
                foreach (var block in rightBlocks)
                {
                    @await Html.PartialAsync("blocklist/Components/" + block.Content.ContentType.Alias, block)
                }
            }
        </div>
    </div>
</div>
