<?xml version="1.0" encoding="utf-8"?>
<Media Key="5624c31d-01b7-4578-81ee-87d871358545" Alias="07-4384_abp_report-summer-2021-single-pages-aw.pdf" Level="5">
  <Info>
    <Parent Key="56e3a53f-724f-4308-9687-16ebfa346d83">2021</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abp_reportSummer2021SinglePagesAwpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:10:10</CreateDate>
    <NodeName Default="07-4384_abp_report-summer-2021-single-pages-aw.pdf" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/30vn53uq/07-4384_abp_report-summer-2021-single-pages-aw.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>