<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ce5d459-bc5d-48b5-a09a-80d601b6b2e0" Alias="2012" Level="102">
  <Info>
    <Parent Key="f04fca3a-66dd-4a07-a9e1-71537f65f85b">Financial News</Parent>
    <Path>/[-21]/FinancialNews/</Path>
    <Trashed Parent="f04fca3a-66dd-4a07-a9e1-71537f65f85b">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T20:16:49</CreateDate>
    <NodeName Default="2012" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>