<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1fafd0f-6dc8-46b4-8145-15554d170c45" Alias="2015" Level="4">
  <Info>
    <Parent Key="67705abf-d53a-463e-8da5-27d6241af280">Publications Download</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-18T15:15:47</CreateDate>
    <NodeName Default="2015" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>