<?xml version="1.0" encoding="utf-8"?>
<Media Key="668fa470-2b60-4c8b-8eb2-74a2e8f90058" Alias="2015" Level="102">
  <Info>
    <Parent Key="f04fca3a-66dd-4a07-a9e1-71537f65f85b">Financial News</Parent>
    <Path>/[-21]/FinancialNews/</Path>
    <Trashed Parent="f04fca3a-66dd-4a07-a9e1-71537f65f85b">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T20:15:18</CreateDate>
    <NodeName Default="2015" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>