<?xml version="1.0" encoding="utf-8"?>
<Media Key="05ef6bc8-1d52-4849-bb01-230c705693a2" Alias="2016" Level="4">
  <Info>
    <Parent Key="67705abf-d53a-463e-8da5-27d6241af280">Publications Download</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-18T15:14:56</CreateDate>
    <NodeName Default="2016" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>