<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0c9ecd8-f553-4235-8ad3-0c79061e3cf3" Alias="2017-report-magazine-issue-4.pdf" Level="5">
  <Info>
    <Parent Key="9b01a902-949f-4a1d-8403-c7a941599031">2017</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//reportMagazineIssue4pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:14:07</CreateDate>
    <NodeName Default="2017-report-magazine-issue-4.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/focdeudu/2017-report-magazine-issue-4.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>