<?xml version="1.0" encoding="utf-8"?>
<Media Key="6541bab5-62fc-4e71-a3f4-765a82a6aea7" Alias="2017-annual-review.pdf" Level="5">
  <Info>
    <Parent Key="9b01a902-949f-4a1d-8403-c7a941599031">2017</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//annualReviewpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:14:27</CreateDate>
    <NodeName Default="2017-annual-review.pdf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i1jlvro1/2017-annual-review.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>