<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b01a902-949f-4a1d-8403-c7a941599031" Alias="2017" Level="4">
  <Info>
    <Parent Key="67705abf-d53a-463e-8da5-27d6241af280">Publications Download</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-18T15:14:03</CreateDate>
    <NodeName Default="2017" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>