<?xml version="1.0" encoding="utf-8"?>
<Media Key="c238a6a7-72ad-4710-94f1-12d91d8fecfe" Alias="2018-report-magazine-issue-8.pdf" Level="5">
  <Info>
    <Parent Key="11751ace-8f93-4153-9516-5baadcf962ec">2018</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//reportMagazineIssue8pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:12:58</CreateDate>
    <NodeName Default="2018-report-magazine-issue-8.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kthmgyuk/2018-report-magazine-issue-8.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>