<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6c2a250-3e8d-4f7e-ad2e-4d8a0af306d9" Alias="2018-report-magazine-issue-6.pdf" Level="5">
  <Info>
    <Parent Key="11751ace-8f93-4153-9516-5baadcf962ec">2018</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//reportMagazineIssue6pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:13:29</CreateDate>
    <NodeName Default="2018-report-magazine-issue-6.pdf" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/upfds3vk/2018-report-magazine-issue-6.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>