<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3e73c48-750b-49b8-9f4d-6a497ec9233f" Alias="2018-report-magazine-issue-7.pdf" Level="5">
  <Info>
    <Parent Key="11751ace-8f93-4153-9516-5baadcf962ec">2018</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//reportMagazineIssue7pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:13:03</CreateDate>
    <NodeName Default="2018-report-magazine-issue-7.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xnkbyezm/2018-report-magazine-issue-7.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>