<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a291c97-1de9-45ff-8a1d-13703904a4b2" Alias="2022" Level="102">
  <Info>
    <Parent Key="f04fca3a-66dd-4a07-a9e1-71537f65f85b">Financial News</Parent>
    <Path>/[-21]/FinancialNews/</Path>
    <Trashed Parent="f04fca3a-66dd-4a07-a9e1-71537f65f85b">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T20:11:54</CreateDate>
    <NodeName Default="2022" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>