<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b6fbe02-5d8b-4a45-9139-6d9aa5c8cf47" Alias="2025" Level="4">
  <Info>
    <Parent Key="f04fca3a-66dd-4a07-a9e1-71537f65f85b">Financial News</Parent>
    <Path>/abports/InvestorRelations/FinancialNews/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T20:08:42</CreateDate>
    <NodeName Default="2025" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>