<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dd6e6ca-2932-4483-81a3-d5e9bed7cd2d" Alias="2_3_1.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:05</CreateDate>
    <NodeName Default="2_3_1.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iuwjak01/2_3_1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>