<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fbd4713-fbef-4a82-b727-b8baecb169e1" Alias="About" Level="2">
  <Info>
    <Parent Key="7fbf54cf-383a-422d-b972-257271c0de9c">ABP</Parent>
    <Path>/ABP/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-10T20:42:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>