<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fe35149-d481-4dfe-8a06-4da8e69efb7d" Alias="abp-apprenticeship-brochure-2021.pdf" Level="5">
  <Info>
    <Parent Key="56e3a53f-724f-4308-9687-16ebfa346d83">2021</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpApprenticeshipBrochure2021pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:10:45</CreateDate>
    <NodeName Default="abp-apprenticeship-brochure-2021.pdf" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xi2bql3g/abp-apprenticeship-brochure-2021.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>