<?xml version="1.0" encoding="utf-8"?>
<Media Key="85f02af1-cb2d-47e0-a305-65c553b05be0" Alias="abp-ready-for-tomorrow.pdf" Level="5">
  <Info>
    <Parent Key="23a18bab-7483-4b20-8ece-b19046865348">2023</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpReadyForTomorrowpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:09:06</CreateDate>
    <NodeName Default="abp-ready-for-tomorrow.pdf" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ajbawjik/abp-ready-for-tomorrow.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>