<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe5ce489-4b9d-4e06-8cd6-b34ca3823743" Alias="ABP Homepage Ambient Video on Vimeo.html" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ABPHomepageAmbientVideoOnVimeohtml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-09-24T11:20:42</CreateDate>
    <NodeName Default="ABP Homepage Ambient Video on Vimeo.html" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pkgkoxv0/abp-homepage-ambient-video-on-vimeo.html]]></Value>
    </umbracoFile>
  </Properties>
</Media>