<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a787293-9607-4b4d-971d-b34990bfcc42" Alias="abp-annual-review-2023.pdf" Level="5">
  <Info>
    <Parent Key="23a18bab-7483-4b20-8ece-b19046865348">2023</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpAnnualReview2023pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:08:22</CreateDate>
    <NodeName Default="abp-annual-review-2023.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/manihcra/abp-annual-review-2023.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>