<?xml version="1.0" encoding="utf-8"?>
<Media Key="773c6228-1cf1-44f1-b0e6-2595aa590ee1" Alias="abp-report-summer-2020-issue.pdf" Level="5">
  <Info>
    <Parent Key="9fd66b82-a3fe-4db8-9bf5-fad50a9fa47f">2020</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpReportSummer2020Issuepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:11:06</CreateDate>
    <NodeName Default="abp-report-summer-2020-issue.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1mfmpv4w/abp-report-summer-2020-issue.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>