<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e8ac770-29d3-45bf-b521-0570c09d4220" Alias="abp-southampton-graphic.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/abpSouthamptonGraphicjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:09</CreateDate>
    <NodeName Default="abp-southampton-graphic.jpg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/52gnyof0/abp-southampton-graphic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>