<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9d30607-837e-4624-8e07-ae994feffa85" Alias="abp-property-brochure.pdf" Level="5">
  <Info>
    <Parent Key="9b01a902-949f-4a1d-8403-c7a941599031">2017</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpPropertyBrochurepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:14:21</CreateDate>
    <NodeName Default="abp-property-brochure.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4rxcqgkz/abp-property-brochure.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>