<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbdfc9db-741f-4274-a351-a225755a1933" Alias="abp-gpgr-2023.pdf" Level="5">
  <Info>
    <Parent Key="a6bc0d29-3a65-4138-b6b4-120093b3efc1">2024</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpGpgr2023pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:07:49</CreateDate>
    <NodeName Default="abp-gpgr-2023.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fcqdi0zy/abp-gpgr-2023.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>