<?xml version="1.0" encoding="utf-8"?>
<Media Key="86818d71-657a-4c35-b03c-3d724b0b8d46" Alias="abp-uk-development-english.pdf" Level="5">
  <Info>
    <Parent Key="d1fafd0f-6dc8-46b4-8145-15554d170c45">2015</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpUkDevelopmentEnglishpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:15:52</CreateDate>
    <NodeName Default="abp-uk-development-english.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qlshujs3/abp-uk-development-english.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>