<?xml version="1.0" encoding="utf-8"?>
<Media Key="244cc3a4-910b-4c0a-97fe-e469b894764a" Alias="abp-annual-review-2020.pdf" Level="5">
  <Info>
    <Parent Key="9fd66b82-a3fe-4db8-9bf5-fad50a9fa47f">2020</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpAnnualReview2020pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:11:20</CreateDate>
    <NodeName Default="abp-annual-review-2020.pdf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k4vlpbbm/abp-annual-review-2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>