<?xml version="1.0" encoding="utf-8"?>
<Media Key="49141b24-7705-4e34-ad8d-1e99d3d882e1" Alias="abp-report-winter-2020-issue-14.pdf" Level="5">
  <Info>
    <Parent Key="9fd66b82-a3fe-4db8-9bf5-fad50a9fa47f">2020</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpReportWinter2020Issue14pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:10:59</CreateDate>
    <NodeName Default="abp-report-winter-2020-issue-14.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/03zp50jc/abp-report-winter-2020-issue-14.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>