<?xml version="1.0" encoding="utf-8"?>
<Media Key="f42b1d92-e09f-4798-a03f-aac1b93258b8" Alias="abp-south-wales-graphic.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/abpSouthWalesGraphicjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:09</CreateDate>
    <NodeName Default="abp-south-wales-graphic.jpg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dxlh0qxw/abp-south-wales-graphic.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>