<?xml version="1.0" encoding="utf-8"?>
<Media Key="732194f9-c43b-41a7-9016-c562e4f99b93" Alias="abp-gpgr-2024.pdf" Level="5">
  <Info>
    <Parent Key="cc3d38b5-3aa6-4d6f-a59b-6cf36f865b18">2025</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpGpgr2024pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:07:23</CreateDate>
    <NodeName Default="abp-gpgr-2024.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bl4nvuy2/abp-gpgr-2024.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>