<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc50b169-5168-4f03-ace8-0d64f27a5985" Alias="abp-report-summer-2019-issue-10.pdf" Level="5">
  <Info>
    <Parent Key="6f0aac50-cc63-4f67-80d4-edf4d68bb791">2019</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpReportSummer2019Issue10pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:12:11</CreateDate>
    <NodeName Default="abp-report-summer-2019-issue-10.pdf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tlmlwhcp/abp-report-summer-2019-issue-10.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>