<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee805851-f064-4b90-b313-1bbbf780b59e" Alias="abp-what-s-our-sustainability-strategy-all-about.pdf" Level="5">
  <Info>
    <Parent Key="23a18bab-7483-4b20-8ece-b19046865348">2023</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//abpWhatSOurSustainabilityStrategyAllAboutpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:08:41</CreateDate>
    <NodeName Default="abp-what-s-our-sustainability-strategy-all-about.pdf" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uiyhwtsd/abp-what-s-our-sustainability-strategy-all-about.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>