<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5a3ed45-8149-42d6-a059-19cea9711553" Alias="abp_14012025_final_bysusannehakuba-11_forweb-1055.jpg" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//abp_14012025_final_bysusannehakuba11_forweb1055jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T14:22:08</CreateDate>
    <NodeName Default="abp_14012025_final_bysusannehakuba-11_forweb-1055.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "abp_14012025_final_bysusannehakuba-11_forweb-1055.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>