<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d5b5dfd-9d95-402e-b3f9-0d823edddb06" Alias="abp_14012025_final_bysusannehakuba-11_forweb-1055.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/abp_14012025_final_bysusannehakuba11_forweb1055jpg</Path>
    <Trashed Parent="87e947f2-c2a8-4a96-b85f-dca7bfe86572">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T13:49:26</CreateDate>
    <NodeName Default="abp_14012025_final_bysusannehakuba-11_forweb-1055.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "abp_14012025_final_bysusannehakuba-11_forweb-1055.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>