<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ff1bbab-061f-4373-97f8-27184dc13f27" Alias="ayr.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/ayrjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:09</CreateDate>
    <NodeName Default="ayr.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eryloklw/ayr.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>