<?xml version="1.0" encoding="utf-8"?>
<Media Key="9bd5f99f-a383-478d-bb1c-02b695f94eb5" Alias="cruise.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cruisesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-25T13:13:22</CreateDate>
    <NodeName Default="cruise.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nvcho4my/cruise.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>