<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e2ebe4a-8644-4b0c-9e85-d4428155227e" Alias="cruise.png" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/cruisepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:10</CreateDate>
    <NodeName Default="cruise.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yv0gqkbn/cruise.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>