<?xml version="1.0" encoding="utf-8"?>
<Media Key="93c281fb-d15a-4c74-a0f1-3f6001dbcd92" Alias="Directors" Level="2">
  <Info>
    <Parent Key="7fbf54cf-383a-422d-b972-257271c0de9c">ABP</Parent>
    <Path>/ABP/Directors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-13T11:36:13</CreateDate>
    <NodeName Default="Directors" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>