<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebc4a168-be46-46bf-9878-518689d2e0e1" Alias="document.pdf (7)" Level="102">
  <Info>
    <Parent Key="620f8709-3737-4e4e-9f32-e2578a777b9b">2023</Parent>
    <Path>/[-21]//documentpdf7</Path>
    <Trashed Parent="620f8709-3737-4e4e-9f32-e2578a777b9b">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:11:51</CreateDate>
    <NodeName Default="document.pdf (7)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/23vjexjp/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>