<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6aa2164-3b91-4df8-a264-7f0b6b54056c" Alias="document.pdf (7)" Level="103">
  <Info>
    <Parent Key="1c68e3ff-ecd6-4521-9599-c887a1ef2017">2016</Parent>
    <Path>/[-21]/FinancialNews//documentpdf7</Path>
    <Trashed Parent="1c68e3ff-ecd6-4521-9599-c887a1ef2017">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:15:09</CreateDate>
    <NodeName Default="document.pdf (7)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3pvpyqhy/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>