<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed3add97-03e6-4f4e-8f58-4b4cefc2cea8" Alias="document.pdf (7)" Level="103">
  <Info>
    <Parent Key="4ce5d459-bc5d-48b5-a09a-80d601b6b2e0">2012</Parent>
    <Path>/[-21]/FinancialNews//documentpdf7</Path>
    <Trashed Parent="4ce5d459-bc5d-48b5-a09a-80d601b6b2e0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:17:18</CreateDate>
    <NodeName Default="document.pdf (7)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dalhyw2p/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>