<?xml version="1.0" encoding="utf-8"?>
<Media Key="d421e899-0495-4d3e-bc36-c6a3df90e11c" Alias="document.pdf (8)" Level="103">
  <Info>
    <Parent Key="0afdb69a-ed42-43df-9447-1f9ab4ce111f">2013</Parent>
    <Path>/[-21]/FinancialNews//documentpdf8</Path>
    <Trashed Parent="0afdb69a-ed42-43df-9447-1f9ab4ce111f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:16:46</CreateDate>
    <NodeName Default="document.pdf (8)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cyrgoyx2/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>