<?xml version="1.0" encoding="utf-8"?>
<Media Key="95f94d85-17df-4f90-b1b3-d78fa755add3" Alias="document.pdf (7)" Level="103">
  <Info>
    <Parent Key="5a6dddfb-459b-411b-8c57-330a1f8647af">2017</Parent>
    <Path>/[-21]/FinancialNews//documentpdf7</Path>
    <Trashed Parent="5a6dddfb-459b-411b-8c57-330a1f8647af">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:14:43</CreateDate>
    <NodeName Default="document.pdf (7)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bkdl4i3w/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>