<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0e416fb-7087-43a4-930d-f543c243243f" Alias="document.pdf (12)" Level="103">
  <Info>
    <Parent Key="d9f501a0-0e22-458d-b2d5-578a27fa6cff">2021</Parent>
    <Path>/[-21]/FinancialNews//documentpdf12</Path>
    <Trashed Parent="d9f501a0-0e22-458d-b2d5-578a27fa6cff">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:13:12</CreateDate>
    <NodeName Default="document.pdf (12)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/otokefxo/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>