<?xml version="1.0" encoding="utf-8"?>
<Media Key="9235ce4a-a411-4718-8e5e-1088aea5ad9f" Alias="document.pdf (1)" Level="103">
  <Info>
    <Parent Key="f9232533-21b6-447f-ab4b-b80179340e0c">2018</Parent>
    <Path>/[-21]/FinancialNews//documentpdf1</Path>
    <Trashed Parent="f9232533-21b6-447f-ab4b-b80179340e0c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:13:58</CreateDate>
    <NodeName Default="document.pdf (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yuchgjdy/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>