<?xml version="1.0" encoding="utf-8"?>
<Media Key="68c2935d-ae0a-46a9-9a82-b0a0a071fafa" Alias="document.pdf (11)" Level="103">
  <Info>
    <Parent Key="d9f501a0-0e22-458d-b2d5-578a27fa6cff">2021</Parent>
    <Path>/[-21]/FinancialNews//documentpdf11</Path>
    <Trashed Parent="d9f501a0-0e22-458d-b2d5-578a27fa6cff">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:13:09</CreateDate>
    <NodeName Default="document.pdf (11)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0jmjjxtd/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>