<?xml version="1.0" encoding="utf-8"?>
<Media Key="9574893b-2e40-4611-936b-51b9c127aa32" Alias="document.pdf (8)" Level="103">
  <Info>
    <Parent Key="6a291c97-1de9-45ff-8a1d-13703904a4b2">2022</Parent>
    <Path>/[-21]/FinancialNews//documentpdf8</Path>
    <Trashed Parent="6a291c97-1de9-45ff-8a1d-13703904a4b2">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:12:17</CreateDate>
    <NodeName Default="document.pdf (8)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wrbdeizj/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>