<?xml version="1.0" encoding="utf-8"?>
<Media Key="b40caade-227e-4ada-ae81-bdd7cb82dbb3" Alias="document.pdf (14)" Level="5">
  <Info>
    <Parent Key="d9f501a0-0e22-458d-b2d5-578a27fa6cff">2021</Parent>
    <Path>/abports/InvestorRelations/FinancialNews//documentpdf14</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:13:16</CreateDate>
    <NodeName Default="document.pdf (14)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kfqeuaqx/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>