<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1012f5f-4a8a-429b-a574-cf3a9b312ab5" Alias="document.pdf (3)" Level="103">
  <Info>
    <Parent Key="0afdb69a-ed42-43df-9447-1f9ab4ce111f">2013</Parent>
    <Path>/[-21]/FinancialNews//documentpdf3</Path>
    <Trashed Parent="0afdb69a-ed42-43df-9447-1f9ab4ce111f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:16:32</CreateDate>
    <NodeName Default="document.pdf (3)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0dsfof5d/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>