<?xml version="1.0" encoding="utf-8"?>
<Media Key="7db2987c-cb80-4ad9-b20f-f86cffcbb839" Alias="document.pdf (6)" Level="103">
  <Info>
    <Parent Key="6a291c97-1de9-45ff-8a1d-13703904a4b2">2022</Parent>
    <Path>/[-21]/FinancialNews//documentpdf6</Path>
    <Trashed Parent="6a291c97-1de9-45ff-8a1d-13703904a4b2">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:12:10</CreateDate>
    <NodeName Default="document.pdf (6)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4njpjs5j/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>