<?xml version="1.0" encoding="utf-8"?>
<Media Key="e10069ea-5d8b-405b-a8f1-51718f46d65a" Alias="document.pdf (4)" Level="103">
  <Info>
    <Parent Key="4ce5d459-bc5d-48b5-a09a-80d601b6b2e0">2012</Parent>
    <Path>/[-21]/FinancialNews//documentpdf4</Path>
    <Trashed Parent="4ce5d459-bc5d-48b5-a09a-80d601b6b2e0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:17:11</CreateDate>
    <NodeName Default="document.pdf (4)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mwrfmv5c/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>