<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4157c97-8293-4441-a430-1d05723b754e" Alias="document.pdf (2)" Level="103">
  <Info>
    <Parent Key="1c68e3ff-ecd6-4521-9599-c887a1ef2017">2016</Parent>
    <Path>/[-21]/FinancialNews//documentpdf2</Path>
    <Trashed Parent="1c68e3ff-ecd6-4521-9599-c887a1ef2017">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:14:54</CreateDate>
    <NodeName Default="document.pdf (2)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dc1fg2x0/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>