<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec77fc8c-d7e7-4c2e-aa66-4fcfc3515c7e" Alias="document.pdf (4)" Level="103">
  <Info>
    <Parent Key="ae02b7c3-98e8-4795-93f7-d965c17c432a">2011</Parent>
    <Path>/[-21]/FinancialNews//documentpdf4</Path>
    <Trashed Parent="ae02b7c3-98e8-4795-93f7-d965c17c432a">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T20:17:40</CreateDate>
    <NodeName Default="document.pdf (4)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/am1dcwuo/document.pdf"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>