<?xml version="1.0" encoding="utf-8"?>
<Media Key="824afef8-2915-447e-9737-b990bd5bf5e4" Alias="dry-bulk.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dryBulksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-09-25T13:13:22</CreateDate>
    <NodeName Default="dry-bulk.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bjbpqyao/dry-bulk.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>