<?xml version="1.0" encoding="utf-8"?>
<Media Key="f04fca3a-66dd-4a07-a9e1-71537f65f85b" Alias="Financial News" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/FinancialNews</Path>
    <Trashed Parent="1e5c39cd-4a79-4a4c-8d3b-48e106f183e8">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-14T20:08:42</CreateDate>
    <NodeName Default="Financial News" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>