<?xml version="1.0" encoding="utf-8"?>
<Media Key="83a08229-3941-45db-85d6-80e9decfa8b4" Alias="forest-products.png" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/forestProductspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:10</CreateDate>
    <NodeName Default="forest-products.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uzeomnji/forest-products.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>