<?xml version="1.0" encoding="utf-8"?>
<Media Key="68601310-fb63-4312-973b-9c3af121be9e" Alias="future-ports-wales-vision-welsh-language-version.pdf" Level="5">
  <Info>
    <Parent Key="56e3a53f-724f-4308-9687-16ebfa346d83">2021</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//futurePortsWalesVisionWelshLanguageVersionpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:09:54</CreateDate>
    <NodeName Default="future-ports-wales-vision-welsh-language-version.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2n3jxsce/future-ports-wales-vision-welsh-language-version.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>