<?xml version="1.0" encoding="utf-8"?>
<Media Key="d450b59a-990f-4796-8242-dfd34f02cb5c" Alias="goole.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/goolejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:11</CreateDate>
    <NodeName Default="goole.jpg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cv5bmytg/goole.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>