<?xml version="1.0" encoding="utf-8"?>
<Media Key="612060e9-b7a8-46f6-82dd-e62d2e1657f5" Alias="group-profile.pdf" Level="5">
  <Info>
    <Parent Key="05ef6bc8-1d52-4849-bb01-230c705693a2">2016</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//groupProfilepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:15:35</CreateDate>
    <NodeName Default="group-profile.pdf" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dienxqmp/group-profile.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>