<?xml version="1.0" encoding="utf-8"?>
<Media Key="46186a25-fb8c-4764-80f6-61552ca1d9ce" Alias="homepage-fallback-ab-ports-crop2.jpg" Level="2">
  <Info>
    <Parent Key="9bae5a55-05d4-46a9-b2b3-f1ddb9a2bc38">Sample Images</Parent>
    <Path>/SampleImages/homepageFallbackAbPortsCrop2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-18T23:26:14</CreateDate>
    <NodeName Default="homepage-fallback-ab-ports-crop2.jpg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vkqf32hf/homepage-fallback-ab-ports-crop2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>