<?xml version="1.0" encoding="utf-8"?>
<Media Key="acc48dc5-45d3-41e9-b8d4-7fc9f9f2f857" Alias="image.jpg (117)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg117</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:19:44</CreateDate>
    <NodeName Default="image.jpg (117)" />
    <SortOrder>140</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jjdjegv0/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>