<?xml version="1.0" encoding="utf-8"?>
<Media Key="26d29d98-6b20-4f8c-9134-faecedfa4c1c" Alias="image.jpg (89)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg89</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:24</CreateDate>
    <NodeName Default="image.jpg (89)" />
    <SortOrder>106</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c3ljjecj/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>