<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c534559-b33c-4684-8466-82995bd07174" Alias="image.jpg (131)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg131</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:05</CreateDate>
    <NodeName Default="image.jpg (131)" />
    <SortOrder>155</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/00hbl0sv/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>