<?xml version="1.0" encoding="utf-8"?>
<Media Key="61d10522-2926-4dd2-b577-8141f6d542cb" Alias="image.jpg (28)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg28</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:58</CreateDate>
    <NodeName Default="image.jpg (28)" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vxhjpv0p/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>