<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f3e40e9-cbc6-4c1c-a3e4-1d24b88a8e1f" Alias="image.jpg (206)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg206</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:26</CreateDate>
    <NodeName Default="image.jpg (206)" />
    <SortOrder>235</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m0fhrsnp/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>