<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cb2d450-5248-42f9-80ac-ab2d087ce68c" Alias="image.jpg (121)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg121</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:19:50</CreateDate>
    <NodeName Default="image.jpg (121)" />
    <SortOrder>144</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/12ppjwrb/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>