<?xml version="1.0" encoding="utf-8"?>
<Media Key="90ad98c1-d588-4d5d-846f-8ed7d407bc99" Alias="image.jpg (130)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg130</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:24</CreateDate>
    <NodeName Default="image.jpg (130)" />
    <SortOrder>150</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jzjowjxb/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>