<?xml version="1.0" encoding="utf-8"?>
<Media Key="800e467e-ba88-429b-9320-2bbb18297bac" Alias="image.jpg (209)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg209</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:22:15</CreateDate>
    <NodeName Default="image.jpg (209)" />
    <SortOrder>241</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4ggeqnxb/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>