<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9f9a9ea-15c5-405e-90c1-0fc18b6340a0" Alias="image.jpg (102)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg102</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:42</CreateDate>
    <NodeName Default="image.jpg (102)" />
    <SortOrder>119</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mvrl413m/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>