<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d44eee8-349c-4d02-a439-f933e47c1934" Alias="image.jpg (220)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg220</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:49</CreateDate>
    <NodeName Default="image.jpg (220)" />
    <SortOrder>252</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m2safs5v/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>