<?xml version="1.0" encoding="utf-8"?>
<Media Key="f32bff89-a40f-4559-a10d-e2dbb7f3f453" Alias="image.jpg (159)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg159</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:45</CreateDate>
    <NodeName Default="image.jpg (159)" />
    <SortOrder>184</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ay0h0rlg/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>