<?xml version="1.0" encoding="utf-8"?>
<Media Key="785acd8e-0087-41f6-b900-32f50f8e9346" Alias="image.jpg (53)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg53</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:12:30</CreateDate>
    <NodeName Default="image.jpg (53)" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aedbztxo/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>