<?xml version="1.0" encoding="utf-8"?>
<Media Key="d85ce63c-398c-415b-9d41-8ffd4943ebe7" Alias="image.jpg (138)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg138</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:13</CreateDate>
    <NodeName Default="image.jpg (138)" />
    <SortOrder>162</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wmwbu1xf/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>