<?xml version="1.0" encoding="utf-8"?>
<Media Key="15a66269-d50e-46aa-87eb-b8bba17e5ffa" Alias="image.jpg (157)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg157</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:15:06</CreateDate>
    <NodeName Default="image.jpg (157)" />
    <SortOrder>181</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/20uobi1h/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>