<?xml version="1.0" encoding="utf-8"?>
<Media Key="28de295e-ab81-4de1-a82b-0121022ab441" Alias="image.jpg (135)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg135</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:10</CreateDate>
    <NodeName Default="image.jpg (135)" />
    <SortOrder>159</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0hrjrhxi/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>