<?xml version="1.0" encoding="utf-8"?>
<Media Key="821065fc-de8f-4d03-8f0e-673abff91e14" Alias="image.jpg (191)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg191</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:06</CreateDate>
    <NodeName Default="image.jpg (191)" />
    <SortOrder>220</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ooxfmnhg/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>