<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1d6a476-cfb1-43d3-bcb4-dd83a73c2227" Alias="image.jpg (1)" Level="5">
  <Info>
    <Parent Key="d0b78dc3-ed57-4088-9c03-2de1810795ed">2017</Parent>
    <Path>/abports/NewsAndMedia/ArticlesAndBlog//imagejpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-13T10:17:31</CreateDate>
    <NodeName Default="image.jpg (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5fxjav4y/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>