<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b71ac31-e325-4364-b0d3-3cb1e4a215e9" Alias="image.png (20)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng20</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:18:39</CreateDate>
    <NodeName Default="image.png (20)" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xztdptkm/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>