<?xml version="1.0" encoding="utf-8"?>
<Media Key="f732fb5e-88c2-4dc4-b756-1d409c6da4da" Alias="image.png (9)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:08</CreateDate>
    <NodeName Default="image.png (9)" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0eyhiqnl/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>