<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec9b9248-2ee1-4cb2-9d6c-cfead9470dac" Alias="image.jpg (59)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg59</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:37</CreateDate>
    <NodeName Default="image.jpg (59)" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y3mn0wui/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>