<?xml version="1.0" encoding="utf-8"?>
<Media Key="c425954e-42a2-4bed-9e0d-e56d0ab44d69" Alias="image.jpg (127)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg127</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:10</CreateDate>
    <NodeName Default="image.jpg (127)" />
    <SortOrder>140</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yfphg2wl/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>