<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ae38a5c-4da9-4392-8da3-df9a35965345" Alias="image.jpg (166)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg166</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:56</CreateDate>
    <NodeName Default="image.jpg (166)" />
    <SortOrder>192</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0nakllga/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>