<?xml version="1.0" encoding="utf-8"?>
<Media Key="19ed2f11-6bcb-49c2-aaca-4ff8499a76d1" Alias="image.jpg (220)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg220</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:22:30</CreateDate>
    <NodeName Default="image.jpg (220)" />
    <SortOrder>252</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t1slxl3c/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>