<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c0009f7-c605-4707-9fe6-8c4d36dbeaae" Alias="image.jpg (72)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg72</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:18:33</CreateDate>
    <NodeName Default="image.jpg (72)" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pdbfnotm/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>