<?xml version="1.0" encoding="utf-8"?>
<Media Key="f714ba5e-0629-46eb-96bd-e9e1e4dfa6f9" Alias="image.jpg (116)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg116</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:03</CreateDate>
    <NodeName Default="image.jpg (116)" />
    <SortOrder>134</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0fyfeqka/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>