<?xml version="1.0" encoding="utf-8"?>
<Media Key="3eea025d-4491-4cdd-a8e8-802a5a061e3b" Alias="image.jpg (129)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg129</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:26:33</CreateDate>
    <NodeName Default="image.jpg (129)" />
    <SortOrder>148</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0lekzchy/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>