<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfe90338-e94d-4b54-bb9d-211c0476d7b4" Alias="image.jpg (109)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg109</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:19:33</CreateDate>
    <NodeName Default="image.jpg (109)" />
    <SortOrder>132</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w5el4cje/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>