<?xml version="1.0" encoding="utf-8"?>
<Media Key="b968b30c-246d-4b0e-b8f1-5c4ccb38c2bd" Alias="image.jpg (145)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg145</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:25</CreateDate>
    <NodeName Default="image.jpg (145)" />
    <SortOrder>169</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qn2d2dye/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>