<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d00e06a-6d23-4f55-ae21-438d87545981" Alias="image.jpg (203)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg203</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:28:34</CreateDate>
    <NodeName Default="image.jpg (203)" />
    <SortOrder>224</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2uvenk0k/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>