<?xml version="1.0" encoding="utf-8"?>
<Media Key="1fefa959-e6e7-43a2-b10e-996fce724112" Alias="image.jpg (174)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg174</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:21:13</CreateDate>
    <NodeName Default="image.jpg (174)" />
    <SortOrder>201</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0zrltkmo/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>