<?xml version="1.0" encoding="utf-8"?>
<Media Key="eea82dfa-abbd-41d2-8100-ea5c024bd8ee" Alias="image.jpg (178)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg178</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:15:39</CreateDate>
    <NodeName Default="image.jpg (178)" />
    <SortOrder>205</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oxtp2wgu/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>