<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f541629-b567-4c3c-a946-ab231cad856f" Alias="image.png" Level="5">
  <Info>
    <Parent Key="122af126-3756-4923-b8b1-a8d1f9f7fd33">2023</Parent>
    <Path>/abports/NewsAndMedia/ArticlesAndBlog//imagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-13T14:35:43</CreateDate>
    <NodeName Default="image.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u1obfsio/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>