<?xml version="1.0" encoding="utf-8"?>
<Media Key="05b460f4-2f5d-437a-a0cd-e94176820454" Alias="image.jpg (144)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg144</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:49</CreateDate>
    <NodeName Default="image.jpg (144)" />
    <SortOrder>168</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/povpfmzu/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>