<?xml version="1.0" encoding="utf-8"?>
<Media Key="a16ab6ae-46b4-49ad-8006-7cc09aa5ccc5" Alias="image.jpg (109)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg109</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:43</CreateDate>
    <NodeName Default="image.jpg (109)" />
    <SortOrder>122</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ef4cyf43/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>