<?xml version="1.0" encoding="utf-8"?>
<Media Key="51c54ff0-4b15-4c8f-8293-0ea5e2fd35e5" Alias="image.jpg (17)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg17</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:43</CreateDate>
    <NodeName Default="image.jpg (17)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p4cjhz12/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>