<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed5d78f7-afbe-4166-a024-58c11ded5cf7" Alias="image.jpg (49)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg49</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:24:08</CreateDate>
    <NodeName Default="image.jpg (49)" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pczbww4x/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>