<?xml version="1.0" encoding="utf-8"?>
<Media Key="1403ed56-40f7-4eca-b8e9-655176d7e30d" Alias="image.jpg (196)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg196</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:15</CreateDate>
    <NodeName Default="image.jpg (196)" />
    <SortOrder>225</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1etfliu4/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>