<?xml version="1.0" encoding="utf-8"?>
<Media Key="75c4dcc9-e919-4f6f-b2a4-aa460f0170bc" Alias="image.png (6)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:10</CreateDate>
    <NodeName Default="image.png (6)" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iylifq1q/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>