<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb4be9f8-ff64-4899-a089-a872721faacb" Alias="image.png (5)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:08:58</CreateDate>
    <NodeName Default="image.png (5)" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o2rb0tin/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>