<?xml version="1.0" encoding="utf-8"?>
<Media Key="82e95e61-6930-4278-b4f5-9dce4b3235ca" Alias="image.jpg (15)" Level="5">
  <Info>
    <Parent Key="7927c1d5-515a-458f-a3e6-bb682141f1a8">2021</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:29:58</CreateDate>
    <NodeName Default="image.jpg (15)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/30kk4ncz/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>