<?xml version="1.0" encoding="utf-8"?>
<Media Key="d072a752-ccb9-499d-a4b1-064d5c28436f" Alias="image.jpg (57)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg57</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:18:09</CreateDate>
    <NodeName Default="image.jpg (57)" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1vwdizwq/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>