<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d3124df-1173-474d-95d2-bb436923d17c" Alias="image.jpg (24)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg24</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:08:50</CreateDate>
    <NodeName Default="image.jpg (24)" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kdxhooy0/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>