<?xml version="1.0" encoding="utf-8"?>
<Media Key="50c14ed7-4674-4fb2-a0e0-ceee09d262af" Alias="image.jpg (194)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg194</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:12</CreateDate>
    <NodeName Default="image.jpg (194)" />
    <SortOrder>223</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lccipzq3/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>