<?xml version="1.0" encoding="utf-8"?>
<Media Key="b984c3d4-f8a6-4c79-bb49-1bf969fc3371" Alias="image.jpg (84)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg84</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:17</CreateDate>
    <NodeName Default="image.jpg (84)" />
    <SortOrder>100</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lmened4p/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>