<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e9e1eb5-a5bc-41be-bd9e-718c4c0848b6" Alias="image.jpg (124)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg124</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:03</CreateDate>
    <NodeName Default="image.jpg (124)" />
    <SortOrder>137</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hlknrsgv/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>