<?xml version="1.0" encoding="utf-8"?>
<Media Key="2221b394-2522-4f69-a70c-1744f11ee218" Alias="image.jpg (221)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg221</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:29:19</CreateDate>
    <NodeName Default="image.jpg (221)" />
    <SortOrder>248</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dn2hpfcl/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>