<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4f9e946-3b4d-4db2-b5a4-efd975d84421" Alias="image.jpg (160)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg160</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:15:12</CreateDate>
    <NodeName Default="image.jpg (160)" />
    <SortOrder>184</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zerl4qre/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>