<?xml version="1.0" encoding="utf-8"?>
<Media Key="80749c91-71af-427a-9a48-a5d552390de4" Alias="image.jpeg" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:23:55</CreateDate>
    <NodeName Default="image.jpeg" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dzldenwg/image.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>