<?xml version="1.0" encoding="utf-8"?>
<Media Key="93123c78-2327-4e4d-81ac-99988cb57344" Alias="image.jpg (30)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg30</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:17:29</CreateDate>
    <NodeName Default="image.jpg (30)" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/451fijko/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>