<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb958bdc-ae4c-497a-beb5-e8f564ed568a" Alias="image.jpg (77)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg77</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:18:42</CreateDate>
    <NodeName Default="image.jpg (77)" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/knangxjf/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>