<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a912ae0-351f-4ca1-8a84-51311238710a" Alias="image.jpg (150)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg150</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:57</CreateDate>
    <NodeName Default="image.jpg (150)" />
    <SortOrder>174</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n5qnpldw/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>