<?xml version="1.0" encoding="utf-8"?>
<Media Key="061f28e9-5a2f-47cb-ab99-b92efdbe795e" Alias="image.jpg" Level="5">
  <Info>
    <Parent Key="d0b78dc3-ed57-4088-9c03-2de1810795ed">2017</Parent>
    <Path>/abports/NewsAndMedia/ArticlesAndBlog//imagejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-13T10:17:30</CreateDate>
    <NodeName Default="image.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m1rftmcg/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>