<?xml version="1.0" encoding="utf-8"?>
<Media Key="764667f3-e3b5-445a-9cff-3719c8b65c60" Alias="image.jpg (197)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg197</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:21:57</CreateDate>
    <NodeName Default="image.jpg (197)" />
    <SortOrder>228</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pswbbqg2/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>