<?xml version="1.0" encoding="utf-8"?>
<Media Key="35397d16-2be8-47d9-b1be-e486712079a9" Alias="image.jpg (114)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg114</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:51</CreateDate>
    <NodeName Default="image.jpg (114)" />
    <SortOrder>127</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tg1h5a2b/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>