<?xml version="1.0" encoding="utf-8"?>
<Media Key="429ef43c-5ee1-44b5-b6e2-b5a29dd0d64c" Alias="image.jpg (80)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg80</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:05</CreateDate>
    <NodeName Default="image.jpg (80)" />
    <SortOrder>92</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wm5nr3ei/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>