<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d906fba-63d3-4465-a0f4-93a0549438fb" Alias="image.jpg (115)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg115</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:59</CreateDate>
    <NodeName Default="image.jpg (115)" />
    <SortOrder>132</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gwsnns30/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>