<?xml version="1.0" encoding="utf-8"?>
<Media Key="393bd7e2-621d-4b0c-9ab1-4fc6555c488c" Alias="image.jpg (41)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg41</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:14</CreateDate>
    <NodeName Default="image.jpg (41)" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nuoh1d1u/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>