<?xml version="1.0" encoding="utf-8"?>
<Media Key="29f043ce-4d77-4af2-bfbe-d6738b41b4a5" Alias="image.jpg (46)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg46</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:20</CreateDate>
    <NodeName Default="image.jpg (46)" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/igelnhy4/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>