<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6aed40b-0e9b-410e-8952-8c226d9cc6b2" Alias="image.png (18)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng18</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:18:12</CreateDate>
    <NodeName Default="image.png (18)" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qqpoqehs/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>