<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ff75da5-f7b0-4e7d-bbf4-3d8c3966a3cb" Alias="image.jpg (194)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg194</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:21:52</CreateDate>
    <NodeName Default="image.jpg (194)" />
    <SortOrder>225</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fklldkoz/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>