<?xml version="1.0" encoding="utf-8"?>
<Media Key="498576dc-b7b2-4088-8afa-6b3f010588ef" Alias="image.jpg (218)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg218</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:46</CreateDate>
    <NodeName Default="image.jpg (218)" />
    <SortOrder>250</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ko4mh541/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>