<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fb08c00-e290-46a9-a336-f36b1fe1db1c" Alias="image.jpg (126)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg126</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:19:59</CreateDate>
    <NodeName Default="image.jpg (126)" />
    <SortOrder>150</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r3dpnwpz/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>