<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c0a5a71-dc70-4e5a-b3ad-73dfddc010dd" Alias="image.jpg (113)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg113</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:56</CreateDate>
    <NodeName Default="image.jpg (113)" />
    <SortOrder>130</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/50ieykqz/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>