<?xml version="1.0" encoding="utf-8"?>
<Media Key="4684b5a5-3b76-487f-bfbe-cdf1a06818a3" Alias="image.jpg (202)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg202</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:21</CreateDate>
    <NodeName Default="image.jpg (202)" />
    <SortOrder>231</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fj5nf2a5/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>