<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2771771-f0c7-4c59-b0df-8e5a67c689e3" Alias="image.jpg (56)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg56</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:32</CreateDate>
    <NodeName Default="image.jpg (56)" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/51odcrfo/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>