<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a678f69-4c97-405a-a307-884d269972b2" Alias="image.jpg (32)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg32</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:23:32</CreateDate>
    <NodeName Default="image.jpg (32)" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2zcddxh4/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>