<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4236356-8f16-40b4-be2b-9121f0eca6a2" Alias="image.jpg (16)" Level="5">
  <Info>
    <Parent Key="7927c1d5-515a-458f-a3e6-bb682141f1a8">2021</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg16</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:30:01</CreateDate>
    <NodeName Default="image.jpg (16)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1guhk2t5/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>