<?xml version="1.0" encoding="utf-8"?>
<Media Key="813f477a-ebd0-44ec-b92b-5510774139a8" Alias="image.jpg (216)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg216</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:43</CreateDate>
    <NodeName Default="image.jpg (216)" />
    <SortOrder>248</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4wghsn3z/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>