<?xml version="1.0" encoding="utf-8"?>
<Media Key="206d1d84-4caf-4ce3-9ff6-b15273b82305" Alias="image.jpg (223)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg223</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:22:36</CreateDate>
    <NodeName Default="image.jpg (223)" />
    <SortOrder>255</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bpldxfwg/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>