<?xml version="1.0" encoding="utf-8"?>
<Media Key="43ee43a4-d2dd-4360-a99a-21b6e4d518f8" Alias="image.jpg (211)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg211</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:22:18</CreateDate>
    <NodeName Default="image.jpg (211)" />
    <SortOrder>243</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/foelr3nu/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>