<?xml version="1.0" encoding="utf-8"?>
<Media Key="aea09462-bfb4-4c28-a6d5-3375c6e1f4d2" Alias="image.jpg (35)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg35</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:12:06</CreateDate>
    <NodeName Default="image.jpg (35)" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3vpomgg3/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>