<?xml version="1.0" encoding="utf-8"?>
<Media Key="3987cc50-d7bd-45c0-9f7c-8458dd9e2529" Alias="image.jpg (130)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg130</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:03</CreateDate>
    <NodeName Default="image.jpg (130)" />
    <SortOrder>154</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/12dmdd4u/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>