<?xml version="1.0" encoding="utf-8"?>
<Media Key="af8e2166-1231-46b2-b87c-15ea9aa00973" Alias="image.jpg (147)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg147</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:52</CreateDate>
    <NodeName Default="image.jpg (147)" />
    <SortOrder>171</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3hvnqgky/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>