<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ab2fb17-05b6-4f88-b441-c11ef21afeb2" Alias="image.jpg (115)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg115</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:52</CreateDate>
    <NodeName Default="image.jpg (115)" />
    <SortOrder>128</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/taypjtg5/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>