<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea1d3a87-291e-44d2-bcd5-32084b0a6ab1" Alias="image.jpg (74)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg74</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:57</CreateDate>
    <NodeName Default="image.jpg (74)" />
    <SortOrder>86</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bdyfwxdx/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>