<?xml version="1.0" encoding="utf-8"?>
<Media Key="304236c3-a17d-4dd9-9ef9-22d904816db0" Alias="image.jpg (97)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg97</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:28</CreateDate>
    <NodeName Default="image.jpg (97)" />
    <SortOrder>110</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jt4ajbqu/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>