<?xml version="1.0" encoding="utf-8"?>
<Media Key="548e13f2-5c06-4d26-96c9-40a349d59d7c" Alias="image.jpg (201)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg201</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:19</CreateDate>
    <NodeName Default="image.jpg (201)" />
    <SortOrder>230</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pxmnrytp/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>