<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1afea35-4e70-49ff-a2d6-f8889d397f8b" Alias="image.png (2)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:23:32</CreateDate>
    <NodeName Default="image.png (2)" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xiqosvyz/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>