<?xml version="1.0" encoding="utf-8"?>
<Media Key="06951f6b-e0c6-41f9-b2b4-14ec72e86431" Alias="image.jpg" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-11T09:56:23</CreateDate>
    <NodeName Default="image.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2tknhmfp/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>