<?xml version="1.0" encoding="utf-8"?>
<Media Key="168c3d81-b2b7-4f5b-ab8b-4e02498deced" Alias="image.jpg (205)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg205</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:22:09</CreateDate>
    <NodeName Default="image.jpg (205)" />
    <SortOrder>236</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b11nvig4/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>