<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cb26855-e1da-421f-af1c-18541fb5dac4" Alias="image.jpg (156)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg156</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:27:16</CreateDate>
    <NodeName Default="image.jpg (156)" />
    <SortOrder>176</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1krpjkvt/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>