<?xml version="1.0" encoding="utf-8"?>
<Media Key="6556fb8d-81f7-4890-a866-702c379f1f27" Alias="image.jpg (214)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg214</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:40</CreateDate>
    <NodeName Default="image.jpg (214)" />
    <SortOrder>246</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aiybbu24/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>