<?xml version="1.0" encoding="utf-8"?>
<Media Key="98281026-5ca9-4a53-900b-1b8888450a66" Alias="image.jpg (95)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg95</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:19:08</CreateDate>
    <NodeName Default="image.jpg (95)" />
    <SortOrder>116</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vhng2lwa/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>