<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cc0b676-af1c-441f-a329-1b071a3b92cf" Alias="image.jpg (141)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg141</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:19</CreateDate>
    <NodeName Default="image.jpg (141)" />
    <SortOrder>165</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5f4inwtv/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>