<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea16f7c6-d11e-4eac-bf9c-24395e3fe643" Alias="image.jpg (45)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg45</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:20</CreateDate>
    <NodeName Default="image.jpg (45)" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/je4faxdx/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>