<?xml version="1.0" encoding="utf-8"?>
<Media Key="acafcf9c-54e7-4e6b-8de0-c23422aef37d" Alias="image.jpg (151)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg151</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:58</CreateDate>
    <NodeName Default="image.jpg (151)" />
    <SortOrder>175</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cmcpsguo/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>