<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb18b7cf-81f8-47a7-a27f-6682e05ea7af" Alias="image.jpg (171)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg171</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:15:28</CreateDate>
    <NodeName Default="image.jpg (171)" />
    <SortOrder>197</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ib4f2xmr/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>