<?xml version="1.0" encoding="utf-8"?>
<Media Key="d78aa13d-3277-4e40-9a3b-3da4aab4a526" Alias="image.jpg (176)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg176</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:21:16</CreateDate>
    <NodeName Default="image.jpg (176)" />
    <SortOrder>203</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wjvnyyi4/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>