<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbbc79cd-d8a0-4f31-9eb0-1b69d5f03cc9" Alias="image.jpg (88)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg88</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:23</CreateDate>
    <NodeName Default="image.jpg (88)" />
    <SortOrder>105</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ikzputoj/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>