<?xml version="1.0" encoding="utf-8"?>
<Media Key="03e123b5-89e3-48fd-933f-1534c2ff99a7" Alias="image.jpg (55)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg55</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:24:17</CreateDate>
    <NodeName Default="image.jpg (55)" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hlulpnmk/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>