<?xml version="1.0" encoding="utf-8"?>
<Media Key="7650f782-0d75-410d-a668-3ce94a78024f" Alias="image.jpg (42)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg42</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:12:14</CreateDate>
    <NodeName Default="image.jpg (42)" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bu4bnqa2/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>