<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ae26adc-7ed4-4d32-87aa-c2d58b43a984" Alias="image.jpg (30)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg30</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:12:01</CreateDate>
    <NodeName Default="image.jpg (30)" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/koqkjxf3/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>