<?xml version="1.0" encoding="utf-8"?>
<Media Key="8760287d-77e1-400f-a52e-06c3bda752ae" Alias="image.jpg (118)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg118</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:56</CreateDate>
    <NodeName Default="image.jpg (118)" />
    <SortOrder>131</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4lrcmmmi/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>