<?xml version="1.0" encoding="utf-8"?>
<Media Key="98bb466b-679a-42e3-9e6f-be6960f58a53" Alias="image.jpg (107)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg107</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:19:30</CreateDate>
    <NodeName Default="image.jpg (107)" />
    <SortOrder>130</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2sgp0lxt/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>