<?xml version="1.0" encoding="utf-8"?>
<Media Key="939ba431-776d-4ec7-a0a0-cb4d5972c0ed" Alias="image.jpg (104)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg104</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:37</CreateDate>
    <NodeName Default="image.jpg (104)" />
    <SortOrder>117</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xzxn0jie/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>