<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8e869d2-bdea-4fb8-8d93-05a6db6f4034" Alias="image.jpg (37)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg37</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:07</CreateDate>
    <NodeName Default="image.jpg (37)" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lwrl21ud/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>