<?xml version="1.0" encoding="utf-8"?>
<Media Key="a867d537-8763-4c89-8e35-2f23763e3092" Alias="image.jpg (127)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg127</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:21</CreateDate>
    <NodeName Default="image.jpg (127)" />
    <SortOrder>147</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xapdchqk/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>