<?xml version="1.0" encoding="utf-8"?>
<Media Key="efc5d3ec-a959-4a8c-8be1-4f700dd826ea" Alias="image.jpg (152)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg152</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:36</CreateDate>
    <NodeName Default="image.jpg (152)" />
    <SortOrder>177</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mmmjgwjq/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>