<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba7db99c-8c32-4897-a4fb-f8ce3b75c280" Alias="image.jpg (17)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg17</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:08:42</CreateDate>
    <NodeName Default="image.jpg (17)" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cnzdwdc1/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>