<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad854ff9-e71f-46a0-9d5a-a3416eed79ca" Alias="image.jpg (136)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg136</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:10</CreateDate>
    <NodeName Default="image.jpg (136)" />
    <SortOrder>160</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o0cngg1w/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>