<?xml version="1.0" encoding="utf-8"?>
<Media Key="1789e79b-689a-4eb8-9bc1-b3db1417d2e1" Alias="image.jpg (167)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg167</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:58</CreateDate>
    <NodeName Default="image.jpg (167)" />
    <SortOrder>193</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cqwn5ipt/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>