<?xml version="1.0" encoding="utf-8"?>
<Media Key="55d6e9ac-6980-47b1-ac91-c209d51ae64d" Alias="image.jpg (27)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg27</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:55</CreateDate>
    <NodeName Default="image.jpg (27)" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/emrjby5j/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>