<?xml version="1.0" encoding="utf-8"?>
<Media Key="d423f99a-e3e1-431d-8b82-09f2e85169b3" Alias="image.jpg (105)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg105</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:19:27</CreateDate>
    <NodeName Default="image.jpg (105)" />
    <SortOrder>128</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cuzhkyui/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>