<?xml version="1.0" encoding="utf-8"?>
<Media Key="082878fe-fbf9-4993-aad8-447815fdf0f2" Alias="image.jpg (165)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg165</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:15:20</CreateDate>
    <NodeName Default="image.jpg (165)" />
    <SortOrder>190</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ogzg3puq/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>