<?xml version="1.0" encoding="utf-8"?>
<Media Key="584b58e0-0750-434e-95c1-a1239055be3b" Alias="image.jpg (216)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg216</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:29:06</CreateDate>
    <NodeName Default="image.jpg (216)" />
    <SortOrder>241</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n4ja11rz/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>