<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dcc4561-76a6-404a-a559-ed3349708c79" Alias="image.jpg (161)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg161</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:51</CreateDate>
    <NodeName Default="image.jpg (161)" />
    <SortOrder>187</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/30hjvc4p/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>