<?xml version="1.0" encoding="utf-8"?>
<Media Key="90cee804-5bd5-407b-a51a-07b776f8e1c4" Alias="image.jpg (198)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg198</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:17</CreateDate>
    <NodeName Default="image.jpg (198)" />
    <SortOrder>227</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rmriqjv2/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>