<?xml version="1.0" encoding="utf-8"?>
<Media Key="744702d3-3230-482b-a7df-210999badfca" Alias="image.jpg (31)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg31</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:12:01</CreateDate>
    <NodeName Default="image.jpg (31)" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lteadqsz/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>