<?xml version="1.0" encoding="utf-8"?>
<Media Key="6271d3a8-948d-4741-8a6c-969826078be5" Alias="image.jpg (98)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg98</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:36</CreateDate>
    <NodeName Default="image.jpg (98)" />
    <SortOrder>115</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e2mdpvhe/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>