<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b00e3f7-4052-4b34-b86b-8855a0e0b8a7" Alias="image.png (29)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng29</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:30</CreateDate>
    <NodeName Default="image.png (29)" />
    <SortOrder>238</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/paufnpj1/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>