<?xml version="1.0" encoding="utf-8"?>
<Media Key="408518aa-bd4f-46c2-9a13-2d6b5082b6d6" Alias="image.jpg (204)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg204</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:22:06</CreateDate>
    <NodeName Default="image.jpg (204)" />
    <SortOrder>235</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/exjmh3rg/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>