<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa1915d7-8c2d-4884-80f5-e1c328f14286" Alias="image.jpg (37)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg37</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:12:08</CreateDate>
    <NodeName Default="image.jpg (37)" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ldpf4hce/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>