<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c98ab52-0014-45d9-a7c9-150d63b74fee" Alias="image.jpg (77)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg77</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:08</CreateDate>
    <NodeName Default="image.jpg (77)" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1vqn2ot3/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>