<?xml version="1.0" encoding="utf-8"?>
<Media Key="957c9d21-9713-4e6d-a4ff-d381acb7ef10" Alias="image.jpg (155)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg155</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:15:03</CreateDate>
    <NodeName Default="image.jpg (155)" />
    <SortOrder>179</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vzldui10/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>