<?xml version="1.0" encoding="utf-8"?>
<Media Key="0dfb391a-91a9-47b3-9816-117ef0e432de" Alias="image.jpg (81)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg81</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:13</CreateDate>
    <NodeName Default="image.jpg (81)" />
    <SortOrder>97</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sxzl1o4a/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>