<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d341cd9-40d8-4f71-bcf7-23f97483418d" Alias="image.jpg (80)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg80</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:11</CreateDate>
    <NodeName Default="image.jpg (80)" />
    <SortOrder>96</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k1lhfg3r/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>