<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd372a3e-2c67-4955-8dd4-bfc8ade89f17" Alias="image.jpg (122)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg122</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:19:54</CreateDate>
    <NodeName Default="image.jpg (122)" />
    <SortOrder>145</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/whqhccyo/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>