<?xml version="1.0" encoding="utf-8"?>
<Media Key="09da0718-38b9-43c3-a2ed-3bc5a7308d02" Alias="image.jpg (47)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg47</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:12:22</CreateDate>
    <NodeName Default="image.jpg (47)" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s5gjzp4q/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>