<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e9069a9-8665-47ad-82af-82a3884ebb4f" Alias="image.jpg (141)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg141</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:42</CreateDate>
    <NodeName Default="image.jpg (141)" />
    <SortOrder>163</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e0rnngam/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>