<?xml version="1.0" encoding="utf-8"?>
<Media Key="22d467e7-1ce3-4493-a6e4-2ba6374c85e3" Alias="image.jpg (217)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg217</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:22:27</CreateDate>
    <NodeName Default="image.jpg (217)" />
    <SortOrder>249</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ncwjffek/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>