<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e29c55b-51fe-497e-8ed9-0d6524ff8157" Alias="image.jpg (113)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg113</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:49</CreateDate>
    <NodeName Default="image.jpg (113)" />
    <SortOrder>126</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0qhh5kex/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>