<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe0e5ed9-b08b-43fb-abf6-74d49447eb23" Alias="image.jpg (48)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg48</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:17:57</CreateDate>
    <NodeName Default="image.jpg (48)" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k0keqshc/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>