<?xml version="1.0" encoding="utf-8"?>
<Media Key="51451af6-94bf-4079-9613-c134312329e7" Alias="image.jpg (116)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg116</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:53</CreateDate>
    <NodeName Default="image.jpg (116)" />
    <SortOrder>129</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/phiahz4w/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>