<?xml version="1.0" encoding="utf-8"?>
<Media Key="172ff5d7-71ce-4dd0-8b64-ff1ce7055ac4" Alias="image.jpg (107)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg107</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:40</CreateDate>
    <NodeName Default="image.jpg (107)" />
    <SortOrder>120</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/la5htinh/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>