<?xml version="1.0" encoding="utf-8"?>
<Media Key="d247ecb1-3504-4de5-a668-c7ef666dd466" Alias="image.jpg (80)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg80</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:18:47</CreateDate>
    <NodeName Default="image.jpg (80)" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hytaczdn/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>