<?xml version="1.0" encoding="utf-8"?>
<Media Key="0421bc22-87b0-4551-bcef-e986302deb3b" Alias="image.jpg (66)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg66</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:47</CreateDate>
    <NodeName Default="image.jpg (66)" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vv1gpmwz/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>