<?xml version="1.0" encoding="utf-8"?>
<Media Key="17531c8e-d3b2-4451-b30a-cd8197f60e83" Alias="image.jpg (205)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg205</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:23</CreateDate>
    <NodeName Default="image.jpg (205)" />
    <SortOrder>234</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ahlblio1/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>