<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bea64c4-968d-4653-9d97-6d11534ab8b9" Alias="image.jpg (134)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg134</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:26:41</CreateDate>
    <NodeName Default="image.jpg (134)" />
    <SortOrder>153</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/joxkzxpe/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>