<?xml version="1.0" encoding="utf-8"?>
<Media Key="54432fe7-5798-4037-97c0-b9852f1cb438" Alias="image.jpg (153)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg153</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:20:37</CreateDate>
    <NodeName Default="image.jpg (153)" />
    <SortOrder>178</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ndsblyxr/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>