<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6fce836-ed46-40be-b322-3105c2b52b02" Alias="image.png (16)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng16</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:19</CreateDate>
    <NodeName Default="image.png (16)" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xerluebp/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>