<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c3a3312-4acd-45e5-b39d-d7ee959d6d6d" Alias="image.jpg (54)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg54</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:30</CreateDate>
    <NodeName Default="image.jpg (54)" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tx2hyove/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>