<?xml version="1.0" encoding="utf-8"?>
<Media Key="2da5a201-6c0a-43af-b27d-cdfc3ebc38a4" Alias="image.jpg (62)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg62</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:18:19</CreateDate>
    <NodeName Default="image.jpg (62)" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rzuohg1d/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>