<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2109091-b665-4f71-8547-4b064c92aeed" Alias="image.jpg (12)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:33</CreateDate>
    <NodeName Default="image.jpg (12)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dznfmfam/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>