<?xml version="1.0" encoding="utf-8"?>
<Media Key="c798521d-e12c-4555-b23c-964c28704daa" Alias="image.jpg (42)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg42</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:14</CreateDate>
    <NodeName Default="image.jpg (42)" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/skmn22kf/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>