<?xml version="1.0" encoding="utf-8"?>
<Media Key="630a5b0a-eafd-48a5-af0c-b4c889e0a49f" Alias="image.jpg (44)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg44</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:12:17</CreateDate>
    <NodeName Default="image.jpg (44)" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qwifzvmu/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>