<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c4186bf-a31e-41dc-b84d-1c4db6b485a3" Alias="image.jpg (218)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg218</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:22:27</CreateDate>
    <NodeName Default="image.jpg (218)" />
    <SortOrder>250</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gbgapgtx/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>