<?xml version="1.0" encoding="utf-8"?>
<Media Key="7841b3be-cb86-4faf-aaf0-9297728ffcfe" Alias="image.jpg (136)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg136</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:32</CreateDate>
    <NodeName Default="image.jpg (136)" />
    <SortOrder>156</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gf2bptxp/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>