<?xml version="1.0" encoding="utf-8"?>
<Media Key="e819f427-93ea-4f01-bedd-4e02a72d902f" Alias="image.png (26)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng26</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:21:07</CreateDate>
    <NodeName Default="image.png (26)" />
    <SortOrder>198</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/va5f4xud/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>