<?xml version="1.0" encoding="utf-8"?>
<Media Key="72ec3f65-a9d6-4103-94d2-63adbd8f7b4a" Alias="image.jpg (56)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg56</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:24:20</CreateDate>
    <NodeName Default="image.jpg (56)" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3l0lvrf5/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>