<?xml version="1.0" encoding="utf-8"?>
<Media Key="63b51def-62ee-4436-a9a5-6f375f71467c" Alias="image.jpg (188)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg188</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:01</CreateDate>
    <NodeName Default="image.jpg (188)" />
    <SortOrder>216</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mdlphvmh/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>