<?xml version="1.0" encoding="utf-8"?>
<Media Key="91460043-d8a2-4dc6-87c9-2ec3a1c38e96" Alias="image.png (26)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng26</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:15:33</CreateDate>
    <NodeName Default="image.png (26)" />
    <SortOrder>201</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ztfaaj4l/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>