<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d9b7f6a-ba6e-4b92-a970-dc1d79ccb62b" Alias="image.jpg (84)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg84</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:25:06</CreateDate>
    <NodeName Default="image.jpg (84)" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2w0n1oyh/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>