<?xml version="1.0" encoding="utf-8"?>
<Media Key="71bd1fa3-b945-473b-a779-6254d38d6356" Alias="image.jpg (111)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg111</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:46</CreateDate>
    <NodeName Default="image.jpg (111)" />
    <SortOrder>124</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ftkpxrzm/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>