<?xml version="1.0" encoding="utf-8"?>
<Media Key="530870b6-e22e-4e32-a6cc-48e1c609c54a" Alias="image.jpg (62)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg62</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:39</CreateDate>
    <NodeName Default="image.jpg (62)" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hg3e3zkh/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>