<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d46fae6-5c94-43e2-ac61-a85c6bf7a721" Alias="image.jpg (142)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg142</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:14:45</CreateDate>
    <NodeName Default="image.jpg (142)" />
    <SortOrder>165</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/neyabw53/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>