<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb2d5e8c-be6b-4c42-9bdd-80de3b52c788" Alias="image.jpg (181)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg181</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:21:25</CreateDate>
    <NodeName Default="image.jpg (181)" />
    <SortOrder>209</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aokgwxic/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>