<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3f43920-a0a9-4001-9514-874b2aa247d5" Alias="image.jpg (140)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg140</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:27</CreateDate>
    <NodeName Default="image.jpg (140)" />
    <SortOrder>154</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v5zlezoa/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>