<?xml version="1.0" encoding="utf-8"?>
<Media Key="dad9cd60-2b59-44a5-b66b-b08cf9aa8a52" Alias="image.jpg (210)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg210</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:16:35</CreateDate>
    <NodeName Default="image.jpg (210)" />
    <SortOrder>241</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/32dj41bq/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>