<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5fa72b7-cb66-447e-b84e-49118a4e2cbd" Alias="image.jpg (13)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:17:03</CreateDate>
    <NodeName Default="image.jpg (13)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hc2lyeyp/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>