<?xml version="1.0" encoding="utf-8"?>
<Media Key="67795bb0-67a0-4f6b-aaa7-1f06a202bd94" Alias="image.jpg (179)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg179</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:27:53</CreateDate>
    <NodeName Default="image.jpg (179)" />
    <SortOrder>199</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h4id5uoj/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>