<?xml version="1.0" encoding="utf-8"?>
<Media Key="01eef3aa-321e-4ccf-8279-1ca3b65eea8a" Alias="image.jpg (71)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg71</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:01</CreateDate>
    <NodeName Default="image.jpg (71)" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eu2lrn1x/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>