<?xml version="1.0" encoding="utf-8"?>
<Media Key="85bdc965-27e8-4e2f-a6e5-40438b256f59" Alias="image.jpg (9)" Level="5">
  <Info>
    <Parent Key="f5558162-aa17-43ec-a0fe-592f47400ff9">2025</Parent>
    <Path>/abports/NewsAndMedia/LatestNews//imagejpg9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-13T17:30:28</CreateDate>
    <NodeName Default="image.jpg (9)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3ibpwm2b/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>