<?xml version="1.0" encoding="utf-8"?>
<Media Key="441ec1fe-b0af-441d-8317-09e7b5212e8a" Alias="image.png (1)" Level="5">
  <Info>
    <Parent Key="b0acc308-6cd7-446e-8c8f-adaebabcc8b5">2018</Parent>
    <Path>/abports/NewsAndMedia/LatestNews//imagepng1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-13T00:05:56</CreateDate>
    <NodeName Default="image.png (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oeffr2wg/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>