<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5a696b9-aa3f-40cc-89f3-b350a8518fde" Alias="image.jpeg (1)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpeg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:28:21</CreateDate>
    <NodeName Default="image.jpeg (1)" />
    <SortOrder>216</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gzooae0w/image.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>