<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3a98dce-fe1f-4b7c-bfc2-2ebe566a62cf" Alias="image.jpg (134)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg134</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:17</CreateDate>
    <NodeName Default="image.jpg (134)" />
    <SortOrder>147</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ifdp4blw/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>