<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0f805b3-2472-413d-a2a1-f81bffaead8e" Alias="image.jpg (132)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg132</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:16</CreateDate>
    <NodeName Default="image.jpg (132)" />
    <SortOrder>145</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hthl2vq1/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>