<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a6f1226-00a3-49ca-becb-a712411e34de" Alias="image.jpg (2)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-11T12:03:14</CreateDate>
    <NodeName Default="image.jpg (2)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vhmct5gk/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>