<?xml version="1.0" encoding="utf-8"?>
<Media Key="a122c9e4-23ca-442f-ba2e-692f6c2bb24f" Alias="image.png (15)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagepng15</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:12:51</CreateDate>
    <NodeName Default="image.png (15)" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nmbhif3d/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>