<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc48425f-0c6f-4259-bba7-a9166a73e15c" Alias="image.jpg (108)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg108</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:13:49</CreateDate>
    <NodeName Default="image.jpg (108)" />
    <SortOrder>125</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0cea2cqg/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>