<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdb36531-52fd-4dc7-85f4-360ef3a6676e" Alias="image.jpg (158)" Level="5">
  <Info>
    <Parent Key="3843b2e9-f248-4f11-9aec-6dbfdc1c50e8">2022</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg158</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:27:21</CreateDate>
    <NodeName Default="image.jpg (158)" />
    <SortOrder>178</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x0xpk42u/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>