<?xml version="1.0" encoding="utf-8"?>
<Media Key="4211eb54-ca11-495a-9c70-571ebff76a63" Alias="image.jpg (37)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg37</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:17:41</CreateDate>
    <NodeName Default="image.jpg (37)" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1mqfp3dy/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>