<?xml version="1.0" encoding="utf-8"?>
<Media Key="5989dcf4-4b50-48a5-971f-6d25034c98a4" Alias="image.jpg (169)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg169</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:15:25</CreateDate>
    <NodeName Default="image.jpg (169)" />
    <SortOrder>194</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pmlm51zz/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>