<?xml version="1.0" encoding="utf-8"?>
<Media Key="7420a6db-b3a2-4dd1-b70f-3dc11757f08f" Alias="image.jpg (19)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg19</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:46</CreateDate>
    <NodeName Default="image.jpg (19)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/krwgnqwl/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>