<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0e9e70d-e34a-4916-9b87-225843426d73" Alias="image.jpg (117)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg117</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:10:56</CreateDate>
    <NodeName Default="image.jpg (117)" />
    <SortOrder>130</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qiwl4rrd/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>