<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0c59791-ef9e-40c6-9f19-d0ba3e4c730e" Alias="image.jpg (53)" Level="5">
  <Info>
    <Parent Key="87e947f2-c2a8-4a96-b85f-dca7bfe86572">2025</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg53</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:09:30</CreateDate>
    <NodeName Default="image.jpg (53)" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dzojgfxx/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>