<?xml version="1.0" encoding="utf-8"?>
<Media Key="17fe5313-db32-4edc-a35e-9b1f609a6b98" Alias="image.jpg (154)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg154</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:15:03</CreateDate>
    <NodeName Default="image.jpg (154)" />
    <SortOrder>178</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tsmlrik1/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>