<?xml version="1.0" encoding="utf-8"?>
<Media Key="f222149d-883f-48c7-ace2-8ee92c2f8edd" Alias="image.jpg (9)" Level="5">
  <Info>
    <Parent Key="3bebfd4b-e77f-456c-9af1-da3086c4d5c0">2024</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:11:30</CreateDate>
    <NodeName Default="image.jpg (9)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/clpgircw/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>