<?xml version="1.0" encoding="utf-8"?>
<Media Key="64a9e0d4-9e45-4fc8-9d9d-9a22a405ce6b" Alias="image.jpg (100)" Level="5">
  <Info>
    <Parent Key="eedec667-f17c-4293-9e0f-ad0d63e21489">2023</Parent>
    <Path>/abports/NewsAndMedia/BlogsAndArticle//imagejpg100</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-12T11:19:18</CreateDate>
    <NodeName Default="image.jpg (100)" />
    <SortOrder>121</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lmvo5urm/image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>