<?xml version="1.0" encoding="utf-8"?>
<Media Key="4287ccea-4d7d-4691-a447-1da3d3691838" Alias="Img-section.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImgSectionpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-24T17:57:14</CreateDate>
    <NodeName Default="Img-section.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mudmd3au/img-section.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>