<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee9ec04b-87b5-4a3d-98a3-d5bd08ba704c" Alias="julian.jpg" Level="3">
  <Info>
    <Parent Key="93c281fb-d15a-4c74-a0f1-3f6001dbcd92">Directors</Parent>
    <Path>/ABP/Directors/julianjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-13T11:41:29</CreateDate>
    <NodeName Default="julian.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yqfnqwg2/julian.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>