<?xml version="1.0" encoding="utf-8"?>
<Media Key="76e0f63b-f269-4818-948b-c86b2552665f" Alias="logo.svg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T13:58:11</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zfffffds/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>