<?xml version="1.0" encoding="utf-8"?>
<Media Key="f448b778-cfeb-4cfd-9126-6f1ddf6643a0" Alias="newport.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/newportjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:12</CreateDate>
    <NodeName Default="newport.jpg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/434b2quc/newport.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>