<?xml version="1.0" encoding="utf-8"?>
<Media Key="47a6e995-7181-4bb9-82f0-cf7a2d2b542b" Alias="News And Articles" Level="3">
  <Info>
    <Parent Key="a58df6a5-c045-45f2-9abb-d35f65a5e0d5">Home</Parent>
    <Path>/abports/Home/NewsAndArticles</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-31T21:58:17</CreateDate>
    <NodeName Default="News And Articles" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>