<?xml version="1.0" encoding="utf-8"?>
<Media Key="a88186ad-05ab-4b88-9921-66294d1d044b" Alias="open-storage-site-montage.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/openStorageSiteMontagejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:12</CreateDate>
    <NodeName Default="open-storage-site-montage.jpg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ejgmohwc/open-storage-site-montage.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>