<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a86d1d7-9cbb-4097-97b0-89fdbe6aabdb" Alias="pantone_288_block.jpg" Level="102">
  <Info>
    <Parent Key="21e132f1-a1b6-4bd7-917f-e0a031adb326">2025</Parent>
    <Path>/[-21]//pantone_288_blockjpg</Path>
    <Trashed Parent="21e132f1-a1b6-4bd7-917f-e0a031adb326">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-10T12:58:59</CreateDate>
    <NodeName Default="pantone_288_block.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "pantone_288_block.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>