<?xml version="1.0" encoding="utf-8"?>
<Media Key="be201500-6780-46a7-8098-a29e5fa525cd" Alias="people.svg" Level="3">
  <Info>
    <Parent Key="5b05fe93-341a-49ae-93a9-d0f29f504eef">SVG Icons</Parent>
    <Path>/ABP/SVGIcons/peoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-10T17:59:11</CreateDate>
    <NodeName Default="people.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4kuiexe1/people.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>