<?xml version="1.0" encoding="utf-8"?>
<Media Key="6af0f189-b669-4d46-bf1e-1621f35424a7" Alias="plymouth.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/plymouthjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:12</CreateDate>
    <NodeName Default="plymouth.jpg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ay3lnxaa/plymouth.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>