<?xml version="1.0" encoding="utf-8"?>
<Media Key="43d42d89-67b4-4117-9744-18e4ea796251" Alias="port-network.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/portNetworkpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-29T14:35:36</CreateDate>
    <NodeName Default="port-network.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a1tjf3o3/port-network.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>