<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b3a4428-0bc6-4ec6-b04d-a5b0f4f3a1a2" Alias="ports-talk-2016-winter.pdf" Level="5">
  <Info>
    <Parent Key="05ef6bc8-1d52-4849-bb01-230c705693a2">2016</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//portsTalk2016Winterpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:15:01</CreateDate>
    <NodeName Default="ports-talk-2016-winter.pdf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1mwmd05b/ports-talk-2016-winter.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>