<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7cd6dcc-b402-4925-8d7b-d3f566fe3532" Alias="port-of-teignmouth_at-the-heart-of-the-south-west-economy-and-community_flyer.pdf" Level="5">
  <Info>
    <Parent Key="6f0aac50-cc63-4f67-80d4-edf4d68bb791">2019</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//portOfTeignmouth_atTheHeartOfTheSouthWestEconomyAndCommunity_flyerpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:12:05</CreateDate>
    <NodeName Default="port-of-teignmouth_at-the-heart-of-the-south-west-economy-and-community_flyer.pdf" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h2cdmfzf/port-of-teignmouth_at-the-heart-of-the-south-west-economy-and-community_flyer.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>