<?xml version="1.0" encoding="utf-8"?>
<Media Key="5267a64e-bfd5-477f-84e4-e7043e49b4bc" Alias="project-cargo.png" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/projectCargopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:13</CreateDate>
    <NodeName Default="project-cargo.png" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yfwcdzf2/project-cargo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>