<?xml version="1.0" encoding="utf-8"?>
<Media Key="c50641e8-4347-4ebf-94ec-4b999eea6fe2" Alias="promobanner_399x215px_opt3.png" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/promobanner_399x215px_opt3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:13</CreateDate>
    <NodeName Default="promobanner_399x215px_opt3.png" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m4ffa2zo/promobanner_399x215px_opt3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>