<?xml version="1.0" encoding="utf-8"?>
<Media Key="d77d94a5-f7c3-4654-9591-4caf602f3a78" Alias="report-magazine-autumn-2019.pdf" Level="5">
  <Info>
    <Parent Key="6f0aac50-cc63-4f67-80d4-edf4d68bb791">2019</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//reportMagazineAutumn2019pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:11:58</CreateDate>
    <NodeName Default="report-magazine-autumn-2019.pdf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k14im35e/report-magazine-autumn-2019.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>