<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fb8acb0-10bd-4166-af13-f9f931b16d40" Alias="silloth.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/sillothjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:13</CreateDate>
    <NodeName Default="silloth.jpg" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h3tp3gou/silloth.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>