<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8b2d23d-ac09-4fd2-8f2d-2dc63b2fc0c5" Alias="spotlightbox_602x435px_opt3.png" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/spotlightbox_602x435px_opt3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:14</CreateDate>
    <NodeName Default="spotlightbox_602x435px_opt3.png" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wimpidta/spotlightbox_602x435px_opt3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>