<?xml version="1.0" encoding="utf-8"?>
<Media Key="758a7130-77ab-40f2-8e64-b6103b687c70" Alias="the-value-of-goods-report.pdf" Level="5">
  <Info>
    <Parent Key="05ef6bc8-1d52-4849-bb01-230c705693a2">2016</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//theValueOfGoodsReportpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:15:21</CreateDate>
    <NodeName Default="the-value-of-goods-report.pdf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ymmhdvmm/the-value-of-goods-report.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>