<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbd18f71-c970-42e4-a0df-5aed13a51f70" Alias="troon.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/troonjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:14</CreateDate>
    <NodeName Default="troon.jpg" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5zcjotiz/troon.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>