<?xml version="1.0" encoding="utf-8"?>
<Media Key="245dabfc-f9b8-4512-9f61-a4c3b88b60a5" Alias="uk-dredging-other-websites.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/ukDredgingOtherWebsitesjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:14</CreateDate>
    <NodeName Default="uk-dredging-other-websites.jpg" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/onqbxewr/uk-dredging-other-websites.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>