<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8aabe7f-2a42-40fd-b261-72055423a821" Alias="university-of-hull-logistics-institute-a-comparative-analysis-of-short-sea-import-and-export-routes-to-and-from-the-uk.pdf" Level="5">
  <Info>
    <Parent Key="6f0aac50-cc63-4f67-80d4-edf4d68bb791">2019</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//universityOfHullLogisticsInstituteAComparativeAnalysisOfShortSeaImportAndExportRoutesToAndFromTheUkpdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:12:20</CreateDate>
    <NodeName Default="university-of-hull-logistics-institute-a-comparative-analysis-of-short-sea-import-and-export-routes-to-and-from-the-uk.pdf" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rtlfcwdf/university-of-hull-logistics-institute-a-comparative-analysis-of-short-sea-import-and-export-routes-to-and-from-the-uk.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>