<?xml version="1.0" encoding="utf-8"?>
<Media Key="62e13989-a216-4d7b-8189-baa575e8a83f" Alias="wilson_eco-plaque-resize.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/wilson_ecoPlaqueResizejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:15</CreateDate>
    <NodeName Default="wilson_eco-plaque-resize.jpg" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a1zlpvd5/wilson_eco-plaque-resize.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>