<?xml version="1.0" encoding="utf-8"?>
<Media Key="8693ee6f-a917-41e3-b0a8-f84d1bbfe816" Alias="wind-turbine-resize.jpg" Level="2">
  <Info>
    <Parent Key="48490767-12b1-4528-b033-730bfa150d97">Abp Images</Parent>
    <Path>/AbpImages/windTurbineResizejpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-23T13:58:15</CreateDate>
    <NodeName Default="wind-turbine-resize.jpg" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2asnkmd4/wind-turbine-resize.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>