<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c944969-2f31-4deb-a42e-96b1d2ab1dd6" Alias="wylfa-newydd-brochure.pdf" Level="5">
  <Info>
    <Parent Key="d1fafd0f-6dc8-46b4-8145-15554d170c45">2015</Parent>
    <Path>/abports/InvestorRelations/PublicationsDownload//wylfaNewyddBrochurepdf</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-11-18T15:16:21</CreateDate>
    <NodeName Default="wylfa-newydd-brochure.pdf" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tiqh4law/wylfa-newydd-brochure.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>