<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8ce7dea-841f-4da2-85cb-ece72554fb93" Alias="youtubeicon.png" Level="2">
  <Info>
    <Parent Key="71332aa7-8bea-44f1-9aa6-00de961b66e8">Social Icons</Parent>
    <Path>/SocialIcons/youtubeiconpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-26T15:17:36</CreateDate>
    <NodeName Default="youtubeicon.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mw1jq5tw/youtubeicon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>